<div style="display: flex; flex-direction: row;">
  <div class="user-mapping">
  <p-table #dt2 [resizableColumns]="false"
           [value]="selectedDynamicMappingTable" sortField="value" [globalFilterFields]="['value']">

    <ng-template pTemplate="caption">
      <div style="text-align: left">
        <div class="input-group" style="margin-left: 10px;">
          <div class="input-group-prepend" style="height: 35px;">
            <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-filter"></i></span>
          </div>
          <input (input)="dt2.filterGlobal($event.target.value, 'contains')" class="form-control" placeholder="Search by name"
                 style="background-color: #f0f0f0; text-align: left; height: 35px;" type="text">  <button class="btn btn-primary" (click)="addMapping()" *ngIf="!viewOnly"> <i class="fa fa-plus"></i>Add mapping</button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Reference Value</th>
        <th>User Mapping</th>
        <th style="width: 20%" *ngIf="!viewOnly"></th>
      </tr>
    </ng-template>
    <ng-template let-rowData let-index pTemplate="body">
      <tr>
        <td>{{rowData.value}}
        </td>
        <td #anchor>
          <ng-container *ngIf="this.namingMap[rowData.value]">

          <p-dropdown [(ngModel)]="map[rowData.value]" [appendTo]="anchor" [optionLabel]="'fixedName'" *ngIf="!viewOnly"
                      [options]="namingMap[rowData.value]" [style]="{'minWidth':'100%'}"
                      [placeholder]="'Default HL7 '+ rowData.value" (onChange)="modelChange($event)">
            <ng-template let-item pTemplate="selectedItem">
              <ng-container *ngIf="item.value">
                <app-display-section [element]="item.value" [hideDescription]="true"></app-display-section>
              </ng-container>
            </ng-template>
            <ng-template let-item pTemplate="item">
              <app-display-section [element]="item.value" [hideDescription]="true"></app-display-section>
            </ng-template>
          </p-dropdown>
          <app-display-section  *ngIf="viewOnly" [element]="map[rowData.value]" [hideDescription]="true"></app-display-section>
          </ng-container>
          <ng-container *ngIf="!this.namingMap[rowData.value]">
            <span style="color: red"><i class="fa fa-warning"></i> No Data type found in the IG</span>
          </ng-container>
        </td>
        <td style="width: 20%" *ngIf="!viewOnly">
          <button (click)="remove(rowData.value)" class="btn btn-danger btn-sm" style="float: right">
            <i class="fa fa-remove"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  </div>
</div>
