
{{map|json}}
<p-table #dt1 sortField="value"
         [resizableColumns]="false" [value]="valueSet?.codes" selectionMode="checkbox">
  <ng-template pTemplate="header">
    <tr>
      <th>Data Type</th>
      <th>Description</th>
      <th>Mapping</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>{{rowData.value}}</td>
      <td>{{rowData.description}}</td>
      <td #anchor>
        <p-dropdown [(ngModel)]="map[rowData.value]" (onShow)="getOptions(rowData)"
                    [optionLabel]="'fixedName'" [options]="datatypesOptionsMap[rowData.value]" [appendTo]="anchor" placeholder="Default HL7" [style]="{'minWidth':'100%'}">
          <ng-template let-item pTemplate="selectedItem">
            <ng-container *ngIf="item.value">
              <app-display-section [element]="item.value"></app-display-section>
            </ng-container>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <app-display-section [element]="item.value"></app-display-section>
          </ng-template>
        </p-dropdown>
    </tr>
  </ng-template>
</p-table>

