<h2 mat-dialog-title>{{data.type}} Reports for IG</h2>

<p-progressBar mode="indeterminate" *ngIf="!reports"></p-progressBar>

<mat-dialog-content *ngIf="reports && data.type === 'Compliance'">
    <p-accordion>
        <p-accordionTab header="Conformance Profiles Compliance Results">
            <p-table *ngIf="reports.conformanceProfileComplianceResults" [value]="reports.conformanceProfileComplianceResults">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 30em">Name</th>
                        <th>Errors</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr *ngIf="item.errors && item.errors.length > 0">
                        <td>
                            <app-scope-badge [scope]="item.metadata.domainInfo.scope" [version]="item.metadata.domainInfo.version"></app-scope-badge>
                            <span> {{item.metadata.name}}<ng-container *ngIf="item.metadata.extension">{{'-' + item.metadata.extension}}</ng-container></span>
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let error of item.errors">
                                    <span class="badge error-{{error.severity}}">{{error.severity}}</span>&nbsp;
                                    <span class="badge error-code">{{error.code}}</span>&nbsp;
                                    <span>{{error.description}}</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
</mat-dialog-content>

<mat-dialog-content *ngIf="reports && data.type === 'Verification'">
    <div><label><span class="badge error-FATAL">FATAL</span>: IGAMT cannot generate the XML profile; Downstream tools would not be able to process XML</label></div>
    <div><label><span class="badge error-ERROR">ERROR</span>: IGAMT can generate the XML, user should fix in the profile before exporting XML and using downstream tools</label></div>
    <div><label><span class="badge error-WARNING">WARNING</span>: User should consider providing correct values not necessary for downstream tools process.</label></div>
    <div><label><span class="badge error-INFO">INFORMATIONAL</span>: User should consider changing the value.</label></div>

    <p-accordion *ngIf="errorCounts">
        <p-accordionTab>
            <p-header>
                IG Document Verification Results <span class="badge error-FATAL">{{errorCounts[4][0]}}</span><span class="badge error-ERROR">{{errorCounts[4][1]}}</span><span class="badge error-WARNING">{{errorCounts[4][2]}}</span><span class="badge error-INFO">{{errorCounts[4][3]}}</span>
            </p-header>
<!--
            <p-table [value]="igVerificationResultTable">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 15em">Error Code</th>
                        <th style="width: 5em">Severity</th>
                        <th style="width: 5em">Location</th>
                        <th>Description</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td><span class="badge error-code">{{item.code}}</span></td>
                        <td><span class="badge error-{{item.severity}}">{{item.severity}}</span></td>&nbsp;
                        <td>
                            <app-scope-badge [scope]="item.targetMeta.domainInfo.scope" [version]="item.targetMeta.domainInfo.version"></app-scope-badge>
                            <span> {{item.targetMeta.name}}<ng-container *ngIf="item.targetMeta.extension">{{'-' + item.targetMeta.extension}}</ng-container></span>
                        </td>
                        <td>{{item.description}}</td>
                    </tr>
                </ng-template>
            </p-table>
-->
            <ul *ngIf="reports.igVerificationResult">
                <li *ngFor="let error of reports.igVerificationResult.errors">
                    <span class="badge error-{{error.severity}}">{{error.severity}}</span>&nbsp;
                    <span class="badge error-code">{{error.code}}</span>&nbsp;
                    <span>{{error.description}}</span>
                </li>
            </ul>
        </p-accordionTab>
        <p-accordionTab>
            <p-header>
                Conformance Profiles Verification Results <span class="badge error-FATAL">{{errorCounts[3][0]}}</span><span class="badge error-ERROR">{{errorCounts[3][1]}}</span><span class="badge error-WARNING">{{errorCounts[3][2]}}</span><span class="badge error-INFO">{{errorCounts[3][3]}}</span>
            </p-header>
            <p-table *ngIf="reports.conformanceProfileVerificationResults" [value]="reports.conformanceProfileVerificationResults">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 30em">Name</th>
                        <th>Errors</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr *ngIf="item.errors && item.errors.length > 0">
                        <td>
                            <app-scope-badge [scope]="item.metadata.domainInfo.scope" [version]="item.metadata.domainInfo.version"></app-scope-badge>
                            <span> {{item.metadata.name}}<ng-container *ngIf="item.metadata.extension">{{'-' + item.metadata.extension}}</ng-container></span>
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let error of item.errors">
                                    <span class="badge error-{{error.severity}}">{{error.severity}}</span>&nbsp;
                                    <span class="badge error-code">{{error.code}}</span>&nbsp;
                                    <span>{{error.description}}</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab>
            <p-header>
                Segments Verification Results <span class="badge error-FATAL">{{errorCounts[2][0]}}</span><span class="badge error-ERROR">{{errorCounts[2][1]}}</span><span class="badge error-WARNING">{{errorCounts[2][2]}}</span><span class="badge error-INFO">{{errorCounts[2][3]}}</span>
            </p-header>
            <p-table *ngIf="reports.segmentVerificationResults" [value]="reports.segmentVerificationResults">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 30em">Name</th>
                        <th>Errors</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr *ngIf="item.errors && item.errors.length > 0">
                        <td>
                            <app-scope-badge [scope]="item.metadata.domainInfo.scope" [version]="item.metadata.domainInfo.version"></app-scope-badge>
                            <span> {{item.metadata.name}}<ng-container *ngIf="item.metadata.extension">{{'-' + item.metadata.extension}}</ng-container></span>
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let error of item.errors">
                                    <span class="badge error-{{error.severity}}">{{error.severity}}</span>&nbsp;
                                    <span class="badge error-code">{{error.code}}</span>&nbsp;
                                    <span>{{error.description}}</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab>
            <p-header>
                Datatypes Verification Results <span class="badge error-FATAL">{{errorCounts[1][0]}}</span><span class="badge error-ERROR">{{errorCounts[1][1]}}</span><span class="badge error-WARNING">{{errorCounts[1][2]}}</span><span class="badge error-INFO">{{errorCounts[1][3]}}</span>
            </p-header>
            <p-table *ngIf="reports.datatypeVerificationResults" [value]="reports.datatypeVerificationResults">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 30em">Name</th>
                        <th>Errors</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr *ngIf="item.errors && item.errors.length > 0">
                        <td>
                            <app-scope-badge [scope]="item.metadata.domainInfo.scope" [version]="item.metadata.domainInfo.version"></app-scope-badge>
                            <span> {{item.metadata.name}}<ng-container *ngIf="item.metadata.extension">{{'-' + item.metadata.extension}}</ng-container></span>
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let error of item.errors">
                                    <span class="badge error-{{error.severity}}">{{error.severity}}</span>&nbsp;
                                    <span class="badge error-code">{{error.code}}</span>&nbsp;
                                    <span>{{error.description}}</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab>
            <p-header>
                Valuesets Verification Results <span class="badge error-FATAL">{{errorCounts[0][0]}}</span><span class="badge error-ERROR">{{errorCounts[0][1]}}</span><span class="badge error-WARNING">{{errorCounts[0][2]}}</span><span class="badge error-INFO">{{errorCounts[0][3]}}</span>
            </p-header>
            <p-table *ngIf="reports.valuesetVerificationResults" [value]="reports.valuesetVerificationResults">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 30em">Name</th>
                        <th>Errors</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr *ngIf="item.errors && item.errors.length > 0">
                        <td>
                            <app-scope-badge [scope]="item.metadata.domainInfo.scope" [version]="item.metadata.domainInfo.version"></app-scope-badge>
                            <span> {{item.metadata.bindingIdentifier}}<ng-container *ngIf="item.metadata.name">{{'-' + item.metadata.name}}</ng-container></span>
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let error of item.errors">
                                    <span class="badge error-{{error.severity}}">{{error.severity}}</span>&nbsp;
                                    <span class="badge error-code">{{error.code}}</span>&nbsp;
                                    <span>{{error.description}}</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
</mat-dialog-content>



<mat-dialog-actions style="justify-content: flex-end;">
    <button (click)="cancel()" class="btn btn-sm btn-info" style="margin-right: 5px;">Close</button>
</mat-dialog-actions>
