<div *ngIf="action !== 'UNCHANGED'" style="width: 100%;">
  <div *ngIf="action !== 'REMOVED' && currentValue !== 'NA' && currentValue" [class]="'delta-current ' + (styleClassCurrent ? styleClassCurrent : '')" [ngClass]="{'delta-updated': action === 'UPDATED' }">
    <ng-container *ngTemplateOutlet="current ? current : default; context: { $implicit: currentValue }"></ng-container>
  </div>
  <div *ngIf="action !== 'ADDED' && previousValue !== 'NA' && previousValue" [class]="'delta-previous ' + (styleClassPrevious ? styleClassPrevious : '')" [ngClass]="{'delta-updated': action === 'UPDATED' }">
    <ng-container *ngTemplateOutlet="previous ? previous : default; context: { $implicit: previousValue }"></ng-container>
  </div>
</div>
<div *ngIf="action === 'UNCHANGED' && currentValue !== 'NA' && currentValue " [class]="styleClassUnchanged ? styleClassUnchanged : ''">
  <ng-container *ngTemplateOutlet="default; context: { $implicit: currentValue }"></ng-container>
</div>
