<ul *ngIf="!(loggedIn | async)" class="navbar-nav">
  <li class="nav-item" routerLink="login" routerLinkActive="active">
    <a class="nav-link">Login</a>
  </li>
  <li class="nav-item" routerLink="register" routerLinkActive="active">
    <a class="nav-link">Register</a>
  </li>
</ul>
<ul *ngIf="(loggedIn | async) && (username | async)" class="navbar-nav username-label">
  <li class="nav-item" ngbDropdown>
    <span class="nav-link" href="#" ngbDropdownToggle><i class="fa fa-user"></i> {{username | async}} </span>
    <div ngbDropdownMenu>
      <button ngbDropdownItem (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
    </div>
  </li>
</ul>
