<div>
  <div class="p-grid p-align-start" style="margin: 0; padding: 50px;">
    <div class="p-col-12 p-align-center" style="text-align: center; color: wheat; height: 10%;">
      <h2>Welcome to HL7 Implementation Guide Authoring and Management Tool !</h2>
    </div>
    <div class="p-col-12">
      <p-card header="What is IGAMT ?" [styleClass]="'fill_height'">
        <p>
          IGAMT is a tool used to create HL7 v2.x implementation guides that contain one or more conformance profiles.
          The tool provides capabilities to create both narrative text (akin to a word processing program) and
          messaging
          requirements in a structured environment. IGAMT contains a model of all the message events for every version
          of the HL7 v2 standard. Users begin by selecting the version of the HL7 v2 standard and the message events
          they want to include and refine (constrain) in their implementation guide.
        </p>
      </p-card>
    </div>
    <div class="p-col-12">
      <p-card header="Note to Users" [styleClass]="'fill_height'">
        <p>
          <strong style="color: red;">IGAMT is a work-in-progress and is in a constant state of change. Many core
            features exist and IGAMT
            has been used to create complete Implementation Guides in pilot projects. However, be aware that new
            features may not be completely functionality and some existing features will change. Also, we are
            currently
            working on integration with the NIST validation tool. If you have issues, please contact us or join the
            IGAMT Google Group to post questions.</strong>
        </p>
      </p-card>
    </div>
    <div class="p-col-12">
      <p-card header=" Have a question ?" [styleClass]="'fill_height'">
        <p>
          A Google Group NIST-IGAMT has been established for discussion/questions about the tool. No membership is
          required. A Google account is required for posting.
        </p>
        <ul>
          <li><strong>Google Group:</strong> https://groups.google.com/forum/#!forum/nist-igamt</li>
          <li><strong>Email:</strong> nist-igamt@googlegroups.com</li>
        </ul>
      </p-card>
    </div>
  </div>
</div>
