  <div  style="margin: 0; padding: 25px;">
    <div style="text-align: center; color: wheat; height: 10%; margin-bottom: 25px;">
      <h2>Welcome to HL7 Implementation Guide Authoring and Management Tool !</h2>
    </div>
    <div style="display: grid; grid-template-columns: 1fr; gap: 15px;">
      <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 15px;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Note to Users</h5>
            The NIST Implementation Guide Authoring and Management Tool (IGAMT) is part of the NIST HL7 v2 Standards
            Development and Testing Platform. IGAMT is a tool used to create HL7 v2.x implementation guides that contain
            one or more conformance profiles. The tool provides capabilities to create both narrative text
            (similar to a word processing program) and messaging requirements in a structured environment
            . IGAMT contains a model of all the message events for every version of the HL7 v2 standard.
            Users begin by selecting the version of the HL7 v2 standard and the message events they want
            to include and refine (constrain) in their implementation guide.
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Have a question ?</h5>
            <p>
              A Google Group NIST-IGAMT has been established for discussion/questions about the tool. No membership is
              required. A Google account is required for posting.
            </p>
            <ul>
              <li><strong>Google Group:</strong> <a target="_blank"  href="https://groups.google.com/forum/#!forum/nist-igamt" >https://groups.google.com/forum/#!forum/nist-igamt </a></li>
              <li><strong>Email:</strong><a href="mailto:nist-igamt@googlegroups.com"> nist-igamt@googlegroups.com </a></li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Supported Browsers</h5>
            <p style="text-align: justify">The following browsers are supported:</p>
            <ul>
              <li>Chrome <span style="color:red">(Recommended)</span></li>
              <li>Firefox <span style="color:red"></span></li>
              <li>Safari</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body" style="display: flex; flex-direction: column;">
          <h5 class="card-title" style="text-align: center;">NIST HL7 v2 Standards Development and Testing Platform</h5>
          <img style="object-fit: none; height: 300px;"  src="../../../../../assets/framework.png"/>
          <br>
          <div>
            <div style="text-align: justify;">
              <strong>Implementation Guide Authoring & Management Tool (IGAMT) </strong> is a profiling tool used to create HL7 v2.x implementation guides; output of IGAMT includes machine-computable artifacts used to (1) generate validation tools for Context-free Testing in GVT (2) generate profiles that are imported into TCAMT for development of Test Cases used for Context-based Testing in GVT
            </div>
            <br>
            <div style="text-align: justify;">
              <strong>Test Case Authoring & Management Tool (TCAMT) </strong> is used to create scenario-based Test Cases to support Context-based Testing; machine-computable artifacts from IGAMT are imported into TCAMT and serve as the basis for creating the Test Cases
            </div>
            <br>
            <div style="text-align: justify;">
              <strong> General Validation Tool (GVT) </strong> utilizes artifacts developed in IGAMT for Context-free Testing and in TCAMT for Context-based Testing
              <ul>
                <li> <strong>Context-free Testing:</strong> provides validation of an HL7 v2 message based on the technical requirements defined in a conformance profile</li>
                <li> <strong>  Context-based Testing:</strong> provides validation of an HL7 v2 message based on the technical requirements defined in a conformance profile and with a provided context. The context is provided through the means of a directed test case. Context-based testing expands the scope of testing</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
