<ng-container *ngIf="mode === 'GROUP'">
  <label for="groupName" style="font-weight: bold;" >Co-Constraint Group Name : </label>
  <input name="groupName" type="text" class="form-control" style="margin-bottom: 5px;" [(ngModel)]="value.name" (ngModelChange)="emitChange()" >
  <label style="font-weight: bold;" >Table : </label>
</ng-container>
<form #tableForm="ngForm" >
  <table *ngIf="value" class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th rowspan="2" style="width: 54px;" class="stick-header stick-top-none">
          <button class="btn btn-sm btn-primary" (click)="addCoConstraint(value.coConstraints)">
            <i class="fa fa-plus"></i>
          </button>
        </th>
        <th rowspan="2" class="requirement-cell stick-header stick-top-none">ID</th>
        <th rowspan="2" class="requirement-cell stick-header stick-top-none">Usage</th>
        <th rowspan="2" class="requirement-cell column-border stick-header stick-top-none">Cardinality</th>
        <ng-container *ngTemplateOutlet="columnHeader; context: { $implicit: 'If', list: value.headers.selectors, isDataHeader: true }"></ng-container>
        <ng-container *ngTemplateOutlet="columnHeader; context: { $implicit: 'Then', list: value.headers.constraints, isDataHeader: true  }"></ng-container>
        <ng-container *ngTemplateOutlet="columnHeader; context: { $implicit: 'Narratives', list: value.headers.narratives, isDataHeader: false  }"></ng-container>
      </tr>
      <tr>
        <ng-container *ngTemplateOutlet="value.headers.selectors.length > 0 ? columns : emptyColumn; context: { $implicit: value.headers.selectors, template: dataHeader }"></ng-container>
        <ng-container *ngTemplateOutlet="value.headers.constraints.length > 0 ? columns : emptyColumn; context: { $implicit: value.headers.constraints, template: dataHeader }"></ng-container>
        <ng-container *ngTemplateOutlet="value.headers.narratives.length > 0 ? columns : emptyColumn; context: { $implicit: value.headers.narratives, template: narrativeHeader }"></ng-container>
      </tr>
    </thead>
    <ng-container *ngTemplateOutlet="ccList; context: { $implicit: value.coConstraints, group : mode === 'GROUP', fieldId : 'ind' }"></ng-container>
    <ng-container *ngFor="let group of value.groups; let i = index">
      <ng-container [ngSwitch]="group.type" >
        <ng-container *ngSwitchCase="'REF'">
          <ng-container *ngTemplateOutlet="ccGroupRef; context: { $implicit: group, list : value.groups, index: i }"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'CONTAINED'">
          <ng-container *ngTemplateOutlet="ccGroup; context: { $implicit: group, list : value.groups, index: i }"></ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </table>

  <!-- COLUMNS TOP HEADER -->
  <ng-template #columnHeader let-label let-list="list" let-isDataHeader="isDataHeader">
    <th [attr.colspan]="listSize(list)" class="column-border stick-header stick-top-none">
      <div style="display: flex; justify-content: space-between;">
        <span>{{label}}</span>
        <button class="btn btn-sm btn-primary" (click)="isDataHeader ? openDataColumnDialog(list) : openNarrativeColumnDialog(list)">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </th>
  </ng-template>

  <!-- COLUMNS DYNAMIC COLLUMN -->
  <ng-template #columns let-list let-template="template">
    <ng-container *ngFor="let header of list; let i = index">
        <ng-container *ngTemplateOutlet="template; context: { $implicit: header, list: list, index : i }"></ng-container>
    </ng-container>
  </ng-template>

  <!-- EMPTY COLUMN -->
  <ng-template #emptyColumn>
    <th class="column empty-column column-border stick-header stick-top-pad"></th>
  </ng-template>

  <!-- DATA HEADER -->
  <ng-template #dataHeader let-header let-list="list" let-index="index">
    <th class="column stick-header stick-top-pad" [ngClass]="{'column-border': index === (list.length - 1) && !header.cardinality, 'inside-border' :  index !== (list.length - 1) && !header.cardinality }">
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <div *ngIf="!header._keep">
          <button class="btn btn-sm btn-danger" (click)="deleteColumn(list, header, index)"><i class="fa fa-times"></i></button>
        </div>
        <div style="width: 100%; text-align: center;">
          <span class="badge badge-secondary">{{header.columnType}}</span>
          <app-entity-bagde [type]="header.elementInfo.type"></app-entity-bagde>
          <span style="margin-left: 3px;">{{header.name}}</span>
        </div>
      </div>
    </th>
    <th *ngIf="header.cardinality" style="text-align: center; vertical-align: middle; width: 60px;" class="stick-header stick-top-pad" [ngClass]="{'column-border': index === (list.length - 1), 'inside-border' : index !== (list.length - 1) }">
      Cardinality
    </th>
  </ng-template>

  <!-- NARRATIVE HEADER -->
  <ng-template #narrativeHeader let-header let-list="list" let-index="index">
    <th class="column" [ngClass]="{'column-border': index === (list.length - 1)}">
      <div style="width: 100%; text-align: center; display: flex;  align-items: center; justify-content: space-between;" >
        <button *ngIf="!header._keep" class="btn btn-sm btn-danger" (click)="deleteColumn(list, header, index)"><i class="fa fa-times"></i></button>
        <div style="width: 100%; text-align: center;" >
          <span class="badge badge-secondary">TEXT</span>
          <span style="margin-left: 3px;">{{header.title}}</span>
        </div>
      </div>
    </th>
  </ng-template>

  <!-- REQUIREMENTS -->
  <ng-template #usage let-elm let-disabled="disabled" let-fieldId="fieldId" let-viewOnly="viewOnly" >
    <p-dropdown
      *ngIf="!viewOnly"
      [options]="usages"
      [style]="{'width': '60px', 'min-width': 'inherit'}"
      [disabled]="disabled"
      (ngModelChange)="emitChange()"
      [name]="fieldId + '-usage'"
      required
      [(ngModel)]="elm.usage" >
    </p-dropdown>
    <strong *ngIf="viewOnly">{{elm.usage}}</strong>
  </ng-template>

  <ng-template #cardinality let-elm let-fieldId="fieldId" let-viewOnly="viewOnly" >
    <div style="width : 100%; display: flex;" *ngIf="!viewOnly">
      <input
        style="width: 50px;"
        type="number"
        [(ngModel)]="elm.cardinality.min"
        [name]="fieldId + '-min'"
        (ngModelChange)="emitChange()"
        class="form-control"
        required >
      <input
        style="width: 50px;"
        type="text"
        [(ngModel)]="elm.cardinality.max"
        [name]="fieldId + '-max'"
        (ngModelChange)="emitChange()"
        class="form-control"
        required >
    </div>
    <div style="width : 100%;" *ngIf="viewOnly">
      <strong>{{elm.cardinality.min}}</strong>
      <span>..</span>
      <strong>{{elm.cardinality.max}}</strong>
    </div>
  </ng-template>

  <!-- STRUCTURE -->
  <ng-template #ccList let-list let-group="group" let-fieldId="fieldId" let-viewOnly="viewOnly">
    <tbody cdkDropList [cdkDropListData]="list" (cdkDropListDropped)="drop($event)">
      <tr *ngFor="let cc of list; let i = index" cdkDrag [cdkDragDisabled]="viewOnly">
        <div *cdkDragPreview style="padding: 10px; background-color: lightcoral;"> Co-Constraint ({{ i + 1 }}) </div>
        <td class="btn-cell"><button *ngIf="!viewOnly" class="btn btn-sm btn-danger" (click)="deleteCoConstraint(list, i)"><i class="fa fa-times"></i></button></td>
        <td class="requirement-cell" style="text-align: center;">
          <table *ngIf="i === 0 && group" style="width: 100%;">
            <tr class="table-primary">
              <td> primary </td>
            </tr>
            <tr>
              <td>{{i + 1}}</td>
            </tr>
          </table>
          <span *ngIf="i !== 0 || !group">{{ i + 1 }}</span>
        </td>
        <td class="requirement-cell"><ng-container *ngTemplateOutlet="usage; context: { $implicit: cc.requirement, disabled :  i === 0 && group, fieldId : fieldId + '-req-' + i, viewOnly : viewOnly }"></ng-container></td>
        <td class="requirement-cell column-border"><ng-container *ngTemplateOutlet="cardinality; context: { $implicit: cc.requirement, fieldId : fieldId + '-req-' + i, viewOnly : viewOnly }"></ng-container></td>
        <ng-container *ngTemplateOutlet="cellList; context: { $implicit: cc, headers: value.headers.selectors, fieldId : fieldId + '-if-' + i, viewOnly : viewOnly }"></ng-container>
        <ng-container *ngTemplateOutlet="cellList; context: { $implicit: cc, headers: value.headers.constraints, fieldId : fieldId + '-then-' + i, viewOnly : viewOnly }"></ng-container>
        <ng-container *ngTemplateOutlet="cellList; context: { $implicit: cc, headers: value.headers.narratives, fieldId : fieldId + '-nar-' + i, viewOnly : viewOnly }"></ng-container>
      </tr>
    </tbody>
  </ng-template>

  <!-- STRUCTURE -->
  <ng-template #ccGroup let-group let-list="list" let-index="index" >
    <tbody>
      <tr style="background-color: gray;">
        <td class="btn-cell" colspan="2">
          <button class="btn btn-sm btn-primary" (click)="addCoConstraint(group.coConstraints)">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteCoConstraintGroup(list, index)"><i class="fa fa-minus"></i></button>
        </td>
        <td class="requirement-cell"><ng-container *ngTemplateOutlet="usage; context: { $implicit: group.requirement, fieldId : 'g-' + index  }"></ng-container></td>
        <td class="requirement-cell"><ng-container *ngTemplateOutlet="cardinality; context: { $implicit: group.requirement, fieldId : 'g-' + index  }"></ng-container></td>
        <td [attr.colspan]="numberOfColumns()" style="vertical-align: middle;">
          <input class="form-control" type="text" [name]="'g-' + index + '-name'" [(ngModel)]="group.name" placeholder="Group Name">
        </td>
      </tr>
    </tbody>
    <ng-container *ngTemplateOutlet="ccList; context: { $implicit: group.coConstraints, group : true, fieldId : 'g-' + index }"></ng-container>
  </ng-template>

  <ng-template #ccGroupRef let-group let-list="list" let-index="index" >
    <ng-container *ngIf="groupsMap[group.refId] as content">
      <tbody>
        <tr style="background-color: gray;">
          <td class="btn-cell" colspan="2">
            <button class="btn btn-sm btn-danger" (click)="deleteCoConstraintGroup(list, index)"><i class="fa fa-minus"></i></button>
          </td>
          <td class="requirement-cell"><ng-container *ngTemplateOutlet="usage; context: { $implicit: group.requirement, fieldId : 'g-' + index  }"></ng-container></td>
          <td class="requirement-cell"><ng-container *ngTemplateOutlet="cardinality; context: { $implicit: group.requirement, fieldId : 'g-' + index  }"></ng-container></td>
          <td [attr.colspan]="numberOfColumns()" style="vertical-align: middle;">
            <app-entity-bagde [type]="'COCONSTRAINTGROUP'"></app-entity-bagde>
            <strong style="color: white; margin-left: 5px;">{{ content.name }}</strong>
          </td>
        </tr>
      </tbody>
      <ng-container *ngTemplateOutlet="ccList; context: { $implicit: content.coConstraints, group : true, fieldId : 'g-' + index, viewOnly: true }"></ng-container>
    </ng-container>
  </ng-template>

  <!-- CELLS -->
  <ng-template #cellList let-headers="headers" let-cc let-fieldId="fieldId" let-viewOnly="viewOnly">
    <ng-container *ngIf="headers.length > 0; else emptyColumn">
      <ng-container *ngFor="let header of headers; let i = index">
        <td #anchor class="column"  [ngClass]="{'column-border': i === (headers.length - 1) && !header.cardinality, 'inside-border' : i !== (headers.length - 1) && !header.cardinality }" *ngIf="cc.cells[header.key]; else emptyColumn" >
          <ng-container *ngTemplateOutlet="getCellTemplate(header); context: { $implicit: cc.cells[header.key], header: header, id: cc.id, row: cc, fieldId : fieldId + '-' + header.key, viewOnly: viewOnly, anchor: anchor }"></ng-container>
        </td>
        <td *ngIf="header.cardinality" [ngClass]="{'column-border': i === (headers.length - 1), 'inside-border' :  i !== (headers.length - 1) }" style="vertical-align: middle; text-align: center;">
          <input *ngIf="!viewOnly" type="text" style="width: 100px;" [placeholder]="header.elementInfo.cardinality.max" [name]="fieldId + '-cardinality'" [(ngModel)]="cc.cells[header.key].cardinalityMax" (ngModelChange)="emitChange()" >
          <strong *ngIf="viewOnly"> {{ cc.cells[header.key].cardinalityMax || header.elementInfo.cardinality.max }}</strong>
        </td>
      </ng-container>
    </ng-container>
  </ng-template>

  <!-- CELLS -->
  <ng-template #codeCell let-header="header" let-cell let-fieldId="fieldId" let-viewOnly="viewOnly" let-anchor="anchor">
    <div style="width: 100%; display: flex; justify-content: space-between;" *ngIf="!viewOnly">
      <input
        type="text"
        [name]="fieldId + '-code'"
        [(ngModel)]="cell.code"
        (ngModelChange)="emitChange()"
        class="form-control"
        placeholder="Code"
        required
        style="width: 50%;">
      <input
        type="text"
        [name]="fieldId + '-codeSys'"
        [(ngModel)]="cell.codeSystem"
        (ngModelChange)="emitChange()"
        class="form-control"
        required
        placeholder="Code System"
        style="width: 50%;">
    </div>
    <div *ngIf="viewOnly" style="width: 100%; display: flex; justify-content: space-between;">
      <strong> Code : </strong>
      <span> {{ cell.code }} </span>
      <strong> Code System : </strong>
      <span> {{ cell.codeSystem }} </span>
    </div>
    <p-multiSelect
      *ngIf="!viewOnly"
      [(ngModel)]="cell.locations"
      (ngModelChange)="emitChange()"
      [appendTo]="anchor"
      [options]="locations"
      [name]="fieldId + '-location'"
      [style]="{ width : '100%', 'min-width': 'inherit'}"
      defaultLabel="Choose locations">
    </p-multiSelect>
    <div *ngIf="viewOnly && cell.locations">
      <strong> Locations : </strong>
      <span> {{ cell.locations | json }} </span>
    </div>
  </ng-template>

  <ng-template #narrativeCell let-header="header" let-cell let-fieldId="fieldId" let-viewOnly="viewOnly">
    <textarea class="form-control" [(ngModel)]="cell.value" [name]="fieldId + '-textArea'" (ngModelChange)="emitChange()" [disabled]="viewOnly" ></textarea>
  </ng-template>

  <ng-template #datatypeCell let-header="header" let-id="id" let-row="row" let-cell let-fieldId="fieldId" let-viewOnly="viewOnly" let-anchor="anchor" >
    <table class="table table-sm" style="margin-bottom: 0px;">
      <tr>
        <td style="text-align: center; vertical-align: middle; width: 60px;" >
          <strong>Value</strong>
        </td>
        <td>
          <div #val ></div>
          <p-dropdown
            *ngIf="!viewOnly"
            [autoDisplayFirst]="false"
            [options]="datatypeOptions"
            [style]="{'width': '100%', 'min-width': 'inherit'}"
            placeholder="Datatype"
            [appendTo]="val"
            [name]="fieldId + '-dtValue'"
            [filter]="true"
            required
            (ngModelChange)="datatypeValueChange($event, cell)"
            [(ngModel)]="cell.value" >
          </p-dropdown>
          <span *ngIf="viewOnly"> {{ cell.value }} </span>
        </td>
      </tr>
      <tr *ngIf="cell.value">
        <td style="text-align: center; vertical-align: middle; width: 60px;">
          <strong>Flavor</strong>
        </td>
        <td>
          <div #fl ></div>
          <app-resource-dropdown
            *ngIf="!viewOnly"
            [placeholder]="'Flavor'"
            [name]="fieldId + '-dtFlavor'"
            [filter]="true"
            [filterBy]="cell.value"
            [appendTo]="fl"
            [(id)]="cell.datatypeId"
            (valueChange)="datatypeChange($event, row)"
            [resources]="datatypes"
          ></app-resource-dropdown>
          <app-display-section
            *ngIf="viewOnly"
            [element]="getDatatype(cell.datatypeId)"
            [hideDescription]="true"
          >
          </app-display-section>
        </td>
      </tr>
    </table>
  </ng-template>

  <ng-template #valueSetCell let-header="header" let-cell let-viewOnly="viewOnly">
    <div style="width: 100%; display: flex; justify-content: space-between; align-items: start;">
      <div style="margin-right: 5px; width: 100%;">
        <ng-container *ngFor="let item of cell.bindings">
          <ng-container *ngTemplateOutlet="displayVsBinding; context: { $implicit : item }"></ng-container>
        </ng-container>
      </div>
      <button *ngIf="!viewOnly" class="btn btn-sm btn-primary" (click)="openVsPicker(cell, header)"><i class="fa fa-pencil"></i></button>
    </div>
  </ng-template>

  <ng-template #displayVsBinding let-vsBinding>
    <table class="table table-striped table-sm table-bordered" style="text-align: center; margin-bottom: 0;">
      <tr>
        <td pTooltip="Binding Strength" tooltipPosition="top">
          <strong>{{vsBinding.strength}}</strong>
        </td>
        <td pTooltip="Binding Locations" tooltipPosition="top">
          <strong>{{vsBinding.valuesetLocations.length > 0 ? (vsBinding.valuesetLocations | json) : '.'}}</strong>
        </td>
      </tr>
      <tr *ngFor="let itemId of vsBinding.valueSets" >
        <td colspan="2" *ngIf="getVsById(itemId) as item">
          <div [pTooltip]="item.description" tooltipPosition="top" style="display: flex; flex-direction: row; align-items: center;">
            <app-entity-bagde [type]="item.type"></app-entity-bagde>
            <app-scope-badge *ngIf="item.domainInfo" [scope]="item.domainInfo.scope" [version]="item.domainInfo.version"></app-scope-badge>
            <strong *ngIf="item.variableName" style="margin-left: 5px; word-break: break-all;"> {{item.variableName}}</strong>
          </div>
        </td>
      </tr>
    </table>
  </ng-template>

  <ng-template #valueCell let-header="header" let-cell let-fieldId="fieldId" let-viewOnly="viewOnly" >
    <input type="text" [(ngModel)]="cell.value" class="form-control" [name]="fieldId + '-value'" placeholder="Constant Value" (ngModelChange)="emitChange()" *ngIf="!viewOnly">
    <div  *ngIf="viewOnly" style="text-align: center; width: 100%;">
      <span>{{cell.value}}</span>
    </div>
  </ng-template>

  <ng-template #variesCell let-header="header" let-id="id" let-cell let-viewOnly="viewOnly">
    <div class="btn-group" style="width: 100%; border: 1px solid gray;" *ngIf="!cell.cellType && variesOptionMap[id] && variesOptionMap[id].length > 0">
      <button *ngFor="let item of variesOptionMap[id]" class="btn btn-sm btn-light" (click)="setTemplateType(cell, item)">{{ item }}</button>
    </div>
    <div  style="width: 100%; text-align: center; color: lightgray;" *ngIf="!cell.cellType && (!variesOptionMap[id] || variesOptionMap[id].length === 0) && !viewOnly">
      <strong>Select OBX-2 datatype (Coded Element or Primitive)</strong>
    </div>
    <div style="width: 100%; display: flex; justify-content: space-between; align-items: center;" *ngIf="cell.cellType">
      <div style="width: 100%;">
        <ng-container *ngTemplateOutlet="getCellTemplateForType(cell.cellType); context: { $implicit: cell.cellValue, header: header, viewOnly : viewOnly }"></ng-container>
      </div>
      <i style="color: red; margin-left: 5px; font-size: 1.2em; cursor: pointer;" class="fa fa-times" (click)="clearVariesCell(cell)" *ngIf="!viewOnly" ></i>
    </div>
  </ng-template>

</form>
