@import '../../../../../assets/variables';

.requirement-cell {
  width: 80px;
  vertical-align: middle;
  text-align: center;
}

.btn-cell {
  width: 50px;
  vertical-align: middle;
}

.empty-column {
  width: 450px;
  height: 45px;
  background-color: #f3f3f3;
}

.column {
  max-width: 300px;
  min-width: 300px;
  width: 300px;
  vertical-align: middle;
}

textarea {
  width: 100%;
  top: 0; left: 0; right: 0; bottom: 0;
  position: absolute;
	resize: none;
	-webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
      -moz-box-sizing: border-box; /* FF1+ */
           box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/

    -webkit-box-shadow: 2px 2px 2px 1px #dddddd;
    -moz-box-shadow: 2px 2px 2px 1px #dddddd;
    box-shadow: inset 2px 2px 2px 1px #dddddd;
    overflow: auto;
    font-family: tahoma;
    font-size: 13px;
    border: 1px solid #aaa;
}

.column-border {
  border-right: 3px solid;
}

.inside-border {
  border-right: 2px solid #bfbfbf;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

input.ng-invalid {
  background-color: #ffe9ec;
  border-left: 5px solid red;
}

// .stick-header {
//   position: sticky;
//   border: 0px solid !important;
//   background: rgb(255, 255, 255);
//   z-index: 99999;
// }

// .stick-top-none {
//   top: 0;
// }

// .stick-top-pad {
//   top: 40px;
// }


.row-added {
  background-color: $delta_added_light !important;
}

.row-deleted {
  background-color: $delta_deleted_light !important;
}

.row-changed {
  background-color: $delta_changed_light !important;
}
