.added {
  background-color: lightgreen !important;
}

.removed {
  background-color: lightpink !important;
}

.pointer {
  cursor: pointer;
}

td {
  padding: 0 !important;
}

th {
  word-wrap: break-word;
}
