<form [formGroup]="formGroup" style="display: flex; flex-direction: column; height: 100%;">

  <app-form-input formControlName="structId" id="structId" name="structId"
    placeholder="Structure Id" label="Structure Id" [viewOnly]="viewOnly$ | async">
  </app-form-input>

  <app-form-input formControlName="messageType" id="messageType" name="messageType"
    placeholder="Message Type" label="Message Type" [viewOnly]="viewOnly$ | async">
  </app-form-input>

  <app-form-input formControlName="description" id="description" name="description"
    placeholder="Description" label="Description" [viewOnly]="viewOnly$ | async">
  </app-form-input>

  <div class="form-group">
    <label for="hl7Version" class="form-label-lg"> HL7 Version </label>
    <div><span class="badge badge-secondary">{{ formGroup.controls.hl7Version.value }}</span></div>
  </div>

  <table formArrayName="events"  class="table table-striped table-bordered table-sm" style="margin-top: 10px;">
    <tr>
      <th style="width: 300px;"> Events </th>
      <th> Description </th>
      <th *ngIf="!(viewOnly$ | async)"> Action </th>
    </tr>
    <tr *ngFor="let item of events.controls; let i = index;" [formGroupName]="i">
      <td>
        <app-form-input formControlName="name" id="name" name="name" [hideLabel]="true" placeholder="Name" label="Name" [viewOnly]="viewOnly$ | async"></app-form-input>
      </td>
      <td>
        <app-form-input formControlName="description" id="description" name="description" [hideLabel]="true" placeholder="Description" label="Description" [viewOnly]="viewOnly$ | async"></app-form-input>
      </td>
      <td *ngIf="!(viewOnly$ | async)">
        <button class="btn btn-sm btn-danger" (click)="deleteEvent(i)" >
          <i class="fa fa-minus"></i>
        </button>
      </td>
    </tr>
    <tr *ngIf="!(viewOnly$ | async)" [formGroup]="subFormGroup">
      <td>
        <app-form-input formControlName="name" id="sfg-name" name="name" placeholder="Name" label="Name" [hideLabel]="true" [viewOnly]="false"></app-form-input>
      </td>
      <td>
        <app-form-input formControlName="description" id="sfg-description" name="description" placeholder="Description" label="Description" [hideLabel]="true" [viewOnly]="false"></app-form-input>
      </td>
      <td>
        <button class="btn btn-sm btn-primary" [disabled]="subFormGroup.invalid" (click)="addEvent()" >
          <i class="fa fa-plus"></i>
        </button>
      </td>
    </tr>
  </table>
</form>
