<!-- <table class="table table-striped table-sm">
  <tr>
    <td rowspan="2">
      <i class="fa fa-calendar"></i>
    </td>
    <td> Date Updated </td>
    <td> MM/dd/yyyy </td>
  </tr>
  <tr>
    <td> Date Created </td>
    <td> MM/dd/yyyy </td>
  </tr>
</table> -->
<span class="badge badge" style="font-weight: 300; color: #afafaf;"><i class="fa fa-calendar"></i> Updated On MM/dd/yyyy
</span>
<span class="badge badge" style="font-weight: 300; color: #afafaf;"><i class="fa fa-calendar"></i> Created On MM/dd/yyyy
</span>
