.sliceRow-header {
  padding: 7px;
  background-color: #f4f4f4;
}
.sliceRow-body {
  background-color: white;
  padding: 5px;
  border: 1px solid #eaeaea;
}
.sliceRow-body-content{
  padding: 5px;
  width: 100%;
}

.sliceRow-header-border {

}
