<form #form="ngForm">
  <div style="display: flex; flex-direction: row; justify-content: flex-start" class="sliceRow-header" *ngIf="node">
    <div style="width: 5%">

    <button class="btn btn-sm btn-primary" style="margin-right: 5px;" (click)="toggleShow()">
      <i *ngIf="!show" class="fa fa-eye"></i>
      <i *ngIf="show" class="fa fa-eye-slash"></i>
    </button>
    </div>

    <div  style="width: 85%">
    <span style="display: flex; flex-direction: row; justify-content: flex-start">
    <app-entity-bagde [type]="node.data.type" >{{ node.data.name }}</app-entity-bagde>
    <span class="title-text" style="margin-left: 10px !important; margin-top: 4px;" >{{ node.data.name }}</span>
    </span>
  </div>
  <div  style="width: 5%">
    <button class="btn btn-sm btn-danger" style="margin-right: 15px;">
      <i class="fa fa-remove"></i>
    </button>
  </div>
</div>

<div class="sliceRow-body" *ngIf="show">

  <table *ngIf="display$ | async as display" class="table table-bordered">
    <tr>
      <td>
        <strong> Slicing Method </strong>
      </td>
      <td>
        <span class="badge badge-secondary">{{sliceRow_.type}} </span>
      </td>
    </tr>
    <tr>
      <td>
        <strong> Default Datatype </strong>
      </td>
      <td>
        <app-display-section [element]="display" [hideDescription]="true"></app-display-section>
      </td>
    </tr>

  </table>
  <div>
    <button class="btn btn-sm btn-info"  style ="float: right" (click)="addSlice()">
      <i class="fa fa-plus"></i> Add Slice
    </button>
  <table class="table table-bordered table table-striped">
    <thead>
      <th width="50%">
        Slice condition
      </th>
      <th width="20%">
        Slice Flavor
      </th>
      <th width="20%">
        comments
      </th>
      <th width="10%">
      </th>
    </thead>
  <tbody>
  <tr *ngFor="let slice of sliceRow_.slices; let i= index">
    <td>
      <strong> Condition: </strong> {{slice.assertion?.description}}
      <button class="btn btn-sm btn-info" (click)="addAssertion(slice)">
        <i class="fa fa-edit"></i>
      </button>
     </td>
    <td #anchor>
        <ng-container *ngIf="available_">

        <p-dropdown [(ngModel)]="slice.flavorId" [appendTo]="anchor" [optionLabel]="'fixedName'"
                    [options]="available_" [style]="{'minWidth':'100%'}"
                    [placeholder]="'Select Flavor'" (onChange)="modelChange($event, slice)" (onShow)="getAvailable($event)" [id]="node.data.id+i" [name]="node.data.id+i">
          <ng-template let-item pTemplate="selectedItem">
            <ng-container *ngIf="item.value">
              <app-display-section [element]="map[item.value.id]" [hideDescription]="true"></app-display-section>
            </ng-container>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <app-display-section [element]="item.value" [hideDescription]="true"></app-display-section>
          </ng-template>
        </p-dropdown>
    </ng-container>

    </td>
    <td>
      <input  [(ngModel)]="slice.comment"
             [id]="'comments'+ node.data.id"
             [name]="'comments'+ node.data.id" class="form-control" placeholder="add comments"
              type="text"></td>
    <td>
      <button class="btn btn-sm btn-danger" style="margin-right: 15px;">
        <i class="fa fa-remove"></i>
      </button>
    </td>

  </tr>
  </tbody>
</table>
  </div>
</div>
</form>



