<form #form="ngForm" style="display: flex; flex-direction: column;">
  <div class="form-group">
    <label for="title"><strong>Title</strong></label>
    <input type="text" id="title" name="title" class="form-control" required [(ngModel)]="info.metadata.title" (ngModelChange)="emitChange()">
  </div>
  <div class="form-group">
    <label for="description"><strong>Description</strong></label>
    <input type="text" id="description" name="description" class="form-control"  (ngModelChange)="emitChange()" [(ngModel)]="info.metadata.description">
  </div>
  <div class="form-group api-key-disable">
    <label for="description"><strong>Enable API Access without API Key Protection (Open to Public)</strong></label><br>
    <p-inputSwitch id="disableKeyProtection" name="disableKeyProtection" [(ngModel)]="info.disableKeyProtection" (ngModelChange)="disableKeyProtection()"></p-inputSwitch>
  </div>
  <div style="margin-bottom: 20px;">
    <label for="defaultVersion" style="margin-right: 5px;"><strong>Latest Stable Version</strong></label><br>
    <p-dropdown
      [options]="committedChildren"
      [(ngModel)]="selectedVersion"
      optionLabel="version"
      (ngModelChange)="updateDefault($event)"
      placeholder="Select your option"
      name="defaultVersion"
      dataKey="id" >
    </p-dropdown>
  </div>
</form>
