



<form #form="ngForm" style="display: flex; flex-direction: column;">
  <div class="form-group">
    <label for="title"><strong>Title</strong></label>
    <input type="text" id="title" name="title" class="form-control" required [(ngModel)]="info.metadata.title" (ngModelChange)="emitChange()">
  </div>
  <div class="form-group">
  <label for="description"><strong>Description</strong></label>
  <input type="text" id="description" name="description" class="form-control"  (ngModelChange)="emitChange()" [(ngModel)]="info.metadata.description">
  </div>
  <div style="margin-bottom: 20px;">
    <label for="defaultVersion" style="margin-right: 5px;"><strong>Latest Stable Version</strong></label><br>
    <p-dropdown
      [options]="committedChildren"
      [(ngModel)]="selectedVersion"
      optionLabel="version"
      (ngModelChange)="updateDefault($event)"
      placeholder="Select your option"
      name="defaultVersion"
      dataKey="id" >
    </p-dropdown>
  </div>
<!-- <p-table [value]="filteredChildren" [paginator]="true" [rows]="5" [style]="{width: '100%', 'margin-top': '10px'}">
  <ng-template pTemplate="caption">
    <div style="display: flex; align-items: flex-start; justify-content: flex-start;">
      <p-multiSelect
        [options]="filterOptions"
        [(ngModel)]="selectedFilters"
        defaultLabel="Select filters"
        (onChange)="applyFilters($event)"
        [style]="{'min-width':'250px'}"
        [panelStyle]="{'min-width':'300px'}"
        dataKey = "id">
      </p-multiSelect>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 60%;">Code Set Version</th>
      <th style="width: 100px;">Status</th>
      <th>Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-version>
    <tr  [ngStyle]="{'background-color': rowIndex % 2 === 0 ? '#FFFFFF' : '#FFFFFF'}">
      <td>

        <div class="code-set-info">
          <span style="font-weight: bold;">Version: {{ version.version }}</span>
          <br>
          <span style="font-style: italic;">
              Date Updated: {{ version.dateUpdated | date }},
              <span *ngIf="version.dateCommitted; else inProgress">
                  Date Committed: {{ version.dateCommitted | date }}
              </span>
              <ng-template #inProgress>In Progress</ng-template>
          </span>
          <br>
      </div>

      </td>

      <td>
        <strong>{{ version.deprecated ? 'Archived' : 'Active' }}</strong>

      </td>
      <td>

        <button type="button" class="btn btn-sm btn-primary" (click)="openAction(version)" style="margin-right: 5px;" [routerLink]="['../code-set-version', version.id]" routerLinkActive="router-link-active" >
          <i class="fa fa-folder-open"></i> Open
        </button>
        <button type="button" class="btn btn-sm btn-danger" (click)="confirmAction('DELETE', version.id)" style="margin-right: 5px;">
          <i class="fa fa-trash"></i> Delete
        </button>
        <button type="button" class="btn btn-sm btn-warning" (click)="confirmAction('ARCHIVE', version.id)" style="margin-right: 5px;">
          <i class="fa fa-archive"></i> Archive
        </button>

      </td>
    </tr>
  </ng-template>
</p-table> -->

</form>
