<!--<p-tree [value]="treeData" [draggableNodes]="true" [droppableNodes]="true" selectionMode="single" styleClass="toc">-->
  <!--<ng-template let-node  pTemplate="default">-->

 <!--<div *ngIf="node.data">-->
    <!--<li   *ngIf="node.data.type==='IGDOCUMENT'">-->
      <!--<span  (click)="print(node)"> Table of Content</span>-->
      <!--&lt;!&ndash;<p-contextMenu  [target]="root" appendTo="body" [model]="rootMenu"></p-contextMenu>&ndash;&gt;-->

      <!--&lt;!&ndash;<context-menu #basicMenu>&ndash;&gt;-->
        <!--&lt;!&ndash;<ng-template contextMenuItem (execute)="AddTEXT(node)">&ndash;&gt;-->
          <!--&lt;!&ndash;Add TEXT&ndash;&gt;-->
        <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
      <!--&lt;!&ndash;</context-menu>&ndash;&gt;-->
    <!--</li>-->


    <!--<li  *ngIf="node.data.type=='TEXT'">-->
      <!--<span (click)="print(node)" >{{getPath(node)+"."+node.data.label}}</span>-->
    <!--</li>-->

    <!--<li  *ngIf="node.data.type=='PROFILE'">-->
      <!--<span (click)="print(node)" >{{getPath(node)+"."+node.data.label}}</span>-->
    <!--</li>-->


    <!--<li  *ngIf="node.data.type=='CONFORMANCEPROFILEREGISTRY'">-->
        <!--<span (click)="print(node)" >{{getPath(node)+"."+node.data.label}}</span>-->
    <!--</li>-->


    <!--<li  *ngIf="node.data.type=='SEGMENTRGISTRY'">-->
    <!--<span (click)="print(node)" >{{getPath(node)+"."+node.data.label}}</span>-->
    <!--</li>-->

     <!--<li  *ngIf="node.data.type=='DATATYPEREGISTRY'">-->
      <!--<span (click)="print(node)" >{{getPath(node)+"."+node.data.label}}</span>-->
    <!--</li>-->

  <!--<li  *ngIf="node.data.type=='VALUESETREGISTRY'">-->
    <!--<span (click)="print(node)" >{{getPath(node)+"."+node.data.label}}</span>-->
  <!--</li>-->


  <!--<li  *ngIf="node.data.type=='COMPOSITEPROFILEREGISTRY'">-->
    <!--<span (click)="print(node)" >{{getPath(node)+"."+node.data.label}}</span>-->
  <!--</li>-->
  <!--<li  *ngIf="node.data.type=='PROFILECOMPONENTREGISTRY'">-->
    <!--<span (click)="print(node)" >{{getPath(node)+"."+node.data.label}}</span>-->
  <!--</li>-->

  <!--&lt;!&ndash;<li *ngIf="node.data.ref">&ndash;&gt;-->
   <!--&lt;!&ndash;<button (click)="setActualNode(node)">Click</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<display-label [elm]="node.data.ref" ></display-label>&ndash;&gt;-->
  <!--&lt;!&ndash;</li>&ndash;&gt;-->

<!--</div>-->
  <!--</ng-template>-->



<!--</p-tree>-->


