.ngx-contextmenu .dropdown-menu {
  padding: 0;
}
.ngx-contextmenu li {
  display: block;
  text-transform: uppercase;
  text-align: center;
}
.ngx-contextmenu li:first-child {
  border-top:none;
}
.ngx-contextmenu a {
  display: block;
  padding: 0.5em 1em;
}
.ngx-contextmenu a:hover {
}
