<div style="overflow-x: scroll; width: 100%;" *ngIf="table">
    <button (click)="addCcGroup()" *ngIf="table.grp && table.headers.selectors.length" style="float: left; margin-top : 10px; margin-bottom: 10px;" type="button" pButton class="btn-xs btn-info">
        <i class="fa fa-plus fa-fw">&nbsp; </i> Add Co-Constraint Group
    </button>
    <form>
        <table class="table table-bordered table-condensed">

            <!--GROUPS DEFINITION-->
            <colgroup span="1"></colgroup>
            <colgroup span="{{table.headers.selectors.length}}" style="background-color:#B1daff; text-align: center;"></colgroup>
            <colgroup span="{{table.headers.data.length}}" ></colgroup>
            <colgroup span="{{table.headers.user.length}}" style="background-color:#a7d6a9"></colgroup>
            <colgroup span="1" class="small"></colgroup>
            <colgroup span="1" class="small"></colgroup>


            <!--HEADERS FIRST ROW-->
            <tr>
                <td rowspan="2" style="background-color: lightgrey;">
                </td>
                <th [attr.colspan]="table.headers.selectors.length" class="table-header selector-header wide" scope="colgroup">
                    <div>
                        Selectors
                        <button (click)="openHeaderDialog('selectors')" style="float: right;" type="button" pButton class="btn-xs btn-primary">
                            <i class="fa fa-plus fa-fw">&nbsp; </i>
                        </button>
                    </div>
                </th>
                <th [attr.colspan]="table.headers.data.length" class="table-header data-header wide" scope="colgroup">
                    <div>
                        Data
                        <button (click)="openHeaderDialog('data')" style="float: right;" type="button" pButton class="btn-xs btn-primary">
                            <i class="fa fa-plus fa-fw">&nbsp; </i>
                        </button>
                    </div>
                </th>
                <th [attr.colspan]="table.headers.user.length" class="table-header user-header wide" scope="colgroup">
                    <div>
                        User
                        <button (click)="openUserHeaderDialog()" style="float: right;" type="button" pButton class="btn-xs btn-primary">
                            <i class="fa fa-plus fa-fw">&nbsp; </i>
                        </button>
                    </div>
                </th>
                <th class="table-header small" rowspan="2" scope="colgroup">Usage</th>
                <th class="table-header small" rowspan="2" scope="colgroup">Cardinality</th>
            </tr>

            <!--DYNAMIC HEADERS-->
            <tr>

                <ng-container *ngIf="!table.headers.selectors.length">
                    <td class="table-header selector-header wide"></td>
                </ng-container>

                <td *ngFor="let header of table.headers.selectors; let i = index" class="table-header selector-header wide">
                    <ng-container *ngTemplateOutlet="dataElement; context : {$implicit : header, list : table.headers.selectors, index : i }"></ng-container>
                </td>

                <ng-container *ngIf="!table.headers.data.length">
                    <td class="table-header data-header wide"></td>
                </ng-container>

                <td *ngFor="let header of table.headers.data; let i = index" class="table-header data-header wide">
                    <ng-container *ngTemplateOutlet="dataElement; context : {$implicit : header, list : table.headers.data, index : i }"></ng-container>
                </td>

                <ng-container *ngIf="!table.headers.user.length">
                    <td class="table-header user-header wide"></td>
                </ng-container>

                <td *ngFor="let header of table.headers.user; let i = index" class="table-header user-header wide">
                    <ng-container *ngTemplateOutlet="userHeader; context : {$implicit : header, list : table.headers.user, index : i }"></ng-container>
                </td>
            </tr>

            <!--TABLE CONTENT-->
            <tr style="background-color: lightgrey;">
              <td></td>
              <td [attr.colspan]="groupHeaderSize(table)+2" style="text-align: center;">
                <button (click)="addCc(table.content.free)" *ngIf="table.headers.selectors.length" style="float: left;" type="button" pButton class="btn-xs btn-primary">
                  <i class="fa fa-plus fa-fw">&nbsp; </i> Add Co-Constraint
                </button>
                Independent Co-Constraints
              </td>
            </tr>
            <ng-container *ngTemplateOutlet="cclist; context : {$implicit : table.content.free}"></ng-container>
            <ng-container *ngFor="let group of table.content.groups; let i = index">
                <ng-container *ngTemplateOutlet="ccgroup; context : {$implicit : group, list : table.content.groups, index : i}"></ng-container>
            </ng-container>

        </table>
    </form>
</div>


<ng-template #empty let-type="type" let-obj="obj" let-key="key">
    <div style="width: 100%; height: 100%; background-color: lightgrey;" (dblclick)="initCell(type,obj,key)">

    </div>
</ng-template>

<ng-template #value let-node let-req="req">
    <input type="text" [(ngModel)]="node.value" [required]="req" [placeholder]="req ? 'required' : ''">
</ng-template>

<ng-template #code let-node let-req="req">
    <input type="text" [(ngModel)]="node.value" style="width: 70%;" [required]="req" [placeholder]="req ? 'required' : ''">
    <p-dropdown appendTo="body" [style]="{'width': '27%'}" [placeholder]="'LOC'" [required]="req" [options]="[{ label : '1', value : '1'}, {label : '4', value : '4'}, {label : '1 or 4', value : '4'}]" [(ngModel)]="node.location"></p-dropdown>
</ng-template>

<ng-template #textArea let-node >
    <textarea rows="1" style="width: 100%;" type="text" [(ngModel)]="node.value"></textarea>
</ng-template>

<ng-template #usage let-node>
    <p-dropdown [options]="config.usages" [(ngModel)]="node.usage" [style]="{'width':'100%'}"></p-dropdown>
</ng-template>

<ng-template #cardinality let-node>
    <input [(ngModel)]="node.cardinality.min" type="number" style="width:45%;border-width:0px 0px 1px 0px"/>
    <input [(ngModel)]="node.cardinality.max" type="text" style="width:45%;border-width:0px 0px 1px 0px"/>
</ng-template>

<ng-template #valueset let-obj="obj" let-key="key">
    <div class="g-row">
        <div class="ui-g-10">
            <span *ngFor="let vs of obj[key]" style="font-size : 1.15em;">
                <span style="background-color: #c7cfcc" class="label label-icon">
                    <span class="label label-icon label-gray">VS</span>
                    <span style="color: black;">{{vs.bindingIdentifier}}</span>
                </span>
            </span>
        </div>
        <div class="ui-g-2">
            <i (click)="openVSDialog(obj,key)" class="fa fa-plus pull-right" aria-hidden="true"></i>
        </div>
    </div>
</ng-template>

<ng-template #cclist let-list>
    <tr *ngFor="let row of list; let i = index">
        <td style="width: 30px;">
            <button (click)="delRow(list,i)" type="button" pButton class="btn-xs btn-danger">
                <i class="fa fa-trash">&nbsp; </i>
            </button>
        </td>

        <ng-container *ngIf="!table.headers.selectors.length">
            <td class="table-ndef wide"></td>
        </ng-container>

        <td class="wide" *ngFor="let field of table.headers.selectors" (dblclick)="!row[field.id] && initCell(field.content.type,row,field.id)">
            <ng-container *ngIf="row[field.id]">
                <ng-container  *ngTemplateOutlet="template(field); context : {$implicit : row[field.id], obj : row, key : field.id, req : true}"></ng-container>
            </ng-container>
        </td>

        <ng-container *ngIf="!table.headers.data.length">
            <td class="table-ndef wide"></td>
        </ng-container>

        <td class="wide" *ngFor="let field of table.headers.data" (dblclick)="!row[field.id] && initCell(field.content.type,row,field.id)">
            <ng-container *ngIf="row[field.id]">
                <ng-container  *ngTemplateOutlet="template(field); context : {$implicit : row[field.id], obj : row, key : field.id, req : false}"></ng-container>
            </ng-container>
        </td>

        <ng-container *ngIf="!table.headers.user.length">
            <td class="table-ndef wide"></td>
        </ng-container>

        <td class="wide" *ngFor="let field of table.headers.user" >
            <ng-container *ngIf="row[field.id]">
                <ng-container  *ngTemplateOutlet="template(field); context : {$implicit : row[field.id], obj : row, key : field.id, req : false}"></ng-container>
            </ng-container>
            <!--<ng-container *ngTemplateOutlet="template(field); context : {$implicit : row[field.id]}"></ng-container>-->
        </td>
        <td class="small">
            <ng-container *ngTemplateOutlet="usage; context : {$implicit : row.requirements}"></ng-container>
        </td>
        <td class="small">
            <ng-container *ngTemplateOutlet="cardinality; context : {$implicit : row.requirements}"></ng-container>
        </td>
    </tr>
</ng-template>

<ng-template #ccgroup let-node let-index="index" let-list="list">
    <tr style="background-color: black; border-top : 2px solid black;">
        <td style="width: 30px;">
            <button (click)="delGroup(list,index)" type="button" pButton class="btn-xs btn-danger">
                <i class="fa fa-trash">&nbsp; </i>
            </button>
        </td>
        <td [attr.colspan]="groupHeaderSize(table)">
          <button (click)="addCc(node.content.free)" style="float: left; margin-right: 5px;" type="button" pButton class="btn-xs btn-primary">
            <i class="fa fa-plus fa-fw">&nbsp; </i> Add Co-Constraint
          </button>
          <input style="width: 80% !important;" [(ngModel)]="node.data.name" type="text" required placeholder="required" >
        </td>
        <td class="small">
            <ng-container *ngTemplateOutlet="usage; context : {$implicit : node.data.requirements}"></ng-container>
        </td>
        <td class="small">
            <ng-container *ngTemplateOutlet="cardinality; context : {$implicit : node.data.requirements}"></ng-container>
        </td>
    </tr>
    <ng-container *ngTemplateOutlet="cclist; context : {$implicit : node.content.free}"></ng-container>
</ng-template>

<ng-template #dataElement let-header let-index="index" let-list="list">
    <div style="width: 100%; text-align: center; font-size: 13px;">
        <span style="float : left">
            <span *ngIf="header.content.type === 1">
                <span class="label label-icon label-gray">Value</span>
            </span>
            <span *ngIf="header.content.type === 2">
                <span class="label label-icon label-gray">Value Set</span>
            </span>
            <span *ngIf="header.content.type === 3">
                <span class="label label-icon label-gray">Datatype</span>
            </span>
            <span *ngIf="header.content.type === 4">
                <span class="label label-icon label-gray">Flavor</span>
            </span>
            <span *ngIf="header.content.type === 5">
                <span class="label label-icon label-gray">Code</span>
            </span>
        </span>
        <display-badge [type]="header.content.elmType"></display-badge>
        {{header.label}}
        <button *ngIf="!header.keep" (click)="delCol(list, index, header.id)" style="float: right;" type="button" pButton class="btn-xs btn-danger">
            <i class="fa fa-trash">&nbsp; </i>
        </button>
    </div>
</ng-template>

<ng-template #userHeader let-header let-index="index" let-list="list">
    {{header.label}}
    <button (click)="delCol(list, index, header.id)" style="float: right;" type="button" pButton class="btn-xs btn-danger">
        <i class="fa fa-trash">&nbsp; </i>
    </button>
</ng-template>

<ng-template #datatype let-node let-cc="obj">
    <p-dropdown #dtField placeholder="Datatype" [options]="config.dynCodes" appendTo="body"[(ngModel)]="node.value" [style]="{'width':'100%', 'text-align' : 'center'}"  (onChange)="dtChange(cc.k5)" required="true"></p-dropdown>
</ng-template>

<ng-template #flavor let-node let-cc="obj">
  <p-dropdown #flField placeholder="Flavor" *ngIf="cc.k2.value" [options]="config.datatypes | dtFlavor : cc.k2.value" appendTo="body" [(ngModel)]="node.value" [style]="{'width':'100%', 'text-align' : 'center'}" required="true"></p-dropdown>
</ng-template>

<valueset-binding-picker></valueset-binding-picker>
<cc-header-dialog-dm [segment]="_segment"></cc-header-dialog-dm>
<cc-header-dialog-user></cc-header-dialog-user>
