/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';
@import "./app/igdocuments/igdocument-edit/toc/toc.component.css";
body .ui-widget-header {
  background: #39a3f4;
  border: 1px solid #39a3f4;
  font-weight: 700;
}
