/* You can add global styles to this file, and also import other style files */
/*@import "./app/igdocuments/igdocument-edit/toc/toc.component.css";
@import "./app/igdocuments/igdocument-edit/igdocument-edit.component.css";*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
  font-family: 'Open Sans', sans-serif;

}

span.ig-list-title{
  color: #5c6bc0 !important;
  font-weight: 600;
}
span:hover.ig-list-title{
  text-decoration: underline !important;
}


.ig-list-date{
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}

.ig-list-user{
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}
.ig-list-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ig-list-image-container{
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.ig-list-cp-badge{
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 5.25rem;
  background: gray;
  color: white;
}

.ig-list-more-info-title{

  color: black;
  font-size: 13px;
  font-weight: bold;

}
.ui-dataview .ui-dataview-header, .ui-dataview .ui-dataview-footer {
  padding: 1px;
  margin: 0px;
}
.panel-gray{
  background-color: #d8d8d8 !important;
}

.list-ig .ui-dataview .ui-dataview-header, .ui-dataview .ui-dataview-footer {
  padding: 2px;
  margin: 2px;
  background-color: #d8d8d8;
}
.ig-list-border{
  border-bottom: #d8d8d8 1px dashed;
}


.metadata-label{
  color: black;
  float: left;
  font-weight: 700;
}

.input-box{
  margin-top: 4px;
}

.cp-badge{
  background-color: #5C6BC0;
  color: white;
}

.cp-remove{
  cursor: pointer;
}

body .ui-breadcrumb {
  background-color: #e9ecef;
  border: 1px solid #d8d8d8;
  height: 20px;
  padding: 0px;
  font-size: 11px;
  line-height: 1;
}
.modal-dialog {
  max-width: fit-content;
  margin: 30px auto;
}

.label-USE {
  background-color: green;
  font-weight: 400;
}

.label-HL7 {
  background-color: #f4867e;
  font-weight: 400;
}
.label-PRL {
  background: cornflowerblue;
  font-weight: 400;
}

.label-PVS {
  background: #ed0bea;
  font-weight: 400;
}

.label-MASTER {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7400+0,ff7400+100;Orange+Flat */
  background: #ff7400; /* Old browsers */
  background: -moz-linear-gradient(top, #ff7400 0%, #ff7400 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff7400 0%, #ff7400 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff7400 0%, #ff7400 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400',
    endColorstr='#ff7400', GradientType=0); /* IE6-9 */
  font-weight: 400;
}
