<div style="display: flex; justify-content: space-between; align-items: center;">
  <div [ngClass]="{'inactive-cell-dim' : !active }" style="display: flex; justify-content: space-between; align-items: center; padding: 0 5px; flex-grow: 1;">
    <ng-container  [ngSwitch]="globalViewOnly || !active">
      <ng-container *ngSwitchCase="false">
        <p-dropdown
        [style]="{'min-width': '60px'}"
        [autoDisplayFirst]="false"
        [appendTo]="anchor"
        [options]="options"
        (onChange)="usageChange($event)"
        [(ngModel)]="usage.value"
        ></p-dropdown>
      </ng-container>
      <strong *ngSwitchCase="true">{{usage.value === 'CAB' ? 'C(A/B)' : usage.value}}</strong>
    </ng-container>
    <div style="display: flex; justify-content: flex-end; align-items: center;" *ngIf="usage.value === 'CAB' || usage.value === 'C'">
      <ng-container *ngIf="predicate; else addButton">
        <ng-container *ngTemplateOutlet="predicateDisplay; context : { $implicit : predicate, ctx : this.predicateBindingContext, editable: true }"></ng-container>
      </ng-container>
    </div>
  </div>
  <button *ngIf="!globalViewOnly && !active" class="btn btn-sm btn-primary profile-component-cell-btn" (click)="activate()">
    <i class="fa fa-plus"></i>
  </button>
  <button *ngIf="!globalViewOnly && active" class="btn btn-sm btn-danger profile-component-cell-btn" style="background-color: red !important;" (click)="clear()">
    <i class="fa fa-trash"></i>
  </button>
</div>


<ng-template #addButton>

  <button class="btn btn-sm btn-primary" style="margin-left: 5px;" (click)="createPredicateDialog()" *ngIf="
    !globalViewOnly && active &&
    (
      (usage.value === 'CAB') ||
      (usage.value === 'C' && type === 'FIELD' && predicateBindingContext.resource === 'CONFORMANCEPROFILE')
    )">
    <app-entity-bagde type="PREDICATE" ></app-entity-bagde>  <i class="fa fa-pencil" style="margin-left: 5px;"></i>
  </button>
</ng-template>

<ng-template #predicateDisplay let-ctx="ctx" let-edit="editable" let-predicate>
  <div class="btn-group" role="group" aria-label="Basic example" style="margin-left: 5px;" [pTooltip]="(predicate.assertion?.description || predicate.freeText)" disabled="true" tooltipPosition="top" >
    <button disabled="true" type="button" class="btn btn-sm btn-light" style="border: 1px solid #a6a6a6; display: flex; opacity: 1; align-items: center; cursor: initial;">
      <app-binding-badge [context]="ctx"></app-binding-badge>
      <strong style="margin-left: 3px;"> ({{ predicate.trueUsage }} / {{ predicate.falseUsage }})</strong>
    </button>
    <button type="button" class="btn btn-sm btn-danger" *ngIf="edit && !globalViewOnly && active" (click)="clearPredicate()">
      <i class="fa fa-trash"></i>
    </button>
    <button class="btn btn-sm btn-primary" *ngIf="edit && !globalViewOnly && active" (click)="editPredicateDialog(predicate)">
      <app-entity-bagde type="PREDICATE" ></app-entity-bagde> <i class="fa fa-pencil" style="margin-left: 5px;"></i>
    </button>
  </div>
</ng-template>
