<div *ngIf="valuesetMetadata">
    <form #editForm="ngForm">
        <div class="ui-g cp-header">
            <div class="ui-g-8 ui-g-nopad">
                <div class="cp-header-title ui-g-12">
                    MetaData: {{valuesetMetadata.bindingIdentifier}}
                </div>
                <div class="ui-g-12 cp-header-subtitle">
                    <span class="ig-list-date" *ngIf="valuesetMetadata.updateDate">
                        <i class="fa fa-calendar"></i> {{valuesetMetadata.updateDate}}
                    </span>
                </div>
            </div>

            <div class="ui-g-4">
                <button  style="float:right" (click)="save()"  pButton type="button" label="save" class="green-btn" icon="fa fa-floppy-o" [disabled]="editForm.invalid ||!editForm.dirty"></button>
                <button  style="float:right"  (click)="reset()" pButton type="button" label="reset" class="red-btn" icon="fa fa-refresh" [disabled]="editForm.invalid ||!editForm.dirty" ></button>
            </div>

        </div>

        <div class="ui-g input-box">
            <label class="metadata-label ui-g-2">
                Binding Identifier
            </label>
            <input name="bindingIdentifier" id="bindingIdentifier" pInputText type="text" class="ui-g-10" #bindingIdentifier="ngModel" [(ngModel)]="valuesetMetadata.bindingIdentifier" required />
            <div class="ui-g-offset-1" *ngIf="bindingIdentifier.invalid&& (bindingIdentifier.dirty || bindingIdentifier.touched)">
                <p-message severity="error" text="BindingIdentifier is required"></p-message>
            </div>
        </div>

        <div class="ui-g input-box">
            <label class="metadata-label ui-g-2">
                Name
            </label>
            <input name="name" id="name" pInputText type="text" class="ui-g-10" #name="ngModel" [(ngModel)]="valuesetMetadata.name" required />
            <div class="ui-g-offset-1" *ngIf="name.invalid&& (name.dirty || name.touched)">
                <p-message severity="error" text="Name is required"></p-message>
            </div>
        </div>

        <div class="ui-g input-box">
            <label class="metadata-label ui-g-2">
                OID
            </label>
            <input name="oid" id="oid" pInputText type="text" class="ui-g-10" #oid="ngModel" [(ngModel)]="valuesetMetadata.oid" />
        </div>

        <div class="ui-g input-box">
            <label class="metadata-label ui-g-2">
                URL
            </label>
            <input name="url" id="url" pInputText type="text" class="ui-g-10" #url="ngModel" [(ngModel)]="valuesetMetadata.url" />
        </div>

        <div class="ui-g input-box">
            <label class="metadata-label ui-g-2">
                Author Notes
            </label>
          <div class="ui-g-10" [froalaEditor]="getOptions(editForm)" [(froalaModel)]="valuesetMetadata.authorNote"></div>

        </div>
    </form>
</div>
