<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-10">
        <div *ngIf="currentPredicate && currentPredicate.type === 'ASSERTION' && currentPredicate.assertion">
            <span>{{currentPredicate.assertion.description}}</span>
        </div>
        <div *ngIf="currentPredicate && currentPredicate.type === 'FREE'">
            <span>{{currentPredicate.freeText}}</span>
        </div>
    </div>
    <div class="ui-g-12 ui-md-2">
        <i class="fa fa-pencil" (click)="editPredicate()"></i>
    </div>
</div>

<p-dialog [(visible)]="cpEditor" header="Conditional Predicate Editor"
          styleClass="pattern-dialog"
          [modal]="true" [responsive]="false" [minWidth]="1400" [minHeight]="750" width="1400"
          [baseZIndex]="8000" [closable]="false" [closeOnEscape]="false" appendTo="body">
    <div style="width: 100%; height: 100%; margin: auto; background-color: white;" >
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-2">
                <label>Editor Type: </label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <p-selectButton name="type" [options]="constraintTypes" [(ngModel)]="selectedCP.displayType" (onChange)="changeType()"></p-selectButton>
            </div>
        </div>

        <div *ngIf="selectedCP.displayType">
            <edit-free-constraint *ngIf="selectedCP.displayType === 'free'" [constraint]="selectedCP" [isPredicate]="true"></edit-free-constraint>
            <edit-simple-constraint *ngIf="selectedCP.displayType === 'simple'" [constraint]="selectedCP" [assertion]="selectedCP.assertion" [structure]="structure" [groupName]="'simple'" [isPredicate]="true"></edit-simple-constraint>
            <edit-complex-constraint *ngIf="selectedCP.displayType === 'complex'" [constraint]="selectedCP" [structure]="structure" [groupName]="'complex'" [isPredicate]="true"></edit-complex-constraint>
        </div>
    </div>

    <p-footer>
        <button pButton type="button" label="OK" class="ui-button-raised green-btn pull-right" (click)="submitCS()"></button>
        <button pButton type="button" label="Reset" class="ui-button-raised red-btn pull-right" (click)="resetEdit()"></button>
        <button pButton type="button" label="Discard" class="ui-button-raised ui-button-primary pull-right" (click)="discardEdit()"></button>
    </p-footer>
</p-dialog>