.custom-ig-badge {
  display: inline;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

.title-text {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.5rem;
}
