<div id="toc-container" class="toc-container">
  <tree-root #treeroot [nodes]="nodes" [options]="options">
    <ng-template #treeNodeTemplate let-index="index" let-node>
      <ng-container [ngSwitch]="node.data.type">

        <ng-container *ngSwitchCase="'CONFORMANCEPROFILEREGISTRY'">
          <div #msgLib>
            <span [contextMenu]="messagesContextMenu"> Custom Message Structures </span>
            <context-menu #messagesContextMenu>
              <ng-template (execute)="createMessage()" contextMenuItem>
                <i class="fa fa-plus"></i> Create Custom Message Structure
              </ng-template>
            </context-menu>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'CONFORMANCEPROFILE'">
          <div #rla="routerLinkActive"
            [routerLink]="getElementUrl(node.data)"
            routerLinkActive
            [contextMenu]="conformanceProfileContextMenu"
            class="inline-label">

            <app-entity-bagde [type]="node.data.type"></app-entity-bagde>
            <app-scope-badge [scope]="node.data.domainInfo.scope" [version]="node.data.domainInfo.version" [flavor]="node.data.flavor"></app-scope-badge>
            <div>
              <i class="fa fa-lock" style="color: red; margin-left: 5px;" *ngIf="node.data.status === 'PUBLISHED'"></i>
            </div>
            <span style="margin-left: 5px;">
              {{ node.data.fixedName }} - {{ node.data.description }}
            </span>

          </div>

          <context-menu #conformanceProfileContextMenu>
            <ng-template (execute)="publishStructure(node.data.id, node.data.type)" [enabled]="!rla.isActive && node.data.status !== 'PUBLISHED'" contextMenuItem>
              <i class="fa fa-lock"></i> Lock Structure
            </ng-template>
          </context-menu>

          <ng-container *ngIf="rla.isActive" >
            <ng-container *ngTemplateOutlet="subMenu; context: { $implicit : node.data }"></ng-container>
          </ng-container>


        </ng-container>



        <ng-container *ngSwitchCase="'SEGMENTREGISTRY'">
          <div #segLib>
            <span [contextMenu]="segmentsContextMenu"> Custom Segment Structures </span>
            <context-menu #segmentsContextMenu>
              <ng-template (execute)="createSegment()" contextMenuItem>
                <i class="fa fa-plus"></i> Create Custom Segment Structure
              </ng-template>
            </context-menu>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'SEGMENT'">
          <div #rla="routerLinkActive"
            [routerLink]="getElementUrl(node.data)"
            routerLinkActive
            [contextMenu]="segmentContextMenu"
            class="inline-label">

            <app-entity-bagde [type]="node.data.type"></app-entity-bagde>
            <app-scope-badge [scope]="node.data.domainInfo.scope" [version]="node.data.domainInfo.version" [flavor]="node.data.flavor"></app-scope-badge>
            <div>
              <i class="fa fa-lock" style="color: red; margin-left: 5px;" *ngIf="node.data.status === 'PUBLISHED'"></i>
            </div>
            <span style="margin-left: 5px;">
              {{ node.data.fixedName + (node.data.variableName ? '_' + node.data.variableName : '')  }} - {{ node.data.description }}
            </span>

          </div>

          <context-menu #segmentContextMenu>
            <ng-template (execute)="publishStructure(node.data.id, node.data.type)" [enabled]="!rla.isActive && node.data.status !== 'PUBLISHED'" contextMenuItem>
              <i class="fa fa-lock"></i> Lock Structure
            </ng-template>
          </context-menu>

          <ng-container *ngIf="rla.isActive" >
            <ng-container *ngTemplateOutlet="subMenu; context: { $implicit : node.data }"></ng-container>
          </ng-container>


        </ng-container>



      </ng-container>
    </ng-template>

  </tree-root>
</div>

<ng-template #subMenu let-element>
  <div class="custom-menu">
    <ul style="list-style-type: none; margin-bottom: 0px;">
      <li [routerLink]="getElementUrl(element) + '/metadata'" routerLinkActive="active-node">
        <span>
          <i class="fa fa-edit"></i><a> Metadata </a>
        </span>
      </li>
      <li [routerLink]="getElementUrl(element) + '/structure'" routerLinkActive="active-node">
        <span>
          <i class="fa fa-table"></i><a> Structure </a>
        </span>
      </li>
      <li [routerLink]="getElementUrl(element) + '/dependencies'" routerLinkActive="active-node">
        <span>
          <i class="fa fa-list"></i><a> Dependencies </a>
        </span>
      </li>
    </ul>
  </div>
</ng-template>
