$primaryColor:#5C6BC0;
$primaryTextColor:#ffffff;
$menuBgColor:#ffffff;
$menuitemTextColor:#424242;
$submenuActiveBgColor:#ffffff;
$menuItemHoverTextColor:#5C6BC0;
$menuItemActiveTextColor:#5C6BC0;

$bodyBgColor:#EEF2F6;
$textColor:#424242;
$textSecondaryColor:#7a7a7a;
$placeholderColor:#a0a0a0;
$dividerColor:#dddddd;

@import '../../sass/layout/_layout.scss';