<p-tree [style]="{'width':'100%', 'height': '100%'}"
  [value]="structure"
  (onNodeExpand)="onNodeExpand($event)"
  (onNodeSelect)="nodeSelected($event)"
  (onNodeUnselect)="nodeUnselected($event)"
  [selectionMode]="selectionMode"
  [propagateSelectionUp]="false"
  [propagateSelectionDown]="false"
  [(selection)]="selectedNode">
  <ng-template let-node pTemplate="default">
    <app-entity-bagde [type]="node.data.type" ></app-entity-bagde>
    <span [ngClass]="{'disabled-tree-item': !node.selectable}">
      <span *ngIf="node.data.position"> {{node.data.position}}.</span> {{node.data.name}}
      <span *ngIf="node.data.usage"> - {{node.data.usage.value === 'CAB' ? 'C(A/B)' : node.data.usage.value}} </span>
      <span *ngIf="node.data.cardinality"> [{{node.data.cardinality.min}}..{{node.data.cardinality.max}}] </span>
    </span>
  </ng-template>
</p-tree>

