<form  #editForm="ngForm" novalidate>

<div>
    <span style="font-weight: 700; font-size: 16px">
  {{section.label}}

      <button  style="float:right" (click)="save()"  pButton type="button" label="save" class="green-btn" icon="fa-floppy-o" [disabled]="editForm.invalid ||!editForm.dirty"></button>
      <button  style="float:right"  (click)="reset()" pButton type="button" label="reset" class="red-btn" icon="fa-refresh" [disabled]="editForm.invalid ||!editForm.dirty" ></button>
  </span>
</div>
  <div>
   <span style="font-weight: 300 ;    font-weight: 300;
    font-style: italic;
    font-size: 13px;">
    <i class="fa fa-calendar"></i> date updated: {{section.dateUpdated | date}}


   </span>
  </div>
<div class="ui-g">
  <label class="ui-g-1">
   <strong> Title </strong>
  </label>
  <input name="title" id="title" pInputText placeholder="title"
         [(ngModel)]="section.label" class="ui-g-11" #title="ngModel"  pTooltip="section Title" required>

  <div class="ui-g-offset-1" *ngIf="title.invalid&&  (title.dirty || title.touched)">
    <p-message severity="error" text="Title is required"></p-message>

  </div>
</div>

<div class="ui-g">
  <label class="ui-g-1">
   <strong>Content</strong>
  </label>

  <div class="ui-g-11" [froalaEditor] [(froalaModel)]="section.description">{{section.description}}</div>

</div>
</form>


