<div>
    <span style="font-weight: 700; font-size: 16px">
  {{section.data.label}}


  </span>
</div>
  <div>
<span style="font-weight: 300 ;    font-weight: 300;
    font-style: italic;
    font-size: 13px;">
   <i class="fa fa-calendar"></i> date updated:{{section.data.dateUpdated|date}}


</span>
  </div>




<div class="ui-g">
  <label class="ui-g-1">
   <strong> Title </strong>
  </label>
  <input  class="ui-g-11" type="text" [(ngModel)]="section.data.label" pInputText placeholder="Section Title"  id="filter" #filter (keyup)="filterFn()" pTooltip="section Title"  tooltipPosition="top" >

</div>

<div class="ui-g">
  <label class="ui-g-1">
   <strong>Content</strong>
  </label>

  <div class="ui-g-11" [froalaEditor]>{{section.description}}</div>

</div>


