profile-component/target
domain/target
profile-component/.settings
domain/.settings
*.classpath
*.settings*
*target*
*.project*
*.classpath*
*.metadata
*public*
bootstrap/hl7-igamt.log.2018-07-26.0.gz
bootstrap/hl7-igamt.log.2018-07-27.0.gz
*.gz
*.tmp
*.log
