<tree-root #treeroot [nodes]="nodes" [options]="options" *ngIf="filter">
  <ng-template #treeNodeTemplate let-index="index" let-node>
    <ng-container [ngSwitch]="node.data.type">

      <ng-container *ngSwitchCase="'TEXT'">
        <input type="checkbox" checked="true" (change)="check($event, node, node.data.type)" style="margin-right: 5px;">
        <span> {{node.data.path}} {{node.data.variableName}}</span>
      </ng-container>

      <ng-container *ngSwitchCase="'PROFILE'">
        <span> {{node.data.path}} {{node.data.variableName}}</span>
      </ng-container>

      <ng-container *ngSwitchCase="'PROFILECOMPONENTREGISTRY'">
        <span> {{node.data.path}} {{node.data.variableName}}</span>
      </ng-container>

      <ng-container *ngSwitchCase="'CONFORMANCEPROFILEREGISTRY'">
        <div #cpLib>
          <span> {{node.data.path}} {{node.data.variableName}}</span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'COMPOSITEPROFILEREGISTRY'">
        <div #compositePLib>
          <span> {{node.data.path}} {{node.data.variableName}}</span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'DATATYPEREGISTRY'">
        <div #dtLib>
          <span> {{node.data.path}} {{node.data.variableName}}</span>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'DERIVEDDATATYPEREGISTRY'">
        <div #dtLib>
          <span> {{node.data.path}} {{node.data.variableName}}</span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'VALUESETREGISTRY'">
        <div #vsLib>
          <span> {{node.data.path}} {{node.data.variableName}}</span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'SEGMENTREGISTRY'">
        <div #segLib>
          <span> {{node.data.path}} {{node.data.variableName}}</span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'DATATYPE'">
        <div style="display: flex; flex-direction: row; align-items: center;" *ngIf="filter.datatypesFilterMap">
          <input type="checkbox" [(ngModel)]="filter.datatypesFilterMap[node.id]" style="margin-right: 5px;" [disabled] ="node.data.delta && node.data.delta ==='DELETED'">
          <app-display-section [element]="node.data" [inline]="true"  [ngClass]="{
    'delta-changed':filter.changed[node.id],
    'delta-added':  filter.added[node.id]}" (click)="onSelect(node.data)"></app-display-section>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'CONFORMANCEPROFILE'">
        <div style="display: flex; flex-direction: row; align-items: center;" *ngIf="filter.conformanceProfileFilterMap">
          <input type="checkbox" [(ngModel)]="filter.conformanceProfileFilterMap[node.id]" style="margin-right: 5px;" [disabled]="node.data.delta && node.data.delta === 'DELETED'">
          <app-display-section [contextMenu]="conformanceProfileSelection" [element]="node.data" [inline]="true" [ngClass]="{
    'delta-changed':filter.changed[node.id],
    'delta-added':  filter.added[node.id]}"></app-display-section>
    <context-menu #conformanceProfileSelection>
      <ng-template (execute)="addProfileAndDependencies(node)" contextMenuItem>
        <i class="fa fa-check-square"></i> Add This Profile And Its Dependencies
      </ng-template>
      <ng-template (execute)="selectOnlyProfileAndDependencies(node)" contextMenuItem>
          <i class="fa fa-check-square"></i> Select Only This Profile And Its Dependencies
        </ng-template>
        <ng-template (execute)="removeProfileAndDependencies(node)" contextMenuItem>
          <i class="fa fa-remove"></i> Remove This Profile And Its Dependencies
        </ng-template>
    </context-menu>
        </div>
      </ng-container>


      <ng-container *ngSwitchCase="'SEGMENT'">
        <div style="display: flex; flex-direction: row; align-items: center;" *ngIf="filter.segmentFilterMap">
          <input type="checkbox" [(ngModel)]="filter.segmentFilterMap[node.id]" style="margin-right: 5px;" [disabled]="node.data.delta && node.data.delta === 'DELETED'">
          <app-display-section [element]="node.data" [inline]="true" [ngClass]="{
    'delta-changed':filter.changed[node.id],
    'delta-added':  filter.added[node.id]}" (click)="onSelect(node.data)"></app-display-section>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'VALUESET'">
        <div style="display: flex; flex-direction: row; align-items: center;" *ngIf="filter.valueSetFilterMap">
          <input type="checkbox" [(ngModel)]="filter.valueSetFilterMap[node.id]" style="margin-right: 5px;" [disabled]="node.data.delta && node.data.delta === 'DELETED'">
          <app-display-section [element]="node.data" [inline]="true" [ngClass]="{
    'delta-changed':filter.changed[node.id],
    'delta-added':  filter.added[node.id]}" (click)="onSelect(node.data)"></app-display-section>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'PROFILECOMPONENT'">
        <div style="display: flex; flex-direction: row; align-items: center;" *ngIf="filter.profileComponentFilterMap" (click)="onSelect(node.data)">
          <input type="checkbox" [(ngModel)]="filter.profileComponentFilterMap[node.id]" style="margin-right: 5px;" [disabled]="node.data.delta && node.data.delta === 'DELETED'">
          <span (click)="onSelect(node.data)"  [ngClass]="{
            'delta-changed':filter.changed[node.id],
             'delta-added':  filter.added[node.id]}">
            <app-entity-bagde [type]="'PROFILECOMPONENT'" ></app-entity-bagde> {{node.data.variableName}}
          </span>
        </div>
      </ng-container>


      <ng-container *ngSwitchCase="'COMPOSITEPROFILE'">
        <div style="display: flex; flex-direction: row; align-items: center;" *ngIf="filter.compositeProfileFilterMap">
          <input type="checkbox" [(ngModel)]="filter.compositeProfileFilterMap[node.id]" style="margin-right: 5px;" [disabled]="node.data.delta && node.data.delta === 'DELETED'">
          <span (click)="onSelect(node.data)"  [ngClass]="{
    'delta-changed':filter.changed[node.id],
    'delta-added':  filter.added[node.id]}">
            <app-entity-bagde [type]="'PROFILECOMPONENT'" ></app-entity-bagde> {{node.data.variableName}}
          </span>
        </div>
      </ng-container>

    </ng-container>
  </ng-template>

</tree-root>
