.dialog-container {
    max-height: 65vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.report-container {
    overflow: hidden;
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
}