<div style="display: flex; justify-content: flex-end">
  <button class="btn btn-success btn-sm" (click)="addMapping()">
    <i class="fa fa-plus"></i> Add Mapping
  </button>
</div>

<div class="header-title">
  <strong>Profile Component Dynamic mapping</strong>
</div>

<table class="table table-bordered">
  <tr>
    <td>
      <strong>Value Set</strong>
    </td>
    <td>
      <app-display-section *ngIf="pcVs" [element]="pcVs" [hideDescription]="true"></app-display-section>
    </td>

  </tr>
</table>

<div *ngIf="!profileComponentDynamicMapping || !profileComponentDynamicMapping.length || !available" style="padding: 10px; background-color: #f1f1f1; color: #888888; text-align: center;">
  <span> No Dynamic Mapping defined </span>
</div>

 <table class="table table-striped table-bordered table-sm" *ngIf="profileComponentDynamicMapping && profileComponentDynamicMapping.length > 0">
    <tr>
      <th style="width: 100px;"> Action </th>
      <th style="width: 100px;">Reference Value</th>
      <th>User Mapping</th>
      <th *ngIf="!viewOnly" style="width: 190px;"></th>
    </tr>
    <tr *ngFor="let dyn of profileComponentDynamicMapping; let i = index;" [ngClass]="{
      'table-success': dyn.changeType === 'ADD',
      'table-danger': dyn.changeType === 'DELETE'}">
      <td>
        <span class="badge badge-success" *ngIf="dyn.changeType === 'ADD'">{{ dyn.changeType }}</span>
        <span class="badge badge-danger" *ngIf="dyn.changeType === 'DELETE'">{{ dyn.changeType }}</span>
      </td>
      <td>
        {{dyn?.value}}
      </td>

      <td #anchor>
        <p-dropdown [(ngModel)]="dyn.display"  [appendTo]="anchor" [optionLabel]="'fixedName'" *ngIf="!viewOnly && dyn.changeType !=='DELETE' && dyn.status !=='INVALID'"
                    [options]="available[dyn.value]" [style]="{'minWidth':'100%'}"
                    [placeholder]="'Default HL7 '" (onChange)="modelChange($event)">
          <ng-template let-item pTemplate="selectedItem">
              <app-display-section [element]="dyn.display" [hideDescription]="true"></app-display-section>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <app-display-section [element]="item.value" [hideDescription]="true"></app-display-section>
          </ng-template>
        </p-dropdown>
        <app-display-section  *ngIf="viewOnly || dyn.changeType ==='DELETE' || dyn.status ==='INVALID'" [element]="dyn.display" [hideDescription]="true"></app-display-section>
      </td>
      <td style="width: 190px;">
        <button class="btn btn-sm btn-danger" style="margin-left: 5px;" (click)="deleteItem(dyn)">
          <i class="fa fa-trash"></i> Delete
        </button>
      </td>
    </tr>
  </table>

<div class="header-title" (click)="toggle()">
  <button class="btn btn-sm btn-primary">
    <i *ngIf="!showOrigin"  class="fa fa-eye-slash"></i>
    <i *ngIf="showOrigin"  class="fa fa-eye"></i>
  </button>
  <strong style="margin-left: 5px;">Resource Dynamic Mapping</strong>
</div>

<!--<div *ngIf="!segmentDynamicMapping || !segmentDynamicMapping.length || !available" style="padding: 10px; background-color: #f1f1f1; color: #888888; text-align: center;">-->
<!--  <span> No Dynamic Mapping defined In the segment </span>-->
<!--</div>-->

<!--<div *ngIf="segmentDynamicMapping&&segmentDynamicMapping.length && available && showOrigin">-->

<!--  <table class="table table-bordered">-->
<!--    <tr>-->
<!--      <td>-->
<!--        <strong>Value Set</strong>-->
<!--      </td>-->
<!--      <td>-->
<!--        <app-display-section *ngIf="segVs" [element]="segVs" [hideDescription]="true"></app-display-section>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->

<!--  <table class="table table-striped table-bordered table-sm" *ngIf="segmentDynamicMapping && segmentDynamicMapping?.length > 0">-->
<!--    <tr>-->
<!--      <th style="width: 100px;">Reference Value</th>-->
<!--      <th>User Mapping</th>-->
<!--      <th style="width: 100px;"> STATUS </th>-->
<!--      <th *ngIf="!viewOnly" style="width: 190px;">Actions</th>-->
<!--    </tr>-->
<!--    <tr *ngFor="let dyn of segmentDynamicMapping; let i = index;">-->
<!--      <td>-->
<!--        {{dyn?.value}}-->
<!--      </td>-->
<!--      <td>-->
<!--        <div *ngIf="dyn.display">-->
<!--          <app-display-section [element]="dyn.display"></app-display-section>-->
<!--        </div>-->
<!--      </td>-->
<!--      <td [ngClass]="{'table-success': dyn.status === 'ADD',-->
<!--      'table-danger': dyn.status === 'INACTIVE',-->
<!--      'table-warning': dyn.status === 'INVALID'-->
<!--      }">-->
<!--        <span class="badge" ></span>-->
<!--        {{dyn.status}}-->
<!--      </td>-->
<!--      <td style="width: 190px;">-->
<!--        <button class="btn btn-sm btn-danger" *ngIf="dyn.status ==='ACTIVE'" style="margin-left: 5px;" (click)="deleteFromResource(dyn)">-->
<!--          <i class="fa fa-trash"></i> Exclude-->
<!--        </button>-->

<!--        <button class="btn btn-sm btn-danger" *ngIf="dyn.status ==='INVALID'" style="margin-left: 5px;" (click)="deleteFromResource(dyn)">-->
<!--          <i class="fa fa-trash"></i> Remove-->
<!--        </button>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
