<app-ngx-dropdown type="Entity" [values]="filtered" [filter]="true" [required]="required" [filterFn]="filterFn" [placeholder]="placeholder" [(ngModel)]="selectedResource" (ngModelChange)="change($event)">
  <ng-template #selected let-item>
    <app-display-section [element]="item" [hideDescription]="true" [inline]="true" ></app-display-section>
  </ng-template>
  <ng-template #item let-item>
    <app-display-section [element]="item" [hideDescription]="true" [inline]="true" ></app-display-section>
  </ng-template>
</app-ngx-dropdown>
