li {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
}

li a {
  color: $nist_dark_blue;
}

.nav-item:hover {
  background-color: $nist_light_yellow;
  cursor: pointer;
}

.active {
  background-color: $nist_light_yellow;
}

.active-dropdown {
  background-color: $nist_light_yellow;
  color: black;
}
