// Theme Colors
$nist_dark_blue: #021a4c;
$nist_light_blue: #739fff;
$nist_dark_yellow: #F3C60D;
$nist_light_yellow: #ffec9d;

// Application Background
%app-background {
  @extend %blue-bg;
}

%blue-bg {
  background: #1488CC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Sizes
$header_toolname_height: 61;
$header_links_height: 46;
$header_height: $header_links_height + $header_toolname_height + 3 + px;

$workspace_min_height: 700px;

// Entity Badge Colors
$ig_color: #b6006a;
$group_color: #3dc43d;
$segment_color: #001aff;
$field_color: #ff9e1e;
$component_color: #ffd900;
$subcomponent_color: #87abf5;
$datatype_color: rgb(240, 10, 10);
$valueset_color: rgb(255, 0, 200);
$comformance_profile_color: rgb(167, 90, 1);
$predicate_color: rgb(85, 173, 255);
$co_constraint_group_color: rgb(240, 159, 53);
$entity-badge-profile-component: #aa11e6;
$entity-badge-composite-profile: #11c6e6;
$entity-badge-profile-component-jigg:#11e6b7;
$entity-badge-folder: #91089d;
$entity-badge-workspace: #050b53;

// Scope Badge Colors
$hl7_scope_color: rgb(253, 150, 150);
$hl7_version_dynamic: orange;
$user_scope_color: rgb(14, 158, 46);
$preloaded_scope_color: rgb(125, 218, 255);
$phinvads_color: white;
$custom_scope_color: #d0a5d0;

$phinvads_scope_color: gray;

$vs_binding_color: rgb(127, 255, 212);
$single_code_binding_color: rgb(138, 43, 226);

// Delta Color
$delta_added: lightgreen;
$delta_deleted: lightpink;
$delta_changed: #ffeec9;

$delta_deleted_light: #fff1f3;
$delta_added_light: #edffed;
$delta_changed_light: #fff7e7;

$deprecated-element: yellow;

.entity-badge-ig {
  background-color: $ig_color !important;
}

.entity-badge-group {
  background-color: $group_color !important;
}

.entity-badge-segment {
  background-color: $segment_color !important;
}

.entity-badge-field {
  background-color: $field_color !important;
}

.entity-badge-component {
  background-color: $component_color !important;
}

.entity-badge-subcomponent {
  background-color: $subcomponent_color !important;
}

.entity-badge-datatype {
  background-color: $datatype_color !important;
}

.entity-badge-valueset {
  background-color: $valueset_color !important;
}

.entity-badge-conformance-profile {
  background-color: $comformance_profile_color !important;
}

.entity-badge-predicate {
  background-color: $predicate_color !important;
}

.entity-badge-co-constraint-group {
  background-color: $co_constraint_group_color !important;
}
.entity-badge-profile-component {
  background-color: $entity-badge-profile-component !important;
}
.entity-badge-composite-profile {
  background-color: $entity-badge-composite-profile !important;
}
.entity-badge-profile-component-icon {
  color: $entity-badge-profile-component-jigg !important;
}
.entity-badge-composite-profile-icon {
  color: $entity-badge-profile-component !important;
}
.entity-badge-folder {
  background-color: $entity-badge-folder !important;
}
.entity-badge-workspace {
  background-color: $entity-badge-workspace !important;
}

// Page Container
%page-wrapper {
  background-color: #f7f7f7;
  padding: 10px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
}

.page-title {
  margin-bottom: 50px;
}
.button-badge{
  border-radius: 50% !important;
}
