.active{
  /*background: #b2e2ff !important;*/
  background:  #ffec9d !important;

}

.doc-link{
  font-size: 14px;
  cursor:pointer;
  color: #337ab7;
  background: #fffcf0;
  padding: 10px 15px;
  word-break: break-all;
  font-family: RobotoDraft, Roboto, sans-serif;
  margin: 2px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: move;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.doc-link:last-child {
  border: none;
}
.doc-link:hover {
  border: none;
  background: white;

}

.doc-list.cdk-drop-list-dragging .doc-link:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
