<!-- <p-checkbox  binary="true" label="Include Conformance Profile Table Options"></p-checkbox> -->
<div style="width: 100%; display: flex; align-items: flex-start;">
  <div style="width: 100%;" >

    <div class="card card-configuration" style="flex-grow: 1; margin-bottom: 10px;">
      <h5 class="card-title title-text custom-card-title">Usages (Segments/Groups to Export)</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><p-checkbox disabled="true" label="R" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.segmentORGroupsMessageExport.r"></p-checkbox></li>
        <li class="list-group-item"><p-checkbox disabled="true" label="RE" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.segmentORGroupsMessageExport.re"></p-checkbox></li>
        <li class="list-group-item"><p-checkbox disabled="true" label="C(a/b)" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.segmentORGroupsMessageExport.cab"> </p-checkbox></li>
        <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="C" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.segmentORGroupsMessageExport.c" (onChange)="triggerChange()"> </p-checkbox></li>
        <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="O" binary="false" [(ngModel)]="config.conformamceProfileExportConfiguration.segmentORGroupsMessageExport.o" (onChange)="triggerChange()"></p-checkbox></li>
        <li class="list-group-item"><p-checkbox [disabled]="viewOnly"  label="X" binary="false" [(ngModel)]="config.conformamceProfileExportConfiguration.segmentORGroupsMessageExport.x" (onChange)="triggerChange()"></p-checkbox></li>
        <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="B" binary="false" [(ngModel)]="config.conformamceProfileExportConfiguration.segmentORGroupsMessageExport.b" (onChange)="triggerChange()"></p-checkbox></li>
        <li class="list-group-item"><p-checkbox [disabled]="viewOnly"  label="W" binary="false" [(ngModel)]="config.conformamceProfileExportConfiguration.segmentORGroupsMessageExport.w" (onChange)="triggerChange()"></p-checkbox></li>
      </ul>
    </div>

    <div style="display: flex;">

      <div class="card card-configuration" style="flex-grow: 1" *ngIf="displayColumns" >
        <h5 class="card-title title-text custom-card-title">Columns to export</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let c of config.conformamceProfileExportConfiguration.columns">
            <p-checkbox label= {{c.name}} binary="true" [disabled]="viewOnly" [(ngModel)]="c.present" (onChange)="triggerChange()"></p-checkbox>
          </li>
        </ul>
      </div>

      <div class="card card-configuration" style="flex-grow: 1; margin-bottom: 10px;">
        <h5 class="card-title title-text custom-card-title">Structured Narrative</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly"  label="Definition Text" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.structuredNarrative.definitionText" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Comments" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.structuredNarrative.comments" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Pre-Definition" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.preDef" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Post-Definition" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.postDef" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item" *ngIf="delta"><p-checkbox [disabled]="viewOnly" label="Reason For Change" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.reasonForChange" (onChange)="triggerChange()"></p-checkbox></li>

        </ul>
      </div>



      <div class="card card-configuration" style="flex-grow: 1; margin-right: 10px;">
        <h5 class="card-title title-text custom-card-title">Metadata</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly"  label="HL7 Version" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.metadataConfig.hl7version" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Organization" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.metadataConfig.organization" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Author" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.metadataConfig.author" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Type" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.metadataConfig.type" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Role" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.metadataConfig.role" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Description" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.metadataConfig.description" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Flavor Extension" binary="true" [(ngModel)]="config.flavorExtension" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Entity Identifier" binary="true" [(ngModel)]="config.identityIdentifier" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Namespace ID" binary="true" [(ngModel)]="config.nameSpaceID" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Universal  ID" binary="true" [(ngModel)]="config.universalID" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Universal ID Type" binary="true" [(ngModel)]="config.universalIDType" (onChange)="triggerChange()"></p-checkbox></li>




          <!-- <li class="list-group-item"><p-checkbox label="Usage Notes " binary="true" [(ngModel)]="config.usageNotes" (onChange)="triggerChange()"></p-checkbox></li>
          <li class="list-group-item"><p-checkbox label="Author Notes" binary="true" [(ngModel)]="config.authorNotes" (onChange)="triggerChange()"></p-checkbox></li> -->
        </ul>
      </div>




      <div style="display: flex; flex-grow: 1; flex-direction: column;">


        <div class="card card-configuration" style="flex-grow: 1; margin-bottom: 10px;">
          <h5 class="card-title title-text custom-card-title">Constraints</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><p-checkbox [disabled]="viewOnly || delta" label="Conditional Predicates" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.constraintExportConfiguration.predicate" (onChange)="triggerChange()"></p-checkbox></li>
            <li class="list-group-item"><p-checkbox [disabled]="viewOnly || delta" label="Conformance Statments" binary="true" [(ngModel)]="config.conformamceProfileExportConfiguration.constraintExportConfiguration.conformanceStatement" (onChange)="triggerChange()"></p-checkbox></li>
          </ul>
        </div>


      <div class="card card-configuration" style="flex-grow: 1; margin-bottom: 10px;">
        <h5 class="card-title title-text custom-card-title">CoConstraints</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p-radioButton [disabled]="viewOnly" label="Compact Format" value="COMPACT" [(ngModel)]="config.conformamceProfileExportConfiguration.coConstraintExportMode" (ngModelChange)="triggerChange()"></p-radioButton></li>
          <li class="list-group-item"><p-radioButton [disabled]="viewOnly" label="Verbose Format" value="VERBOSE" [(ngModel)]="config.conformamceProfileExportConfiguration.coConstraintExportMode" (ngModelChange)="triggerChange()"></p-radioButton></li>
          <li class="list-group-item"><p-radioButton [disabled]="viewOnly" label="Don't Export" value="NOEXPORT" [(ngModel)]="config.conformamceProfileExportConfiguration.coConstraintExportMode" (ngModelChange)="triggerChange()"></p-radioButton></li>
        </ul>
      </div>




      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><p-checkbox [disabled]="viewOnly" label="Include Composition" binary="true" [(ngModel)]="config.includeComposition" (onChange)="triggerChange()"></p-checkbox></li>
    </ul>

    <div *ngIf="displayFlavors" style="display: flex; flex-grow: 1; flex-direction: column;" >
      <div class="card card-configuration" style="flex-grow: 1; margin-bottom: 10px;">
        <h5 class="card-title title-text custom-card-title">Generated Segment Flavors</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p-radioButton [disabled]="viewOnly" label="Use Default Configuration" value="DEFAULT" [(ngModel)]="config.generatedSegmentsFlavorsConfiguration" (ngModelChange)="triggerChange()"></p-radioButton></li>
          <li class="list-group-item"><p-radioButton [disabled]="viewOnly" label="Do Not Export" value="NOEXPORT" [(ngModel)]="config.generatedSegmentsFlavorsConfiguration" (ngModelChange)="triggerChange()"></p-radioButton></li>
        </ul>
      </div>
      <div class="card card-configuration" style="flex-grow: 1; margin-bottom: 10px;">
        <h5 class="card-title title-text custom-card-title">Generated Datatype Flavors</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p-radioButton [disabled]="viewOnly" label="Use Default Configuration" value="DEFAULT" [(ngModel)]="config.generatedDatatypesFlavorsConfiguration" (ngModelChange)="triggerChange()"></p-radioButton></li>
          <li class="list-group-item"><p-radioButton [disabled]="viewOnly" label="Do Not Export" value="NOEXPORT" [(ngModel)]="config.generatedDatatypesFlavorsConfiguration" (ngModelChange)="triggerChange()"></p-radioButton></li>
        </ul>
      </div>
    </div>
  </div>
</div>
