body {
background-color:#FFFFFF;
text:#000000;
link:#FF0000; vlink:#666666; alink:#CC9900
}

p,dd,pre,div { font-family:"helvetica"}
h1 { font-family:"helvetica"; color:#2200DD;bottom-border=1 }
h2 { font-family:"helvetica"; color:#330099 }
h3 { font-family:"helvetica"; color:#330099 }
h4 { font-family:"helvetica"; color:#330099; margin-left: 100px }
h5 { font-family:"helvetica"; color:#330099; margin-left: 100px }
a:link { font-family:"helvetica"; color:blue }
ul,li,blockquote { font-family:"helvetica"}

.indented { margin-left: 100px }

th { background-color:#EE0000; color:#FFFFFF }
th.meta { background-color:#00DD00 }
.even { background-color:#FFFFFF; border: 0px; padding:0px; vertical-align: top; }
.odd { background-color:#EEEEEE; border: 0px; padding:0px; vertical-align: top; }
td { text-align : left; padding:0px 4px 0px 4px; vertical-align: top; }

.component { font-family:"Courier New"; margin-left: 100px }
.example { font-family:"Courier New"; margin-left: 100px }
