<style type="text/css" media="screen">
.navbar-brand {
  float: left;
  margin-left: -15px;
  margin-right: 5px;
}
.navbar-nav {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  border-radius: 0;
}
.navbar-nav.pull-right {
  float: right;
  width: auto;
}
.navbar-toggle {
  position: relative;
  top: auto;
  left: auto;
  display: none;
}
.nav-collapse.collapse {
  display: block !important;
  height: auto !important;
  overflow: visible !important;
}

.modal-dialog {
  left: 50%;
  right: auto;
  width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.carousel-control .glyphicon,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  font-size: 30px;
}
.carousel-caption {
  left: 20%;
  right: 20%;
  padding-bottom: 30px;
}
.carousel-indicators {
  bottom: 20px;
}

.jumbotron {
  padding: 50px 60px;
  border-radius: 6px;
}
.jumbotron h1 {
  font-size: 63px;
}

.navbar-brand {
  float: left;
  margin-left: -15px;
  margin-right: 5px;
}
.navbar-nav {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  border-radius: 0;
}
.navbar-nav.pull-right {
  float: right;
  width: auto;
}
.navbar-toggle {
  position: relative;
  top: auto;
  left: auto;
  display: none;
}
.nav-collapse.collapse {
  display: block !important;
  height: auto !important;
  overflow: visible !important;
}

.modal-dialog {
  left: 50%;
  right: auto;
  width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.carousel-control .glyphicon,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  font-size: 30px;
}
.carousel-caption {
  left: 20%;
  right: 20%;
  padding-bottom: 30px;
}
.carousel-indicators {
  bottom: 20px;
}

.jumbotron {
  padding: 50px 60px;
  border-radius: 6px;
}
.jumbotron h1 {
  font-size: 63px;
}</style><style type="text/css" media="print">
  .page-break	{ display:block; page-break-before:always; }

* {
  text-shadow: none !important;
  color: #000 !important;
  background: transparent !important;
  box-shadow: none !important;
}
a,
a:visited {
  text-decoration: underline;
}
a[href]:after {
  content: " (" attr(href) ")";
}
abbr[title]:after {
  content: " (" attr(title) ")";
}
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}
pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}
thead {
  display: table-header-group;
}
tr,
img {
  page-break-inside: avoid;
}
img {
  max-width: 100% !important;
}
@page  {
  margin: 2cm .5cm;
}
p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}
h2,
h3 {
  page-break-after: avoid;
}
.navbar {
  display: none;
}
.table td,
.table th {
  background-color: #fff !important;
}
.btn > .caret,
.dropup > .btn > .caret {
  border-top-color: #000 !important;
}
.label {
  border: 1px solid #000;
}
.table {
  border-collapse: collapse !important;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd !important;
}

.visible-print {
  display: block !important;
}
tr.visible-print {
  display: table-row !important;
}
th.visible-print,
td.visible-print {
  display: table-cell !important;
}
.hidden-print {
  display: none !important;
}
tr.hidden-print {
  display: none !important;
}
th.hidden-print,
td.hidden-print {
  display: none !important;
}

* {
  text-shadow: none !important;
  color: #000 !important;
  background: transparent !important;
  box-shadow: none !important;
}
a,
a:visited {
  text-decoration: underline;
}
a[href]:after {
  content: " (" attr(href) ")";
}
abbr[title]:after {
  content: " (" attr(title) ")";
}
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}
pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}
thead {
  display: table-header-group;
}
tr,
img {
  page-break-inside: avoid;
}
img {
  max-width: 100% !important;
}
@page  {
  margin: 2cm .5cm;
}
p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}
h2,
h3 {
  page-break-after: avoid;
}
.navbar {
  display: none;
}
.table td,
.table th {
  background-color: #fff !important;
}
.btn > .caret,
.dropup > .btn > .caret {
  border-top-color: #000 !important;
}
.label {
  border: 1px solid #000;
}
.table {
  border-collapse: collapse !important;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd !important;
}

.visible-print {
  display: block !important;
}
tr.visible-print {
  display: table-row !important;
}
th.visible-print,
td.visible-print {
  display: table-cell !important;
}
.hidden-print {
  display: none !important;
}
tr.hidden-print {
  display: none !important;
}
th.hidden-print,
td.hidden-print {
  display: none !important;
}</style><style type="text/css" media="all">
  .page-break	{ display:none; }

.lead {
  font-size: 21px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.container {
  max-width: 728px;
}
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  float: left;
}
.col-sm-1 {
  width: 8.333333333333332%;
}
.col-sm-2 {
  width: 16.666666666666664%;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-4 {
  width: 33.33333333333333%;
}
.col-sm-5 {
  width: 41.66666666666667%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-7 {
  width: 58.333333333333336%;
}
.col-sm-8 {
  width: 66.66666666666666%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-10 {
  width: 83.33333333333334%;
}
.col-sm-11 {
  width: 91.66666666666666%;
}
.col-sm-12 {
  width: 100%;
}
.col-push-1 {
  left: 8.333333333333332%;
}
.col-push-2 {
  left: 16.666666666666664%;
}
.col-push-3 {
  left: 25%;
}
.col-push-4 {
  left: 33.33333333333333%;
}
.col-push-5 {
  left: 41.66666666666667%;
}
.col-push-6 {
  left: 50%;
}
.col-push-7 {
  left: 58.333333333333336%;
}
.col-push-8 {
  left: 66.66666666666666%;
}
.col-push-9 {
  left: 75%;
}
.col-push-10 {
  left: 83.33333333333334%;
}
.col-push-11 {
  left: 91.66666666666666%;
}
.col-pull-1 {
  right: 8.333333333333332%;
}
.col-pull-2 {
  right: 16.666666666666664%;
}
.col-pull-3 {
  right: 25%;
}
.col-pull-4 {
  right: 33.33333333333333%;
}
.col-pull-5 {
  right: 41.66666666666667%;
}
.col-pull-6 {
  right: 50%;
}
.col-pull-7 {
  right: 58.333333333333336%;
}
.col-pull-8 {
  right: 66.66666666666666%;
}
.col-pull-9 {
  right: 75%;
}
.col-pull-10 {
  right: 83.33333333333334%;
}
.col-pull-11 {
  right: 91.66666666666666%;
}

.container {
  max-width: 940px;
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  float: left;
}
.col-lg-1 {
  width: 8.333333333333332%;
}
.col-lg-2 {
  width: 16.666666666666664%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 33.33333333333333%;
}
.col-lg-5 {
  width: 41.66666666666667%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.333333333333336%;
}
.col-lg-8 {
  width: 66.66666666666666%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-10 {
  width: 83.33333333333334%;
}
.col-lg-11 {
  width: 91.66666666666666%;
}
.col-lg-12 {
  width: 100%;
}
.col-offset-1 {
  margin-left: 8.333333333333332%;
}
.col-offset-2 {
  margin-left: 16.666666666666664%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-4 {
  margin-left: 33.33333333333333%;
}
.col-offset-5 {
  margin-left: 41.66666666666667%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-7 {
  margin-left: 58.333333333333336%;
}
.col-offset-8 {
  margin-left: 66.66666666666666%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-10 {
  margin-left: 83.33333333333334%;
}
.col-offset-11 {
  margin-left: 91.66666666666666%;
}

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}

.form-horizontal .control-label {
  text-align: right;
}

.visible-sm {
  display: none !important;
}
tr.visible-sm {
  display: none !important;
}
th.visible-sm,
td.visible-sm {
  display: none !important;
}
.visible-md {
  display: none !important;
}
tr.visible-md {
  display: none !important;
}
th.visible-md,
td.visible-md {
  display: none !important;
}
.visible-lg {
  display: block !important;
}
tr.visible-lg {
  display: table-row !important;
}
th.visible-lg,
td.visible-lg {
  display: table-cell !important;
}
.hidden-sm {
  display: block !important;
}
tr.hidden-sm {
  display: table-row !important;
}
th.hidden-sm,
td.hidden-sm {
  display: table-cell !important;
}
.hidden-md {
  display: block !important;
}
tr.hidden-md {
  display: table-row !important;
}
th.hidden-md,
td.hidden-md {
  display: table-cell !important;
}
.hidden-lg {
  display: none !important;
}
tr.hidden-lg {
  display: none !important;
}
th.hidden-lg,
td.hidden-lg {
  display: none !important;
}

.lead {
  font-size: 21px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.container {
  max-width: 728px;
}
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  float: left;
}
.col-sm-1 {
  width: 8.333333333333332%;
}
.col-sm-2 {
  width: 16.666666666666664%;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-4 {
  width: 33.33333333333333%;
}
.col-sm-5 {
  width: 41.66666666666667%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-7 {
  width: 58.333333333333336%;
}
.col-sm-8 {
  width: 66.66666666666666%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-10 {
  width: 83.33333333333334%;
}
.col-sm-11 {
  width: 91.66666666666666%;
}
.col-sm-12 {
  width: 100%;
}
.col-push-1 {
  left: 8.333333333333332%;
}
.col-push-2 {
  left: 16.666666666666664%;
}
.col-push-3 {
  left: 25%;
}
.col-push-4 {
  left: 33.33333333333333%;
}
.col-push-5 {
  left: 41.66666666666667%;
}
.col-push-6 {
  left: 50%;
}
.col-push-7 {
  left: 58.333333333333336%;
}
.col-push-8 {
  left: 66.66666666666666%;
}
.col-push-9 {
  left: 75%;
}
.col-push-10 {
  left: 83.33333333333334%;
}
.col-push-11 {
  left: 91.66666666666666%;
}
.col-pull-1 {
  right: 8.333333333333332%;
}
.col-pull-2 {
  right: 16.666666666666664%;
}
.col-pull-3 {
  right: 25%;
}
.col-pull-4 {
  right: 33.33333333333333%;
}
.col-pull-5 {
  right: 41.66666666666667%;
}
.col-pull-6 {
  right: 50%;
}
.col-pull-7 {
  right: 58.333333333333336%;
}
.col-pull-8 {
  right: 66.66666666666666%;
}
.col-pull-9 {
  right: 75%;
}
.col-pull-10 {
  right: 83.33333333333334%;
}
.col-pull-11 {
  right: 91.66666666666666%;
}

.container {
  max-width: 940px;
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  float: left;
}
.col-lg-1 {
  width: 8.333333333333332%;
}
.col-lg-2 {
  width: 16.666666666666664%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 33.33333333333333%;
}
.col-lg-5 {
  width: 41.66666666666667%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.333333333333336%;
}
.col-lg-8 {
  width: 66.66666666666666%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-10 {
  width: 83.33333333333334%;
}
.col-lg-11 {
  width: 91.66666666666666%;
}
.col-lg-12 {
  width: 100%;
}
.col-offset-1 {
  margin-left: 8.333333333333332%;
}
.col-offset-2 {
  margin-left: 16.666666666666664%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-4 {
  margin-left: 33.33333333333333%;
}
.col-offset-5 {
  margin-left: 41.66666666666667%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-7 {
  margin-left: 58.333333333333336%;
}
.col-offset-8 {
  margin-left: 66.66666666666666%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-10 {
  margin-left: 83.33333333333334%;
}
.col-offset-11 {
  margin-left: 91.66666666666666%;
}

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}

.form-horizontal .control-label {
  text-align: right;
}

.visible-sm {
  display: none !important;
}
tr.visible-sm {
  display: none !important;
}
th.visible-sm,
td.visible-sm {
  display: none !important;
}
.visible-md {
  display: none !important;
}
tr.visible-md {
  display: none !important;
}
th.visible-md,
td.visible-md {
  display: none !important;
}
.visible-lg {
  display: block !important;
}
tr.visible-lg {
  display: table-row !important;
}
th.visible-lg,
td.visible-lg {
  display: table-cell !important;
}
.hidden-sm {
  display: block !important;
}
tr.hidden-sm {
  display: table-row !important;
}
th.hidden-sm,
td.hidden-sm {
  display: table-cell !important;
}
.hidden-md {
  display: block !important;
}
tr.hidden-md {
  display: table-row !important;
}
th.hidden-md,
td.hidden-md {
  display: table-cell !important;
}
.hidden-lg {
  display: none !important;
}
tr.hidden-lg {
  display: none !important;
}
th.hidden-lg,
td.hidden-lg {
  display: none !important;
}</style>