<div class="card">
  <label>
    Please Enter you Email
  </label>
<form #f="ngForm" *ngIf="!sent">

  <input class="ui-g-12" name="email" id="email" pInputText placeholder="Email " email="true"
          required [(ngModel)]="email" >


  <button pButton  style="margin-top: 20px; float: right" class="blue-btn" (click)="sendPasswordResetLink(email)" label="Send Reset Password link" [disabled]="!f.valid"></button>


</form>
<div *ngIf="!sent">

  Un Email Has been sent with password reset instructions.

</div>

</div>

