<p-messages [(value)]="msgs" [id]="alertId"></p-messages>

<div class="card">

<form #f="ngForm" *ngIf="!sent">
  <label>
    Please Enter you Email
  </label>
  <input class="ui-g-12" name="email" id="email" pInputText placeholder="Email " email="true"
          required [(ngModel)]="email">


  <button pButton  style="margin-top: 20px; float: right" class="blue-btn" (click)="sendPasswordResetLink(email)" label="Send Reset Password link" [disabled]="!f.valid"></button>


</form>
<div *ngIf="sent">
   <p-message severity="success" text="An Email has been sent to you with instrcutions for password change"></p-message>

</div>

</div>

