input {
    width: 100%;
}
.cc-div::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cc-div::-webkit-scrollbar:vertical {
    width: 11px;
}

.cc-div::-webkit-scrollbar:horizontal {
    height: 11px;
}

.tt-table td {
  height: 10px;
  padding-top : 0 !important;
  padding-bottom : 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-left: 1px solid #dddddd !important;
}

.tt-cell {
  padding: 10px;
}

body .ui-dialog .ui-dialog-titlebar {
  background-color: #3a53ad;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  min-width: 300px;
}

.cc-div::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.table-header {
    text-align: center;
    border-right: 1px solid lightgrey;
}

.cust-btn {
    border-radius: 0 !important;
    height: 30px !important;
    width: 30px !important;
    padding: 0;
    margin: 0;
}

.grp-input {
    display: block;
    overflow: hidden;
    padding-right:10px;
}

.table-ndef {
    background-color: #6e6e6e;
}

.no-margin {
    width: initial;
    margin: auto;
}

.invalid {
    border : 1px solid red;
}

.first-td {
    width: 45px;
    min-width: 45px;
    max-width: 45px;
}

.first-td-2 {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
}

td {
  padding: 0.2em;
}

th {
  padding: 0.2em;
}

.wide {
    vertical-align: middle;
    min-width: 200px;
    max-width: 200px;
    width: 200px;
}

.small {
    vertical-align: middle;
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.selector-header{
    background-color: rgb(21, 101, 192);
    color: white;
}

.col-dnd-handle {
    background-color: #5b5b5b;
    border: 1px solid black;
}

.dnd-header{
    background-color: rgb(225, 225, 225);
    color: #000000;
}

.data-header {
    background-color: rgb(239,239,239);
}

.user-header {
    background-color: rgb(76, 175, 80);
}

.ng-valid[required], .ng-valid.required  {
    /*border-bottom: 1px solid #42A948; !* green *!*/
}

.ng-invalid:not(form)  {
    border-bottom: 2px solid #d82320; /* red */
}

input::-webkit-input-placeholder {
    text-align: center;
}

input:-moz-placeholder {
    text-align: center;
}

input::-moz-placeholder {
    text-align: center;
}

input:-ms-input-placeholder {
    text-align: center;
}

.label-gray {
  background-color: gray;
}

.label-icon {
font-size: 12px;
min-height: 15px;
border-radius: 5px;
}
