<div>
    <button [class]="'btn btn-sm btn-default toggle-btn ' + (fullscreen ? 'toggled-fs' : '')" (click)="toggleFullscreen()" style="margin-left: 10px;">
      <i class="fa fa-arrows-alt" aria-hidden="true" style="font-size: 1.5em;"></i>
    </button>
</div>
<div>

  <button class="btn btn-info btn-sm toolbar-button" type="button" (click)="exportTool()">
    <i class="fa fa-plug"></i>
    Connect
  </button>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-secondary btn-sm toolbar-button" id="exportDropDown" ngbDropdownToggle>Export</button>
    <div ngbDropdownMenu aria-labelledby="exportDropDown">
      <button ngbDropdownItem (click)="exportWord()">Word</button>
      <button ngbDropdownItem (click)="exportQuickWORD()">WORD (Quick)</button>
      <button ngbDropdownItem (click)="exportHTML()">HTML</button>
      <button ngbDropdownItem (click)="exportQuickHTML()">HTML (Quick)</button>
      <button ngbDropdownItem (click)="exportXML()">XML</button>
    </div>
  </div>
  <button *ngIf="!viewOnly" (click)="verifyIG()"  class="btn btn-success btn-sm toolbar-button" type="button">
    <i class="fa fa-check"></i>
    Verify
  </button>
  <button *ngIf="!viewOnly" class="btn btn-primary btn-sm toolbar-button" type="button">
    <i class="fa fa-share"></i>
    Share
  </button>
  <button *ngIf="!viewOnly" class="btn btn-danger btn-sm toolbar-button" type="button" (click)="reset()" [disabled]="!(changed | async)">
    <i class="fa fa-trash"></i>
    Reset
  </button>
  <button *ngIf="!viewOnly" class="btn btn-success btn-sm toolbar-button" type="button" (click)="save()" [disabled]="!(valid | async) || !(changed | async)">
    <i class="fa fa-save"></i>
    Save
  </button>
</div>


