<div>
    <app-dam-fullscreen-button></app-dam-fullscreen-button>
</div>
<div>

  <button class="btn btn-info btn-sm toolbar-button" type="button" (click)="exportTool()">
    <i class="fa fa-plug"></i>
    Connect
  </button>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-secondary btn-sm toolbar-button" id="differentialExport" ngbDropdownToggle>Export</button>
    <div ngbDropdownMenu aria-labelledby="exportDropDown">
      <button ngbDropdownItem (click)="export('IGDOCUMENT', 'word')">Word</button>
      <button ngbDropdownItem (click)="quickExport('IGDOCUMENT', 'word')">WORD (Quick)</button>
      <button ngbDropdownItem (click)="export('IGDOCUMENT', 'html')">HTML</button>
      <button ngbDropdownItem (click)="quickExport('IGDOCUMENT', 'html')">HTML (Quick)</button>
      <button ngbDropdownItem (click)="exportXML()">XML</button>
    </div>
  </div>
  <div ngbDropdown class="d-inline-block" *ngIf="derived$ | async">
    <button class="btn btn-warning btn-sm toolbar-button" id="exportDropDown" ngbDropdownToggle> Differential Export</button>
    <div ngbDropdownMenu aria-labelledby="exportDropDown">
      <button ngbDropdownItem (click)="export('DIFFERENTIAL', 'word')">Word</button>
      <button ngbDropdownItem (click)="quickExport('DIFFERENTIAL', 'word')">WORD (Quick)</button>
      <button ngbDropdownItem (click)="export('DIFFERENTIAL', 'html')">HTML</button>
      <button ngbDropdownItem (click)="quickExport('DIFFERENTIAL', 'html')">HTML (Quick)</button>
      <button ngbDropdownItem (click)="exportXML()">XML</button>
    </div>
  </div>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-info btn-sm toolbar-button" id="verifyDown" ngbDropdownToggle> Verify </button>
    <div ngbDropdownMenu aria-labelledby="exportDropDown">
      <button ngbDropdownItem (click)="verifyIG('Verification')"> Verification </button>
      <button ngbDropdownItem (click)="verifyIG('Compliance')"> Compliance </button>
    </div>
  </div>
  <app-dam-reset-button *ngIf="!viewOnly"></app-dam-reset-button>
  <app-dam-save-button *ngIf="!viewOnly"></app-dam-save-button>
</div>


