<app-dam-layout>

  <ng-template #alerts>
    <app-dam-alerts-container></app-dam-alerts-container>
  </ng-template>

  <ng-template #titleBar>
    <div style="width: 100%; display: grid; grid-template-columns: 1fr auto; justify-content: space-between; align-items: center;">
      <div *ngIf="codeSetInfo$ | async as codeSetInfo" style="width: 100%; display: flex; align-items: start; padding: 5px 20px; overflow: hidden; gap: 10px;">
        <h2 style="margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{codeSetInfo.metadata.title}}</h2>
        <span *ngIf="codeSetInfo.disableKeyProtection" class="badge badge-danger" style="font-size: 0.8em;"><i class="fa fa-unlock"></i> API Access without API key</span>
      </div>
      <div>
        <app-input-copy type="text" [value]="codeSetURL" label="URL"></app-input-copy>
      </div>
    </div>
  </ng-template>

  <ng-template #activeTitleBar>
    <app-code-set-active-titlebar
      [controls]="activeComponent?.controls"
      [header]="activeComponent?.header"
    ></app-code-set-active-titlebar>
  </ng-template>

  <ng-template #toolbar>
    <app-code-set-tool-bar></app-code-set-tool-bar>
  </ng-template>

  <ng-template #editorContent>
    <app-dam-editor-outlet></app-dam-editor-outlet>
  </ng-template>

  <ng-template #sideBar>
    <app-code-set-side-bar></app-code-set-side-bar>
  </ng-template>

</app-dam-layout>
