<h2 mat-dialog-title>  {{title}}</h2>
<form #from="ngForm">
<mat-dialog-content>


  <hr/>

  <div>

    <label><strong> Narrative attributes to Include </strong></label>

    <div style="display: flex; justify-content: space-between;">

      <p-checkbox  [(ngModel)]="map['PREDEF']" [binary]="true" label="Pre Definition" name="PREDEF" [style]="{'margin-left': '8px'}"></p-checkbox>
      <p-checkbox  [(ngModel)]="map['POSTDEF']" [binary]="true" label="Post Definition"  name="POSTDEF" [style]="{'margin-left': '8px'}"></p-checkbox>
      <p-checkbox  [(ngModel)]="map['COMMENT']" [binary]="true" label="Comments"  name="COMMENT" [style]="{'margin-left': '8px'}"></p-checkbox>
      <p-checkbox  [(ngModel)]="map['DEFINITIONTEXT']" [binary]="true" label="Definition Text"  name="DEFINITIONTEXT" [style]="{'margin-left': '8px'}"></p-checkbox>
      <p-checkbox  [(ngModel)]="map['AUTHORNOTES']" [binary]="true" label="Author Notes" name="AUTHORNOTES" [style]="{'margin-left': '8px'}"></p-checkbox>

    </div>


  </div>

  <hr/>
  <label><strong> IG Structure </strong></label>

<div style="max-height: 500px; overflow: scroll;">
<div>
 <div>
  <div style=" display: flex; justify-content: flex-start; padding: 10px">
    <p-radioButton name="gr" [value]="true" label="Keep Original IG Outline and Content" [(ngModel)]="inherit"></p-radioButton>
    <p-radioButton name="gr" [value]="false" label="Use Local IG Templates" [(ngModel)]="inherit" [style]="{'margin-left': '10px'}" ></p-radioButton>

  </div>
<div *ngIf="!inherit">

 <table class="table table-borderless">
   <thead>
   <th>
     Available Narrative Templates
   </th>
   <th>
     Template overview
   </th>
   </thead>
   <tbody>

   <tr style="max-height: 400px; overflow: scroll;">
     <td style=" display: flex; flex-direction: column; justify-content: flex-start;">
         <ng-container *ngFor=" let template of data.templates">

           <p-radioButton [(ngModel)]="selectedTemplate" (ngModelChange)="select($event)"  [style]="{'margin-left': '10px'}" [label]="template.name"
                          [value]="template" [name]="template.name" [inputId]="template.id">
           </p-radioButton>
         </ng-container>
     </td>
     <td>
       <tree-root #treeroot [nodes]="selectedTemplate?.children">
         <ng-template #treeNodeTemplate let-index="index" let-node>
           <span >{{getPath(node)}}.{{node.data.label}}</span>
         </ng-template>
       </tree-root>
     </td>
   </tr>
   </tbody>

 </table>

  </div>

  </div>

</div>
</div>




</mat-dialog-content>



<mat-dialog-actions style="justify-content: flex-end;">
  <button class="btn btn-sm btn-danger" style="margin-right: 5px;" (click)="close()">Cancel</button>
  <!-- <button class="btn btn-sm btn-primary" style="margin-right: 5px;"  *ngIf="step == 2"  (click)="back()">Back</button> -->

  <!-- <button class="btn btn-sm btn-primary" style="margin-right: 5px;" [disabled]="!selectedTemplate && !inherit" *ngIf="step == 1"  (click)="next()"> Exclude Narratives</button> -->

  <button class="btn btn-sm btn-success" [disabled]="!selectedTemplate && !inherit" (click)="submit()">Submit</button>
</mat-dialog-actions>
</form>
