.select-binding-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:5px;
  height: 100%;
}

.selected {
  height: 100%;
}

.loaded {
  height: 100%;

}
.single-code-info{
  padding: 5px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  border: 2px dashed;
}
.vs-binding {
  min-height: 500px;
}
