<h2 mat-dialog-title>Edit Binding</h2>
<div style="display: flex; flex-direction: column; justify-content: space-between;">

  <div class="alert alert-warning" *ngIf="data.obx2">
    <i class="fa fa-warning"></i>  This value set binding is used to define the dynamic mapping table. Any value set change would rebuild the dynamic mapping table
  </div>

  <div *ngIf="locationInfo?.allowSingleCode && locationInfo?.allowValueSets"
       style="display: flex; flex-direction: row;justify-content: flex-end">
    <p-radioButton  [(ngModel)]="selectedBindingType" label="Value set" name="vs" value="VALUESET"></p-radioButton>
    <p-radioButton  [(ngModel)]="selectedBindingType"
                    [style]="{'margin-left': '5px'}" label="Single code" name="sg"
                    value="SINGLECODE" *ngIf="!data.obx2"></p-radioButton>
  </div>
  <form #bindingsForm="ngForm">
    <div *ngIf="selectedBindingType=='VALUESET'" class="vs-binding">
      <table class="table table-sm">
        <thead class="ptable-thead-mimmic">
        <tr>
          <th *ngIf="!excludeBindingStrength">
            Binding Strength
          </th>
          <th *ngIf="data.locationInfo.allowedBindingLocations && data.locationInfo.allowedBindingLocations.length > 1">
            Binding Location
          </th>
          <th>
            Value Sets
          </th>
          <th style="width: 50px;">
            <button (click)="addValueSetBinding()"
                    *ngIf="data.locationInfo?.allowValueSets && data.locationInfo.allowedBindingLocations && data.locationInfo.allowedBindingLocations.length > 1 || !selectedValueSets || !selectedValueSets.length"
                    class="btn btn-sm btn-primary">
              <i class="fa fa-plus"></i></button>
          </th>
        </tr>
        </thead>
        <tbody class="ptable-tbody-mimmic">
        <tr *ngFor="let rowData of selectedValueSets; index as index"
            style="background-color: inherit; border: 1px solid #c8c8c8;">
          <td *ngIf="!excludeBindingStrength">
            <span #anchor1></span>
            <p-dropdown [(ngModel)]="rowData.bindingStrength" required [appendTo]="anchor1" [autoDisplayFirst]="false"
                        [id]="'bindingStrength'+index"
                        [name]="'bindingStrength'+index" [options]="bindingStrengthOptions"
                        [style]="{'min-width': 'unset','width': '100%'}"></p-dropdown>
          </td>
          <td *ngIf="data.locationInfo.allowedBindingLocations && data.locationInfo.allowedBindingLocations.length > 1">
            <span #anchor2></span>
            <p-dropdown [(ngModel)]="rowData.bindingLocation" [autoDisplayFirst]="false"
                        [id]="'bindingLocation'+index"
                        [name]="'bindingLocation'+index" [options]="data.locationInfo.allowedBindingLocations"
                        [style]="{'min-width': 'unset','width': '100%'}" required></p-dropdown>
          </td>
          <td #anchor3 style="padding: 5px;">
            <div *ngFor="let vs of rowData.valueSets; index as i" style="display: flex; flex-direction: row; justify-content: space-between;">
              <div>
                <app-display-section [element]="vs" [hideDescription]="true"></app-display-section>
              </div>
              <div>
                <button (click)="removeValueSet(rowData, i)" class="btn btn-danger btn-sm" style="margin-left: 5px;">
                  <i class="fa fa-remove"></i></button>
              </div>
            </div>
            <div>
              <div style="display: flex; flex-direction: row; justify-content: space-between;" >
                <div style="width: 100%">
                  <p-dropdown (ngModelChange)="submitValueSet(rowData, $event)" *ngIf="edit[index]"
                              [(ngModel)]="temp" [appendTo]="anchor3" [autoDisplayFirst]="false"
                              [optionLabel]="'variableName'" [options]="data.resources" [filter]="true"
                              required
                              [name]="'vs'+index"
                              placeholder="select value set" [style]="{'minWidth': '100%'}">
                    <ng-template let-item pTemplate="selectedItem">
                      <ng-container *ngIf="item.value">
                        <app-display-section [element]="item.value"></app-display-section>
                      </ng-container>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                      <app-display-section [element]="item.value"></app-display-section>
                    </ng-template>
                  </p-dropdown>
                </div>
                <div>
                  <button (click)="edit[index]=!edit[index]" *ngIf="edit[index]" style="margin-left: 5px;" class="btn btn-danger btn-sm"
                          style="height: 100%"><i class="fa fa-remove"></i></button>
                  <button (click)="addValueSet(rowData, index)" *ngIf="!edit[index]&& !(data.obx2 && rowData.valueSets.length>0)" style="margin-left: 5px;" class="btn btn-primary btn-sm"><i
                    class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
          </td>
          <td style="width: 50px; text-align: center">
            <button (click)="removeValueSetBinding(index)" class="btn btn-sm btn-danger" >
              <i class="fa fa-remove"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <div *ngIf="selectedBindingType=='SINGLECODE'" class="single-container">

      <table class="table table-sm">
        <thead class="ptable-thead-mimmic">
        <tr>
          <th>
            Code
          </th>
          <th>
            Code System
          </th>
          <th *ngIf="data.locationInfo.allowedBindingLocations && data.locationInfo.allowedBindingLocations.length > 1">
            Binding Location
          </th>
          <th style="width: 50px;">
            <button (click)="addSingleCodeBinding()"
                    *ngIf="data.locationInfo?.allowSingleCode && data.locationInfo.allowedBindingLocations && data.locationInfo.allowedBindingLocations.length > 1 || !selectedSingleCodes || selectedSingleCodes.length === 0"
                    class="btn btn-sm btn-primary">
              <i class="fa fa-plus"></i></button>
          </th>
        </tr>
        </thead>
        <tbody class="ptable-tbody-mimmic">
        <tr *ngFor="let rowData of selectedSingleCodes; index as index"
            style="background-color: inherit; border: 1px solid #c8c8c8;">
          <td>
            <input [name]="'code'+index" type="text" required [(ngModel)]="rowData.code" class="form-control" />
          </td>
          <td>
            <input [name]="'codeSys'+index" type="text" required [(ngModel)]="rowData.codeSystem" class="form-control" />
          </td>
          <td *ngIf="data.locationInfo.allowedBindingLocations && data.locationInfo.allowedBindingLocations.length > 1">
            <span #anchor2></span>
            <p-dropdown [(ngModel)]="rowData.locations" [autoDisplayFirst]="false"
                        [id]="'sgBindingLocation'+index"
                        [name]="'sgBindingLocation'+index" [options]="data.locationInfo.allowedBindingLocations"
                        [style]="{'min-width': 'unset','width': '100%'}" required></p-dropdown>
          </td>
          <td style="width: 100px; text-align: center">
            <button (click)="pick(index)" class="btn btn-sm btn-primary" style="margin-right: 5px;">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button (click)="removeSingleCodeBinding(index)" class="btn btn-sm btn-danger" >
              <i class="fa fa-remove"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>


  <mat-dialog-actions style="justify-content: flex-end;">
    <button (click)="cancel()" class="btn btn-sm btn-danger" style="margin-right: 5px;">Cancel</button>
    <button (click)="submit()" [disabled]="bindingsForm.invalid || !checkNotEmpty()" class="btn btn-sm btn-success">Submit</button>
  </mat-dialog-actions>

</div>
