<h2 mat-dialog-title>Edit Binding</h2>
<mat-dialog-content style="max-height: 800px; overflow-y:scroll">
  <div class="fixed-element">
  <div *ngIf="locationInfo?.allowSingleCode && locationInfo?.allowValueSets">
    <p-radioButton [(ngModel)]="selectedBindingType" label="Value set" name="vs" value="VALUESET"></p-radioButton>

    <p-radioButton [(ngModel)]="selectedBindingType" [style]="{'margin-left': '50px'}" label="Single code" name="sg"
                   value="SINGLECODE"></p-radioButton>
  </div>

     <div #vsDrpD></div>
  <p-dropdown (ngModelChange)="loadCodes($event)" *ngIf="selectedBindingType!=='VALUESET'" [(ngModel)]="selectedValueSet"
              [optionLabel]="'variableName'" [options]="data.resources" [appendTo]="vsDrpD" placeholder="select value set" [style]="{'minWidth':'100%'}">
    <ng-template let-item pTemplate="selectedItem">
      <ng-container *ngIf="item.value">
        <app-display-section [element]="item.value"></app-display-section>
      </ng-container>
    </ng-template>
    <ng-template let-item pTemplate="item">
      <app-display-section [element]="item.value"></app-display-section>
    </ng-template>
  </p-dropdown>


  </div>

  <div *ngIf="selectedBindingType=='VALUESET'" class="vs-binding">
    <p-table [value]="selectedValueSets" #vsTbl>
      <ng-template let-columns pTemplate="header">
      <tr>
        <th>
          Binding Strength
        </th>
        <th *ngIf="data.locationInfo.allowedBindingLocations && data.locationInfo.allowedBindingLocations.length>1">
          Binding Location
        </th>
        <th>
          Value Sets
        </th>
        <th style="width: 50px;">
          <button (click)="addBinding()" class="btn btn-sm btn-info" style="float: right" *ngIf="data.locationInfo.allowedBindingLocations && data.locationInfo.allowedBindingLocations.length>1 || !selectedValueSets||!selectedValueSets.length"><i class="fa fa-plus"></i></button>
        </th>
      </tr>
      </ng-template>
      <ng-template let-columns="columns" let-expanded="expanded" let-index="rowIndex" let-node="node" let-rowData
                   let-rowNode pTemplate="body">
    <tr>
      <td>
        <span #anchor1></span>
        <p-dropdown [(ngModel)]="rowData.bindingStrength" [appendTo]="anchor1" [style]="{'min-width': 'unset','width': '100%'}"
                                                      [id]="'bindingStrength'+index" [name]="'bindingStrength'+index" [options]="bindingStrengthOptions"></p-dropdown>
      </td>
      <td  *ngIf="data.locationInfo.allowedBindingLocations && data.locationInfo.allowedBindingLocations.length>1">
        <span #anchor2></span>

        <p-dropdown [(ngModel)]="rowData.bindingLocation" [appendTo]="anchor2" [style]="{'min-width': 'unset','width': '100%'}"
                                                     [id]="'bindingLocation'+index" [name]="'bindingLocation'+index" [options]="data.locationInfo.allowedBindingLocations"></p-dropdown>
      </td>
      <td #anchor3>
        <div *ngFor="let vs of rowData.valueSets; index as i" style="display: flex; flex-direction: row;">
          <div style="width:90%;">
          <app-display-section [element]="vs"></app-display-section>
          </div>
          <div style="width: 10%">
            <button (click)="removeValueSet(rowData, i)" class="btn btn-danger btn-sm">
              <i class="fa fa-remove"></i></button>
          </div>
        </div>
        <div>
          <div style="display: flex; flex-direction: row">
            <div style="width:90%;">
        <p-dropdown (ngModelChange)="submitValueSet(rowData, $event)" [(ngModel)]="temp" *ngIf="edit[index]" [appendTo]="anchor3"
                    [optionLabel]="'variableName'" [options]="data.resources" placeholder="select value set" [style]="{'minWidth': '100%'}">
          <ng-template let-item pTemplate="selectedItem">
            <ng-container *ngIf="item.value">
              <app-display-section [element]="item.value"></app-display-section>
            </ng-container>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <app-display-section [element]="item.value"></app-display-section>
          </ng-template>
        </p-dropdown>
            </div>
            <div style="width: 10%">
              <button (click)="edit[index]=!edit[index]" class="btn btn-danger btn-sm" style="height: 100%" *ngIf="edit[index]"><i class="fa fa-remove"></i></button>
              <button (click)="addValueSet(rowData, index)" class="btn btn-info btn-sm" *ngIf="!edit[index]"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
      </td>
      <td style="width: 50px;">
      <button class="btn btn-sm btn-danger" (click)="removeBinding(index)">
        <i class="fa fa-remove" ></i>
      </button>
      </td>
    </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="select-binding-container" *ngIf="selectedBindingType=='SINGLECODE'">
    <div class="loaded">
        <div *ngIf="currentValueSet && currentValueSet.codes">
          <p-table #tb2 [globalFilterFields]="['value','label']" [style]="{'height': '100%', 'minHeight': '100%'}"
                   [value]="currentValueSet.codes" scrollHeight="100%" scrollable="true"
                   sortField="bindingIdentifier">
            <ng-template pTemplate="caption">
              <div style="text-align: left">
                <div class="input-group" style="margin-left: 10px;">
                  <div class="input-group-prepend" style="height: 35px;">
                    <span class="input-group-text" id="inputGroupPrepend2"><i class="fa fa-filter"></i></span>
                  </div>
                  <input (input)="tb2.filterGlobal($event.target.value, 'contains')" class="form-control"
                         placeholder="Filter"
                         style="background-color: #f0f0f0; text-align: left; height: 35px;" type="text">
                </div>
              </div>
            </ng-template>
            <ng-template let-columns pTemplate="header">
              <tr>
                <th class="header-padding">
                  Value
                </th>
                <th>
                  Description
                </th>
                <th class="header-padding">
                  Code System
                </th>
                <th class="header-padding" style="width:65px">
                  Add
                </th>
              </tr>
            </ng-template>
            <ng-template let-columns="columns" let-expanded="expanded" let-index="rowIndex" let-node="node" let-rowData
                         let-rowNode pTemplate="body">
              <tr>
                <td>
                  {{rowData.value}}
                </td>
                <td>
                  {{rowData.description}}
                </td>
                <td>
                  {{rowData.codeSystem}}
                </td>
                <td style="width:65px">
                  <button (click)="selectCode(rowData)" class="btn-primary btn btn-sm">
                    <i class="fa fa-plus"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    <div class="selected" >
      <div *ngIf="selectedSingleCode" class="single-code-info">
        <div style="display:flex; flex-direction: row; padding: 2px">
          <div>
            <strong> Code: </strong>
          </div>
          {{selectedSingleCode.code}}
        </div>
        <div style="display:flex; flex-direction: row; padding: 2px">
          <div>
            <strong> Code System: </strong>
          </div>
          {{selectedSingleCode.codeSystem}}
        </div>

        <div style="display:flex; flex-direction: row; padding: 2px">
          <app-entity-bagde type="VALUESET"></app-entity-bagde>
          <app-display-section [element]="selectedSingleCode.valueSet"></app-display-section>
        </div>
        <div style="display:flex; flex-direction: row; justify-content: right; align-self: flex-end;" >
          <button type="button" label="Cancel" class="btn btn-sm btn-danger"  (click)="clearCode()"><i class="fa fa-remove"></i>remove</button>
        </div>
      </div>
    </div>

  </div>

</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button (click)="cancel()" class="btn btn-sm btn-danger" style="margin-right: 5px;">Cancel</button>
  <button (click)="submit()" class="btn btn-sm btn-success">Submit</button>
</mat-dialog-actions>
