<ul *ngIf="!(loggedIn | async)" class="navbar-nav">
  <li class="nav-item" routerLink="login" routerLinkActive="active">
    <a class="nav-link">Login</a>
  </li>
  <li class="nav-item" routerLink="register" routerLinkActive="active">
    <a class="nav-link">Register</a>
  </li>
</ul>
<ul *ngIf="(loggedIn | async) && (username | async)" class="navbar-nav username-label">
  <li class="nav-item">
    <span class="nav-link" (click)="userManagement()" *ngIf="isAdmin | async" ngbDropdownItem><i class="fa fa-cog"></i> User Management </span>
  </li>
  <li class="nav-item">
    <span class="nav-link" (click)="userProfile()"><i class="fa fa-user"></i> {{username | async}} </span>
  </li>
  <li class="nav-item"  (click)="logout()" >
    <span class="nav-link"> <i class="nav-link" class="fa fa-sign-out"></i> Logout</span>
  </li>
</ul>
