
<p-messages [(value)]="msgs" [id]="alertId"></p-messages>
<div class="card">
  <h4 class="card-title"> Reset Password </h4>
  <form #f="ngForm" novalidate>

    <div class="ui-g" style="margin-top:30px">

      <input  #password="ngModel"   name="password" id="password"  type="password" placeholder="password" required [(ngModel)]="model.password" class="ui-g-9"  minlength="4">

      <div *ngIf="model.password && password.errors">

        <p-message *ngIf="password.errors.minlength" severity="error" text="password is too short"></p-message>

      </div>
    </div>

    <div class="ui-g" style="margin-top:30px">

      <input name="confirmPasswordForm" id="confirmPasswordForm" [(ngModel)]="confirmPassword" placeholder="Confirm Password"  type="password" required  pInputText class="ui-g-9">

      <div  *ngIf="confirmPassword&&confirmPassword!==model.password">
        <p-message severity="error" text="Password Does not match"></p-message>

      </div>
    </div>


    <div class="ui-g-6" style="margin-top:30px">

      <button pButton style="margin-bottom:10px" class="blue-btn" (click)="reset()" label="Reset Password" [disabled]="!f.valid&& confirmPassword!==model.password"></button>
    </div>
  </form>

</div>
