<h2 mat-dialog-title>Add User to Workspace</h2>
<div class="input-group">
  <div class="input-group-prepend" style="height: 35px;">
    <span class="input-group-text" id="inputGroupPrepend3">
      <i class="fa fa-user"></i>
    </span>
  </div>
  <p-autoComplete *ngIf="!edit" [(ngModel)]="username" [suggestions]="filteredUsernames" (completeMethod)="filterUsernames($event)"      size="100%" 
    [minLength]="1" placeholder="Select user by username" [dropdown]="false">
    <ng-template let-username pTemplate="item">
        {{username}}
    </ng-template>
  </p-autoComplete>


  <input
    *ngIf="edit"
    [(ngModel)]="username"
    [disabled]="edit"
    class="form-control"
    id="username"
    placeholder="Username"
    required
    style="background-color: #fbfbfb; height: 35px;"
    type="text">
</div>
<div style="display: flex; flex-direction: column; margin-top: 10px;"  #anchor>
  <app-permission-selector
    [folders]="data.folders"
    [(workspacePermissions)]="permissions"
  >
  </app-permission-selector>
</div>
<mat-dialog-actions style="justify-content: flex-end;">
  <button (click)="cancel()" class="btn btn-sm btn-secondary" style="margin-right: 5px;">Cancel</button>
  <button (click)="create()" [disabled]="!username || !permissions" class="btn btn-sm btn-success">
    {{edit ? 'Edit' : 'Invite'}}
  </button>
</mat-dialog-actions>
