<h2 mat-dialog-title>Deleting Unused Elements</h2>
<mat-dialog-content>
  <div  style="margin-bottom: 10px;">
    The following elments will be deleted, do you want to continue?
  </div>
    <div *ngFor="let elm of data.resources" class="form-inline">
      <p-checkbox [style]= "{'margin-right': '5px'}" [name]="elm.id" [value]="elm.id"  [(ngModel)]="data.ids" [inputId]="elm.id"></p-checkbox>
      <app-display-section  [element]="elm">
      </app-display-section>
    </div>


</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button (click)="close()"class="btn btn-sm btn-secondary" style="margin-right: 5px;">Cancel</button>
  <button (click)="submit()" class="btn btn-sm btn-danger">Yes</button>
</mat-dialog-actions>
