<ng-template #headerControls>
  <button class="btn btn-success btn-sm" (click)="createCs()" *ngIf="!(viewOnly$ | async)">
    <i class="fa fa-plus"></i> New
  </button>
</ng-template>


<!-- RESOURCE CS -->
<ng-container *ngIf="conformanceStatementItem$ | async as csItems">
  <div *ngIf="csItems.nonexistent && csItems.nonexistent.length > 0" class="alert alert-warning" style="display: flex; align-items: center; justify-content: center;">
    <span>{{csItems.nonexistent.length}} items from deleted conformance statements found</span>
    <button class="btn btn-sm btn-outline-primary" style="margin-left: 10px;" (click)="clean()">
      <i class="fa fa-trash"></i> Clean
    </button>
  </div>
  <ng-container *ngTemplateOutlet="group; context: { $implicit: csItems.groups }"></ng-container>
</ng-container>

<ng-template #group let-csGroup>
  <div *ngIf="!csGroup || csGroup.length === 0" style="padding: 10px; background-color: #f1f1f1; color: #888888; text-align: center;">
    <span> No Conformance Statement or Profile Components </span>
  </div>
  <ng-container *ngFor="let item of csGroup" >
    <div *ngIf="item.context" style="display: flex; align-items: center; margin-bottom: 10px;">
      <app-entity-bagde style="display: flex;" [type]="'GROUP'"></app-entity-bagde>
      <span style="margin-left: 5px;"> {{ item.name }} </span>
    </div>
    <div *ngIf="!item.context" style="display: flex; align-items: center; margin-bottom: 10px;">
      <ng-container *ngIf="editorDisplayNode() | async as current">
        <app-display-section [element]="current" [hideDescription]="true"></app-display-section>
      </ng-container>
    </div>
    <div class="header-title">
      <strong>List of profile components</strong>
    </div>
    <div class="panel-body">
      <ng-container *ngTemplateOutlet="itemList; context: { $implicit: item.items }"></ng-container>
    </div>
    <div class="header-title" (click)="toggle(item.context ? item.context.name : '_def')">
      <button class="btn btn-sm btn-primary">
        <i *ngIf="!hide[item.context ? item.context.name : '_def']"  class="fa fa-eye-slash"></i>
        <i *ngIf="hide[item.context ? item.context.name : '_def']"  class="fa fa-eye"></i>
      </button>
      <strong style="margin-left: 5px;">List of resource conformance statements</strong>
    </div>
    <div *ngIf="!hide[item.context ? item.context.name : '_def']" class="panel-body">
      <ng-container *ngTemplateOutlet="csList; context: { $implicit: item.available }"></ng-container>
    </div>
    <hr>
  </ng-container>
</ng-template>

<ng-template #csList let-csList>
  <div *ngIf="!csList || csList.length === 0" style="padding: 10px; background-color: #f1f1f1; color: #888888; text-align: center;">
    <span> No Conformance Statement </span>
  </div>
  <table class="table table-striped table-bordered table-sm" *ngIf="csList && csList.length > 0">
    <tr>
      <th style="width: 100px;">ID</th>
      <th>Description</th>
      <th *ngIf="!(viewOnly$ | async)" style="width: 190px;"></th>
    </tr>
    <tr *ngFor="let cs of csList; let i = index;">
      <td>
        {{ cs.identifier }}
        <span class="badge badge-secondary" *ngIf="cs?.type === 'FREE'">free-text</span>
        <span class="badge badge-success" *ngIf="cs?.type === 'FREE' && cs?.assertionScript">script</span>
        <span class="badge badge-warning" *ngIf="cs?.locked">derived</span>
      </td>
      <td>{{ getDescription(cs) }}</td>
      <td style="width: 190px;">
        <button class="btn btn-sm btn-danger" style="margin-left: 5px;" (click)="excludeCs(cs)">
          Exclude
        </button>
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #itemList let-itemList>
  <div *ngIf="!itemList || itemList.length === 0" style="padding: 10px; background-color: #f1f1f1; color: #888888; text-align: center;">
    <span> No Conformance Statement Profile Components </span>
  </div>
  <table class="table table-striped table-bordered table-sm" *ngIf="itemList && itemList.length > 0">
    <tr>
      <th style="width: 100px;"> Action </th>
      <th style="width: 100px;">ID</th>
      <th>Description</th>
      <th *ngIf="!(viewOnly$ | async)" style="width: 190px;"></th>
    </tr>
    <tr *ngFor="let cs of itemList; let i = index;" [ngClass]="{
      'table-success': cs.item.change === 'ADD',
      'table-danger': cs.item.change === 'DELETE'
    }">
      <td>
        <span class="badge badge-success" *ngIf="cs.item.change === 'ADD'">{{ cs.item.change }}</span>
        <span class="badge badge-danger" *ngIf="cs.item.change === 'DELETE'">{{ cs.item.change }}</span>
      </td>
      <td>
        {{ cs.conformanceStatement?.identifier }}
        <span class="badge badge-secondary" *ngIf="cs?.conformanceStatement?.type === 'FREE'">free-text</span>
        <span class="badge badge-success" *ngIf="cs?.conformanceStatement?.type === 'FREE' && cs?.conformanceStatement?.assertionScript">script</span>
        <span class="badge badge-warning" *ngIf="cs?.conformanceStatement?.locked">derived</span>
      </td>
      <td>{{ getDescription(cs?.conformanceStatement) }}</td>
      <td style="width: 190px;">
        <button *ngIf="cs.item.change === 'ADD'" class="btn btn-sm btn-primary" style="margin-left: 5px;" (click)="editItem(cs.item)">
          <i class="fa fa-pencil"></i> Edit
        </button>
        <button class="btn btn-sm btn-danger" style="margin-left: 5px;" (click)="deleteItem(cs.item)">
          <span *ngIf="cs.item.change === 'ADD'" ><i  class="fa fa-trash"></i> Delete</span>
          <span *ngIf="cs.item.change === 'DELETE'"><i  class="fa fa-refresh"></i> Restore</span>
        </button>
      </td>
    </tr>
  </table>
</ng-template>
