.header-title {
  margin: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.table-locked {
  background-color: lightgray !important;
}

.panel-body {
  margin-top: 10px;
  margin-bottom: 10px;
}
