<h2 mat-dialog-title>Deriving from {{data.origin}}</h2>
<form #from="ngForm">
<mat-dialog-content>
  <div style=" display: flex; justify-content: flex-start; padding: 10px">
    <p-radioButton name="gr" [value]="true" label="Keep Original template" [(ngModel)]="inherit"></p-radioButton>


    <p-radioButton name="gr" [value]="false" label="Different Templates" [(ngModel)]="inherit" [style]="{'margin-left': '10px'}" ></p-radioButton>

  </div>
  <div *ngIf="!inherit">

 <table class="table table-borderless">
   <thead>
   <th>
     Available Narrative Templates
   </th>
   <th>
     Template overview
   </th>
   </thead>
   <tbody>

   <tr>
     <td style=" display: flex; flex-direction: column; justify-content: flex-start;">
         <ng-container *ngFor=" let template of data.templates">

           <p-radioButton [(ngModel)]="selectedTemplate" (ngModelChange)="select($event)"  [style]="{'margin-left': '10px'}" [label]="template.name"
                          [value]="template" [name]="template.name" [inputId]="template.id">
           </p-radioButton>
         </ng-container>
     </td>
     <td>
       <tree-root #treeroot [nodes]="selectedTemplate?.children">
         <ng-template #treeNodeTemplate let-index="index" let-node>
           <span >{{getPath(node)}}.{{node.data.label}}</span>
         </ng-template>
       </tree-root>
     </td>
   </tr>
   </tbody>

 </table>
<!--    <div style=" display: flex; flex-direction: column; justify-content: flex-start;">-->
<!--      <Strong> Available Narrative Templates </Strong>-->

<!--      <ng-container *ngFor=" let template of data.templates">-->

<!--        <p-radioButton [(ngModel)]="selectedTemplate" [style]="{'margin-left': '10px'}" [label]="template.name"-->
<!--                       [value]="template" [name]="template.name" [inputId]="template.id">-->
<!--        </p-radioButton>-->
<!--      </ng-container>-->
<!--    </div>-->

<!--    <p-panel header="Template Overview" *ngIf="selectedTemplate">-->
<!--      <div style="max-height: 300px; overflow: scroll">-->


<!--        <tree-root #treeroot [nodes]="selectedTemplate.children">-->
<!--          <ng-template #treeNodeTemplate let-index="index" let-node>-->
<!--            <span> {{node.data.label}}</span>-->
<!--          </ng-template>-->
<!--        </tree-root>-->
<!--      </div>-->
<!--    </p-panel>-->
<!--    <div>-->


<!--    </div>-->
  </div>

</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button class="btn btn-sm btn-danger" style="margin-right: 5px;" (click)="close()">Cancel</button>
  <button class="btn btn-sm btn-success" [disabled]="!selectedTemplate && !inherit" (click)="submit()">Submit</button>
</mat-dialog-actions>
</form>
