<div class="layout-wrapper" (click)="onLayoutClick()"
     [ngClass]="{'layout-horizontal': isHorizontal(),
                 'layout-overlay': isOverlay(),
                 'layout-static': isStatic(),
                 'layout-slim':isSlim(),
                 'layout-static-inactive': staticMenuDesktopInactive,
                 'layout-mobile-active': staticMenuMobileActive,
                 'layout-overlay-active':overlayMenuActive}">

    <app-topbar></app-topbar>
    <div class="layout-menu-container" (click)="onMenuClick($event)">
        <p-scrollPanel #layoutMenuScroller [style]="{height: '100%'}">
            <div class="layout-menu-content">
                <div class="layout-menu-title">MENU</div>
                <app-menu [reset]="resetMenu"></app-menu>
                <div class="layout-menu-footer">
                    <div class="layout-menu-footer-title">TASKS</div>

                    <div class="layout-menu-footer-content">
                        <p-progressBar [value]="50" [showValue]="false"></p-progressBar>
                        Today

                        <p-progressBar [value]="80" [showValue]="false"></p-progressBar>
                        Overall
                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </div>

    <div class="layout-content">


        <div class="layout-content-container">
          <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
        <div class="layout-mask" *ngIf="staticMenuMobileActive"></div>
    </div>
</div>
