
<p-blockUI [blocked]="httpLoading||routerLoading">
  <p-progressBar mode="indeterminate"></p-progressBar>
  <p-progressSpinner [style]="{'position':'absolute','top':'25%','left':'50%'}" strokeWidth="5" fill="#EEEEEE"></p-progressSpinner>
</p-blockUI>
<p-growl [(value)]="msgs" id="topLeft" key="topLeft"></p-growl>
<dialog-wrapper></dialog-wrapper>
<div class="layout-wrapper" (click)="onLayoutClick()"
     [ngClass]="{'layout-horizontal': isHorizontal(),
                 'layout-overlay': isOverlay(),
                 'layout-static': isStatic(),
                 'layout-slim':isSlim(),
                 'layout-static-inactive': staticMenuDesktopInactive,
                 'layout-mobile-active': staticMenuMobileActive,
                 'layout-overlay-active':overlayMenuActive}">

    <app-topbar></app-topbar>
    <div class="layout-menu-container" (click)="onMenuClick($event)" style="position : fixed !important; top: 50px !important;height: 50px !important;">
        <p-scrollPanel #layoutMenuScroller [style]="{height: '100%'}">
            <div class="layout-menu-content">
                <div class="layout-menu-title">MENU</div>
                <app-menu [reset]="resetMenu"></app-menu>
            </div>
        </p-scrollPanel>
    </div>

    <div style="top: 100px; height: 100%; width: 100%; position:fixed">
          <p-messages [(value)]="msgs" id="topAlert" key="topAlert"></p-messages>
          <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
    <div class="layout-mask" *ngIf="staticMenuMobileActive"></div>
</div>

