<div class="layout-breadcrumb">

    <ul>
        <li>
            <a routerLink="">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li>/</li>
        <ng-template ngFor let-item let-last="last" [ngForOf]="items">
            <li>
                <span *ngIf="item.badge" class="badge {{item.badgeStyleClass}}">{{item.badge}}</span>
                <i *ngIf="item.icon" class="{{item.icon}}"></i>

              <a [routerLink]="item.routerLink" *ngIf="item.routerLink">{{item.label}}</a>
                <ng-container *ngIf="!item.routerLink">{{item.label}}</ng-container>
            </li>
            <li *ngIf="!last">/</li>
        </ng-template>
    </ul>
    <!--<div class="layout-breadcrumb-options">-->
        <!--<a (click)="previous()" title="go back">-->
          <!--<i class="fa fa-arrow-left"></i>-->
        <!--</a>-->

        <!--<a (click)="forward()" title="go forward">-->
          <!--<i class="fa fa-arrow-right"></i>-->
        <!--</a>-->
      <!--<a routerLink="/" title="Bookmark">-->
        <!--<i class="fa fa-bookmark"></i>-->
      <!--</a>-->
    <!--</div>-->
</div>

