@import "../../../../../assets/variables";

.page-container{
  background-color:lightgray;
  grid-gap: 2px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [alerts] minmax(min-content,max-content) [top-bar] 50px [content] auto;
  overflow: hidden;
}

.alerts{
  background-color:white;
  grid-column: 1;
  grid-row: alerts;
}

.top-bar{
  background-color:white;
  padding-left: 10px;
  grid-column: 1;
  grid-row: top-bar;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.content {
  grid-column: 1;
  grid-row: content;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: [config-list] 1fr [config-content] 5fr;
  grid-template-rows: 1;
  overflow: hidden;
}

.config-list {
  grid-column: config-list;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr;
  grid-template-rows: [list-control] 40px [list-filter] 40px [list-content] auto;
}

.list-control {
  background-color: #f7f7f7;
  grid-column: 1;
  grid-row: list-control;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.list-filter {
  background-color: #f7f7f7;
  grid-column: 1;
  grid-row: list-filter;
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.list-filter .form-control {
  height: initial;
  border-radius: initial;
  border: 1px solid #f0f0f0;
  border-left: 1px solid #cdd3d9;
}

.list-content {
  background-color: #f7f7f7;
  grid-column: 1;
  grid-row: list-content;
}

.config-content {
  grid-column: config-content;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr;
  grid-template-rows: [edit] auto;
  overflow: hidden;
}

.title-bar {
  background-color:white;
  grid-column: 1;
  grid-row: title-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.edit {
  background-color:white;
  padding: 10px;
  overflow: scroll;
}

.list-item {
    margin-top: 3px;
}

.config-list-item-selected {
  background-color: $nist_light_yellow !important;
}

.config-list-item-default {
  background-color: lightgrey;
  font-weight: bold;
}

.config-list-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid darkgray;
}
