.page-container{
    background-color: white;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [alerts] minmax(min-content,max-content) [top-bar] 70px [content] auto;
} 

.alerts{
    grid-column: 1;
    grid-row: alerts;
}

.top-bar{
    grid-column: 1;
    grid-row: top-bar;
    display: flex;
    justify-content: space-between; 
}

.content{
    grid-column: 1;
    grid-row: content;
}

.pcard{
    margin-top: 50px;
    display: flex;
    padding-top: 50px;
}