<app-pattern-dialog></app-pattern-dialog>

<table class="table pattern-demo" style="width: 100%;">
  <tr>
    <td colspan="3" style="padding-left: 20px !important; font-weight: bold; background-color: lightgray;">Predefined Patterns</td>
  </tr>

  <tr *ngFor="let predefined of assertions.predefined">
    <td style="    padding-left: 20px !important;">
      <p-radioButton name="assertion" [value]="predefined" [(ngModel)]="selected"></p-radioButton>
    </td>
    <td [innerHTML]="write(predefined.assertion)">

    </td>
    <td>
      <button pButton label="Start from" class="ui-button-raised blue-btn" (click)="startFrom(predefined)"></button>
    </td>
  </tr>

  <tr style="background-color: lightgray;">
    <td colspan="2" style="font-weight: bold; padding-left: 20px !important;">
      Custom Patterns
    </td>
    <td>
      <button pButton label="Create" class="ui-button-raised green-btn" (click)="create()"></button>
    </td>
  </tr>

  <tr *ngFor="let custom of assertions.custom">
    <td style="    padding-left: 20px !important;">
      <p-radioButton name="assertion" [value]="custom" [(ngModel)]="selected"></p-radioButton>
    </td>
    <td [innerHTML]="write(custom.assertion)">

    </td>
    <td>
      <button pButton label="Start from" class="ui-button-raised blue-btn" (click)="startFrom(custom)"></button>
      <button pButton  label="Edit" class="ui-button-raised yellow-btn" (click)="edit(custom)"></button>
    </td>
  </tr>

</table>
<div *ngIf="selected">
  <strong>Statements :</strong><br>
  <div *ngFor="let leaf of selected.leafs" [innerHTML]="write(leaf)"></div>
</div>
