.value {
  font-weight: bold;
  color: lightgray;
  text-align: center;
}

.asteriks {
  color: red;
  font-size: 0.7em;
  vertical-align: top;
}

.invalid {
  background-color: #fdedef;
}

.table-font {
  font-size: 14px;
}

.ng-invalid {
  background-color: #fdedef;
}
