<h5 mat-dialog-title> {{data.title}}
</h5>

<mat-dialog-content>
  <p style="color:lightskyblue;">How it works</p>
  <ol style="color:lightskyblue;">
    <li style="color:lightskyblue;">Download 'ValueSet Empty Form (Excel)'</li>
    <li style="color:lightskyblue;">Edit sheets using MS Excel</li>
    <li style="color:lightskyblue;">Save as CSV file</li>
    <li style="color:lightskyblue;">Upload CSV file</li>
  </ol>

  <p style="color:lightskyblue;">Files</p>
  <ul>
    <li style="color:lightskyblue;"><a class="pointer" href="assets/ValueSet_EmptyForm_Excel.xlsx" target="_blank"><i class="fa fa-file-excel-o fa-fw"></i>ValueSet Empty Form (Excel)</a></li>
    <li style="color:lightskyblue;"><a class="pointer" href="assets/ValueSet_EmptyForm_csv.csv" target="_blank"><i class="fa fa-file-code-o fa-fw"></i>ValueSet Empty Form (CSV)</a></li>
    <li style="color:lightskyblue;"><a class="pointer" href="assets/ValueSet_sample_excel.xlsx" target="_blank"><i class="fa fa-file-excel-o fa-fw"></i>ValueSet Sample Form (Excel)</a></li>
    <li style="color:lightskyblue;"><a class="pointer" href="assets/ValueSet_sample_csv.csv" target="_blank"><i class="fa fa-file-code-o fa-fw"></i>ValueSet Sample Form (CSV)</a></li>
  </ul>

  <div *ngIf="this.errorMessage" class="alert alert-danger" style="margin-top: 5px;">
    <span>{{this.errorMessage}}</span>
  </div>
  <div *ngIf="!viewOnly" class="upload-section">
  <span *ngIf="file" class="upload-span filename">
    <i (click)="clear()" class="fa fa-times clear"></i>
    {{file.name}}
  </span>
    <span *ngIf="!file" class="upload-span upload-text">CLICK OR DROP HERE</span>
    <input #fileInput accept="text/csv" class="upload file-upload" type="file">
  </div>
</mat-dialog-content>
<mat-dialog-actions style=" display: flex;justify-content: space-between">
  <p-checkbox [(ngModel)]="redirect" binary="true" label="redirect to the created value sets"></p-checkbox>
  <div style="justify-content: flex-end;margin-left:5px;">
    <button (click)="cancel()" class="btn btn-sm btn-danger" style="margin-right: 5px;">Cancel</button>
    <button (click)="submit()" [disabled]="!this.preview || this.errorMessage" class="btn btn-sm btn-success">Submit</button>
  </div>
</mat-dialog-actions>
