@import '../../../../../assets/variables';
@import '../../../../../assets/navbar';

.toolbar {
  background-color: $nist_light_yellow;
}

.toolbar-name {
  position: absolute;
  font-weight: 400;
  margin-left: 20px;
  font-size: 25px;
  color: black !important;
  bottom: 0;
  padding: 0;
}

.nav-links-bar {
  background-color: $nist_dark_yellow;
  margin-top: 61px; padding: 0px 0px 0px 0px;
  justify-content: space-between;
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
}

.nav-progress-bar {
  margin-top: 100px; padding: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
}

.toolname-abbrv {
  font-weight: 500;
  font-size: 20px;
  color: #ff6f6f;
}


