<div [ngClass]="{
    'delta-changed':element.delta === 'UPDATED',
    'delta-deleted':element.delta === 'DELETED',
    'delta-added':element.delta === 'ADDED',
    'inline-label': inline,
    'relative-label': !inline,
    'deprecated': element.activeInfo?.status=='DEPRECATED'
  }" style="cursor: pointer;"
  [id]="'TOC-' + element.type + '-' + element.id">
  <app-entity-bagde [type]="element.type" *ngIf="!hideBadge"></app-entity-bagde>

  <!-- <div>
    <span *ngIf="element.sourceType" class="badge badge-secondary" style="margin-left: 5px; margin-right: 5px">EXT</span>
  </div> -->

  <app-scope-badge [scope]="element.domainInfo.scope" [version]="element.domainInfo.version" [resourceOrigin]='element.resourceOrigin' [flavor]="element.flavor" *ngIf="!ignoreScope" [sourceType]="element.sourceType" [stability]="element.stability" [url]="element.url" >
  </app-scope-badge>

  <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> &nbsp;{{ getDisplayLabel() }}
    <ng-container *ngIf=" !hideDescription && element.description">
         {{'- ' + element.description }}
    </ng-container>

  </span>
  <ng-container *ngIf="element.generated">
    <span  style="margin-left: 5px; margin-right: 5px;">(generated)</span>
  </ng-container>
</div>
<ng-container *ngIf="compatibility">
  <span class="badge badge-secondary" style="padding: 1px; margin-left:3px;" *ngFor="let version of  element?.domainInfo?.compatibilityVersion"> {{version}}</span>
</ng-container>
