<div [ngClass]="{
    'delta-changed':element.delta === 'UPDATED',
    'delta-deleted':element.delta === 'DELETED',
    'delta-added':element.delta === 'ADDED',
    'inline-label': inline,
    'relative-label': !inline,
    'deprecated': element.activeInfo?.status=='DEPRECATED'
  }" style="cursor: pointer;">
  <app-entity-bagde [type]="element.type" *ngIf="!hideBadge"></app-entity-bagde>
  <app-scope-badge [scope]="element.domainInfo.scope" [version]="element.domainInfo.version" [flavor]="element.flavor">
  </app-scope-badge>
  <span> &nbsp;{{ getDisplayLabel() }}
    <ng-container *ngIf=" !hideDescription && element.description">
         {{'-' + element.description }}
    </ng-container>
  </span>
</div>
<ng-container *ngIf="compatibility">
<span class="badge badge-secondary" style="padding: 1px; margin-left:3px;" *ngFor="let version of  element?.domainInfo?.compatibilityVersion"> {{version}}</span>
</ng-container>
