<div class="label-grid" [ngClass]="{
    'delta-changed':element.delta === 'UPDATED',
    'delta-deleted':element.delta === 'DELETED',
    'delta-added':element.delta === 'ADDED'
  }">
  <app-entity-bagde [type]="element.type"></app-entity-bagde>
  <app-scope-badge [scope]="element.domainInfo.scope" [version]="element.domainInfo.version">
  </app-scope-badge>
  <span> &nbsp;{{ getDisplayLabel() }}
    <ng-container *ngIf=" !hideDescription && element.description">
         {{'-' + element.description }}
    </ng-container>
  </span>
</div>
