<h5 mat-dialog-title>
  <i class="fa fa-share" style="margin-right: 20px;"></i>
  {{title}}
</h5>
<mat-dialog-content>
  <div class="alert alert-warning">
    The resource will be shared as "View Only". Users will not be able to edit the resource.
  </div>

  <div style="display: flex; flex-direction: column">

    <p-autoComplete
      [(ngModel)]="newSharedUser"
      [suggestions]="filteredUsersSingle"
      (completeMethod)="filterUsersSingle($event)"
      (onSelect)="addUser($event)"
      size="100%"
      [style]="{'width':'100%','margin-bottom': '10px'}"
      [inputStyle]="{'width':'100%'}"
      placeholder="Search Users by Username"
      [minLength]="1"
      checkbox="true"
      [appendTo]="List">

      <ng-template let-value pTemplate="item">
        <div class="user-info-avatar">
          <ngx-avatar [name]="value"></ngx-avatar>
          <span style="margin-top:auto; margin-bottom: auto; margin-left: 5px"> <strong>{{value}}</strong> </span>
        </div>
      </ng-template>
    </p-autoComplete>

    <table  class="table table-bordered table-striped" #List>
      <thead>
      <tr>
        <th>
          Username
        </th>
        <th>
          Actions
        </th>
      </tr>
      </thead>
      <tbody>
     <tr *ngFor="let user of sharedUsers">
      <td style="vertical-align: middle;">
        <div class="user-info-avatar">
          <ngx-avatar [name]="user"></ngx-avatar> <span style="margin-left: 10px;"> <strong>{{user}}</strong></span>
        </div>
      </td>
       <td style="vertical-align: middle;">
          <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end;">
            <button class="btn btn-sm btn-danger"  (click)="removeUser(user)" ><i class="fa fa-remove"></i> Unshare</button>
          </div>
       </td>
      </tr>
      </tbody>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button (click)="cancel()" class="btn btn-sm btn-danger" style="margin-right: 5px;">Cancel</button>
  <button (click)="submit()" [disabled]="!changed" class="btn btn-sm btn-success">Submit</button>
</mat-dialog-actions>
