<entity-header [elm]="data.targetEntity"   [hasChanged]="false" [canSave]="false" [differential]="true" [diffToggled]="true" ></entity-header>
<app-delta-header [data]="data" ></app-delta-header>

<p-treeTable *ngIf="data" [value]="data.delta.structure" [scrollable]="true"  [columns]="selectedColumns" [style]="{width:'100%'}" scrollHeight="600px">
  <ng-template pTemplate="caption">
    <div style="text-align:right">
      <p-multiSelect name="select" [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" (onChange)="reorderCols()" selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
    </div>
  </ng-template>

  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" class="{{col.style}}">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body"  let-node="node" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr>
      <td *ngFor="let col of columns; let i = index" [ngSwitch]="col.field">

        <ng-container *ngSwitchCase="'name'">
          <i (click)="print(node);print(changeItems);"><app-name-delta-col [elmDeltaOp]="node['_.operation']" [type]="node.data.type?.current" [rowNode]="rowNode" [index] = "i" [position]="node.data.position" [description]="node.data.name"></app-name-delta-col></i>
        </ng-container>

        <ng-container *ngSwitchCase="'usage'">
          <app-usage-delta-col [usage]="node.data.usage" [bindings]="node.data.bindings"></app-usage-delta-col>
        </ng-container>

        <ng-container *ngSwitchCase="'cardinality'">
          <app-cardinality-delta-col *ngIf="node.data.min && node.data.max" [min]="node.data.min" [max]="node.data.max"></app-cardinality-delta-col>
        </ng-container>

        <ng-container *ngSwitchCase="'confLength'">
          <app-conflength-delta-col [confLength]="node.data.confLength" [leaf]="node.data.datatypeLabel.leaf"></app-conflength-delta-col>
        </ng-container>

        <ng-container *ngSwitchCase="'length'">
          <app-length-delta-col [minLength]="node.data.minLength" [maxLength]="node.data.maxLength" [leaf]="node.data.datatypeLabel.leaf"></app-length-delta-col>
        </ng-container>

        <ng-container *ngSwitchCase="'datatype'">
          <app-datatype-delta-col [ref]="node.data.ref" [datatypeLabel]="node.data.datatypeLabel" ></app-datatype-delta-col>
        </ng-container>

        <ng-container *ngSwitchCase="'valueSet'">
          <app-valueset-delta-col [(bindings)]="node.data.bindings"></app-valueset-delta-col>
        </ng-container>

        <ng-container *ngSwitchDefault=""></ng-container>

      </td>
    </tr>
  </ng-template>
</p-treeTable>
