<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12">
        <div *ngIf="currentBindings">
            <div *ngFor="let vs of currentBindings.valuesetBindings">
                <i class="fa fa-circle" [ngClass]="{'first-priority' : currentBindings.priority === 1, 'second-priority' : currentBindings.priority === 2, 'third-priority' : currentBindings.priority === 3, 'fourth-priority' : currentBindings.priority === 4}"></i>
                {{vs.label}}
            </div>
        </div>
    </div>
</div>