.firstVersion{

  background-color: #5c6bc0 !important;
}
.ui-treetable .ui-treetable .ui-treetable-tbody>tr>td, .ui-treetable .ui-treetable-tfoot>tr>td {
  padding: .25em .5em;
  border: 1px solid #d8d8d8;
}
.secondVersion{

  background-color:#F3C60D !important;
}
