<div *ngIf="segmentStructure">
    <form #editForm="ngForm">
        <div class="ui-g cp-header">
            <div class="ui-g-8 ui-g-nopad">
                <div class="cp-header-title ui-g-12">
                    Segment Structure: {{segmentStructure.label}}
                </div>
                <div class="ui-g-12 cp-header-subtitle">
                    <span class="ig-list-date" *ngIf="segmentStructure.updateDate">
                        <i class="fa fa-calendar"></i> {{segmentStructure.updateDate}}
                    </span>
                </div>
            </div>
            <div class="ui-g-4">
                <button  style="float:right" (click)="save()"  pButton type="button" label="save" class="green-btn" icon="fa fa-floppy-o" [disabled]="editForm.invalid || changeItems.length === 0"></button>
                <button  style="float:right" (click)="reset()" pButton type="button" label="reset" class="red-btn" icon="fa fa-refresh" [disabled]="!editForm.dirty" ></button>
            </div>
        </div>

        <p-treeTable [value]="segmentStructure.structure" [scrollable]="true" [reorderableColumns]="true" [columns]="selectedColumns" [style]="{width:'100%'}">
            <ng-template pTemplate="caption">
                <div style="text-align:right">
                    <p-multiSelect name="select" [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" (onChange)="reorderCols()" selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
                </div>
            </ng-template>

            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" class="{{col.style}}">
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body"  let-node="node" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns; let i = index" [ngSwitch]="col.field">
                        <ng-container *ngSwitchCase="'name'">
                            <i (click)="print(node);print(changeItems);"><name-col [type]="node.data.type" [rowNode]="rowNode" [index] = "i" [position]="node.data.position" [description]="node.data.name"></name-col></i>
                        </ng-container>

                        <ng-container *ngSwitchCase="'usage'">
                            <usage-col *ngIf="node.data.type === 'FIELD'" [(usage)]="node.data.usage" [(bindings)]="node.data.bindings" [(changeItems)] = "changeItems" [idPath]="node.data.idPath" [viewScope]="node.data.viewScope" [sourceId]="segmentStructure.id.id"></usage-col>
                            <usage-readonly-col *ngIf="node.data.type !== 'FIELD'" [usage]="node.data.usage" [bindings]="node.data.bindings" [idPath]="node.data.idPath"></usage-readonly-col>
                        </ng-container>

                        <ng-container *ngSwitchCase="'cardinality'">
                            <cardinality-col *ngIf="node.data.type === 'FIELD'" [(min)]="node.data.min" [(max)]="node.data.max" [idPath]="node.data.idPath" [(changeItems)]="changeItems"></cardinality-col>
                        </ng-container>

                        <ng-container *ngSwitchCase="'length'">
                            <length-col *ngIf="node.data.type === 'FIELD'" [(minLength)]="node.data.minLength" [(maxLength)]="node.data.maxLength" [(confLength)]="node.data.confLength" [idPath]="node.data.idPath" [leaf]="node.data.datatypeLabel.leaf" [(changeItems)]="changeItems"></length-col>
                            <length-readonly-col *ngIf="node.data.type !== 'FIELD'" [minLength]="node.data.minLength" [maxLength]="node.data.maxLength" [leaf]="node.data.datatypeLabel.leaf"></length-readonly-col>
                        </ng-container>

                        <ng-container *ngSwitchCase="'confLength'">
                            <conflength-col *ngIf="node.data.type === 'FIELD'" [(minLength)]="node.data.minLength" [(maxLength)]="node.data.maxLength" [(confLength)]="node.data.confLength" [idPath]="node.data.idPath" [leaf]="node.data.datatypeLabel.leaf" [(changeItems)]="changeItems"></conflength-col>
                            <conflength-readonly-col *ngIf="node.data.type !== 'FIELD'" [confLength]="node.data.confLength" [leaf]="node.data.datatypeLabel.leaf"></conflength-readonly-col>
                        </ng-container>

                        <ng-container *ngSwitchCase="'datatype'">
                            <datatype-col *ngIf="node.data.type === 'FIELD'" [(ref)]="node.data.ref" (refresh)="refreshTree()" [(datatypeLabel)]="node.data.datatypeLabel" [idPath]="node.data.idPath" [path]="node.data.path" [igId] = "igId" [viewScope]="node.data.viewScope" [(children)]="node.children" [(changeItems)]="changeItems"></datatype-col>
                            <datatype-readonly-col *ngIf="node.data.type !== 'FIELD'" [ref]="node.data.ref" [datatypeLabel]="node.data.datatypeLabel" ></datatype-readonly-col>
                        </ng-container>

                        <ng-container *ngSwitchCase="'valueSet'">
                            <valueset-col *ngIf="configService.isValueSetAllow(node.data.datatypeLabel.name, node.data.position, node.parent, segmentStructure.name, node.data.type)" [datatypeLabel]="node.data.datatypeLabel" [igId] = "igId" [(bindings)]="node.data.bindings" [idPath]="node.data.idPath" [sourceId]= "segmentStructure.id.id" [viewScope]="node.data.viewScope" [(changeItems)]="changeItems"></valueset-col>
                        </ng-container>

                        <ng-container *ngSwitchCase="'singleCode'">
                            <singlecode-col *ngIf="configService.isSingleCodeAllow(node.data.datatypeLabel.name, node.data.position, node.parent, segmentStructure.name, node.data.type,node.data.datatypeLabel.leaf, node.data.bindings)" [(bindings)]="node.data.bindings" [idPath]="node.data.idPath" [sourceId]= "segmentStructure.id.id" [viewScope]="node.data.viewScope" [(changeItems)]="changeItems"></singlecode-col>
                        </ng-container>

                        <ng-container *ngSwitchCase="'constantValue'">
                            <constantvalue-col *ngIf="configService.isConstantValueAllow(node.data.datatypeLabel.name, node.data.position, node.parent, segmentStructure.name, node.data.type,node.data.datatypeLabel.leaf)" [(bindings)]="node.data.bindings" [idPath]="node.data.idPath" [sourceId]= "segmentStructure.id.id" [viewScope]="node.data.viewScope" [(changeItems)]="changeItems"></constantvalue-col>
                        </ng-container>

                        <ng-container *ngSwitchCase="'textDef'">
                            <textdef-col *ngIf="node.data.type === 'FIELD'" [(text)]="node.data.text" [(changeItems)] = "changeItems" [idPath]="node.data.idPath"></textdef-col>
                            <textdef-readonly-col *ngIf="node.data.type !== 'FIELD'" [text]="node.data.text"></textdef-readonly-col>
                        </ng-container>

                        <ng-container *ngSwitchCase="'comment'">
                            <comment-col [(bindings)]="node.data.bindings" [idPath]="node.data.idPath" [sourceId]= "segmentStructure.id.id" [viewScope]="node.data.viewScope" [(changeItems)]="changeItems"></comment-col>
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
        </p-treeTable>
    </form>
</div>
