<div *ngIf="location && location.length > 0" style="line-height: 0;">
  <ng-container *ngTemplateOutlet="locationBreadCrumbs; context: { $implicit: location }"></ng-container>
</div>
<ng-template #locationBreadCrumbs let-locations>
  <div *ngFor="let item of locations" style="display: inline-flex; align-items: center;" >
    <span style="font-size: 18px; cursor: pointer;" [routerLink]="links[item.position].path" [queryParams]="links[item.position].params"  >
      <i *ngIf="item.type === 'SCOPE' && item.id === 'PRIVATE_IG_LIST'" class="fa fa-lock"></i>
      <i *ngIf="item.type === 'SCOPE' && item.id === 'PUBLIC_IG_LIST'" class="fa fa-globe"></i>
      <app-entity-bagde *ngIf="item.type === 'WORKSPACE'" [type]="'WORKSPACE'"></app-entity-bagde>
      <app-entity-bagde *ngIf="item.type === 'FOLDER'" [type]="'FOLDER'"></app-entity-bagde>
      {{item.label}}
    </span>
    <i class="fa fa-chevron-right" style="margin-right: 10px; margin-left: 10px;"></i>
  </div>
</ng-template>