<div class="topbar clearfix">
  <div class="topbar-left" style="width: 800px !important;">
    <div class="brand" id="appheader">
      <span>
        <div style="margin-bottom: 5px;
    margin-left: 10px;
    font-size: 32px;
    color: #F3C60D !important;">

          NIST IGAMT

          <span style="color:white; font-size:medium" msg="" key="app.subtitle" class="ng-binding">Implementation Guide Authoring and Management Tool</span><span class="badge ng-binding" style="background-color: rgb(152, 45, 18);color:white; font-size:12px"> 2.0.0-beta13</span>
        </div>
      </span>
    </div>
  </div>
</div>
