<ng-container *ngFor="let binding of bindings; let i = index">
  <ng-container
    *ngIf="(elementInfoMap[binding.context.pathId] ? elementInfoMap[binding.context.pathId] : getElementInfo(binding)) | async as contextCoConstraint"
  >

    <div
      style="height: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;"
      [ngClass]="{
      'context-added': delta && binding.delta === 'ADDED',
      'context-removed': delta && binding.delta === 'DELETED',
      'context-changed': delta && binding.delta === 'CHANGED'
    }">

      <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; flex-grow: 1; padding-left: 10px;" (click)="togglePanel(binding.context.pathId)" >
        <div *ngIf="contextCoConstraint.resolved" style="display: flex; align-items: center;">
          <i class="fa fa-chevron-down" style="margin-right: 10px;" *ngIf="expansionPanelView[binding.context.pathId]"></i>
          <i class="fa fa-chevron-right" style="margin-right: 10px;" *ngIf="!expansionPanelView[binding.context.pathId]"></i>
          <app-entity-bagde [type]="contextCoConstraint.pathInfo.type" ></app-entity-bagde>
          <h6 class="title-text" style="margin-left: 10px !important;" >{{ contextCoConstraint.name }}</h6>
          <span *ngIf="delta && binding.delta" style="margin-left: 20px;"> ( {{ binding.delta }} )</span>
        </div>
        <div *ngIf="!contextCoConstraint.resolved">
          <span style="color: red;">
            <i class="fa fa-warning" ></i> {{contextCoConstraint.issue ? contextCoConstraint.issue : 'Could not resolve context path ' + binding.context.pathId }}
          </span>
        </div>
        <button *ngIf="!viewOnly" class="btn btn-sm btn-danger margin-right" (click)="deleteContextBinding(bindings, binding, binding.context.pathId, i)" >
          <i class="fa fa-trash"></i>
          Delete Context
        </button>
      </div>
      <hr style="margin: 0 !important;">
      </div>

      <ng-container *ngIf="expansionPanelView[binding.context.pathId] && contextCoConstraint.resolved" >
        <app-segment-co-constraint-binding
          *ngFor="let segment of binding.bindings; let j = index"
          [delta]="delta"
          [derived]="derived"
          [segments]="segments"
          [datatypes]="datatypes"
          [valueSets]="valueSets"
          [viewOnly]="viewOnly"
          [documentRef]="documentRef"
          [conformanceProfile]="conformanceProfile"
          [structure]="structure"
          [context]="binding.context"
          [contextInfo]="contextCoConstraint"
          (valueChange)="segmentBindingChange(binding.context.pathId, $event)"
          (formValid)="formValid(binding.context.pathId, $event)"
          (delete)="deleteSegmentBinding(binding.bindings, segment, binding.context.pathId, j)"
          [transformer]="transformer"
          [referenceChangeMap]="referenceChangeMap"
          [profileComponentContext]="profileComponentContext"
          [value]="segment">
        </app-segment-co-constraint-binding>
      </ng-container>
  </ng-container>
</ng-container>
