@import  '../../../../../assets/variables';

.register-layout {
  @extend %page-wrapper;
  display: grid;
  grid-template-areas:  'alerts'
                        'register-content';
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content,max-content) auto;
  overflow: scroll;
}

.register-card {
  grid-column: register-content;
  grid-row: 2;
}
