  <h2 mat-dialog-title>Export Document</h2>
<mat-dialog-content>

  <div>
    <label style="font-weight: bold;" #anchor>What configuration would you like to apply ?</label><br>
    <p-dropdown
      [autoDisplayFirst]="false"
      [options]="configlist"
      [style]="{'width': '100%', 'min-width': 'inherit'}"
      [appendTo]="anchor"
      [(ngModel)]="selectedConfig"
      optionLabel="configName"></p-dropdown>
  </div>

  <div style="margin-top: 10px;" *ngIf="selectedConfig && !delta"  >
    <label style="font-weight: bold;" >Would you like to override the configuration ?</label><br>
    <div style="display: flex; justify-content: center;">
      <button (click)="customize()" class="btn btn-sn btn-primary" style="margin-right:5px;">
        <i class="fa fa-cog"></i>
        Customize
      </button>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end; margin-top: 10px;">
  <button (click)="export()" class="btn btn-sm btn-success" [disabled]="!selectedConfig" style="margin-right: 5px;">Export</button>
  <button [mat-dialog-close]="" class="btn btn-sm btn-danger" >Cancel</button>
</mat-dialog-actions>
