<ng-container *ngIf="bindingsSubject | async as bindings">
  <ng-container *ngIf="entries$ | async as entries">
    <ul class="nav nav-pills" style="margin-top: 10px;">
      <li style="cursor: pointer;" class="nav-item" *ngFor="let item of tabs">
        <span  class="nav-link active" [ngClass]="{ 'active': item === activeTab }" (click)="activeTab = item">{{ item }}</span>
      </li>
    </ul>

    <ng-container *ngIf="activeTab === BindingsTabs.VALUESETS">
      <ng-container *ngTemplateOutlet="table; context : { $implicit : bindings.valueSetBindingContainers, template: valueSet, property: 'VALUESET', entries: entries['VALUESET'] }" ></ng-container>
    </ng-container>

    <ng-container *ngIf="activeTab === BindingsTabs.SINGLECODE">
      <ng-container *ngTemplateOutlet="table; context : { $implicit : bindings.singleCodeBindingContainers, template: singleCode, property: 'SINGLECODE', entries: entries['SINGLECODE'] }" ></ng-container>
    </ng-container>

    <ng-container *ngIf="activeTab === BindingsTabs.PREDICATE">
      <ng-container *ngTemplateOutlet="table; context : { $implicit : bindings.predicateBindingContainers, template: predicate, property: 'PREDICATE', entries: entries['PREDICATE'] }" ></ng-container>
    </ng-container>

  </ng-container>
</ng-container>

<ng-template #table let-bindings let-template="template" let-property="property" let-entries="entries">
  <table *ngIf="bindings && bindings.length > 0" style="margin-top: 15px;" class="table table-sm table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>
          Location
        </th>
        <th>
          Value
        </th>
        <th *ngIf="!(viewOnly$ | async)" style="width: 110px;">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of bindings" >
        <tr>
          <td >
            <div *ngIf="item.locationInfo">
              <span>
                <app-entity-bagde [type]="item.locationInfo.type" ></app-entity-bagde>
                {{ item.locationInfo.hl7Path }}
              </span>
              <span> ({{item.locationInfo.name}}) </span>
            </div>
            <span *ngIf="!item.locationInfo">
              <i class="fa fa-exclamation-circle" style="color: red;" ></i>
              Unknown Location (Path Id : {{ item.binding.pathId }})
            </span>
          </td>
          <td>
            <div style="width: 100%;">
              <ng-container *ngTemplateOutlet="template; context : { $implicit : item.binding.value }" ></ng-container>
            </div>
            <div *ngIf="entries && entries[item.binding.pathId]" style="border-top: 1px solid lightgray; padding: 5px; margin-top: 5px;">
              <div *ngFor="let error of entries[item.binding.pathId]">
                <span style="color: red;">
                  <app-issue-badge [type]="error.severity"></app-issue-badge> {{error.message}}
                </span>
              </div>
            </div>
          </td>
          <td  *ngIf="!(viewOnly$ | async)" style="vertical-align: middle;">
            <ng-container *ngIf="markedForDeletion(item.binding, property) | async as removed" >
              <button *ngIf="!removed.flag" (click)="delete(item.binding, property)" class="btn btn-sm btn-danger" style="margin-right: 10px;">
                <i class="fa fa-trash"></i> Delete
              </button>
              <button *ngIf="removed.flag" (click)="restore(item.binding, property)" class="btn btn-sm btn-success" style="margin-right: 10px;">
                <i class="fa fa-refresh"></i> Restore
              </button>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-template>

<ng-template #predicate let-predicate>
  {{ getPredicateDescription(predicate) }}
</ng-template>
<ng-template #valueSet let-vsb>
  <ng-container *ngIf="getVsBindingDisplay(vsb) | async as vsBindings">
    <table *ngFor="let vsBinding of vsBindings" class="table table-striped table-sm table-bordered" style="text-align: center; margin-bottom: 0;">
      <tr>
        <td pTooltip="Binding Strength" tooltipPosition="top">
          <strong>{{vsBinding.bindingStrength}}</strong>
        </td>
        <td pTooltip="Binding Locations" tooltipPosition="top">
          <strong>{{vsBinding.bindingLocation.length > 0 ? (vsBinding.bindingLocation | json) : '.'}}</strong>
        </td>
      </tr>
      <tr *ngFor="let item of vsBinding.valueSets">
        <td colspan="3">
          <div [pTooltip]="item?.description" tooltipPosition="top">
             <app-display-ref [element]="item" [hideDescription]="true"></app-display-ref>
          </div>
        </td>
      </tr>
    </table>
  </ng-container>
</ng-template>
<ng-template #singleCode let-sc>
    <table *ngFor="let singleCode of sc" class="table table-striped table-sm table-bordered" style="text-align: center;  margin-bottom: 0;">
      <tr>
        <td pTooltip="Code" tooltipPosition="top">
          <strong>{{singleCode.code}}</strong>
        </td>
        <td pTooltip="Code System" tooltipPosition="top">
          <strong>{{singleCode.codeSystem}}</strong>
        </td>
      </tr>
      <tr>
        <td pTooltip="Binding Locations" tooltipPosition="top" colspan="2">
          <strong>{{singleCode.locations.length > 0 ? (singleCode.locations | json) : '.'}}</strong>
        </td>
      </tr>
    </table>
</ng-template>
