<ng-template #headerTitle let-active let-defaultTemplate="defaultTemplate">
  <div style="width: 100%; display: flex; align-items: center;">
    <h5 class="title-text">
      <app-entity-bagde [type]="active.display.type"></app-entity-bagde>
      {{active.display.variableName}}
    </h5>
    &nbsp;&nbsp;
    <h6 class="title-text">Co-Constraint Group For Segment</h6>
    &nbsp;&nbsp;
    <h5 class="title-text">
      <app-entity-bagde [type]="'SEGMENT'"></app-entity-bagde>
      <app-scope-badge [scope]="active.display.domainInfo?.scope" [version]="active.display.domainInfo?.version" ></app-scope-badge>
      {{active.display.fixedName}}
    </h5>
  </div>
</ng-template>
<ng-template #headerControls>
  <app-change-log-list-info
  [changes]="changeReason$ | async"
  (editChange)="updateChangeReasons($event)"
  [viewOnly]="viewOnly$ | async"
  ></app-change-log-list-info>
</ng-template>

<app-co-constraint-table
  [segment]="segment$ | async"
  [value]="group$ | async"
  [derived]="derived$ | async"
  [mode]="'GROUP'"
  [vOnly]="viewOnly$ | async"
  [datatypes]="datatypes | async"
  [valueSets]="valueSets | async"
  (valueChange)="change($event)"
  [documentRef]="documentRef$ | async" >
</app-co-constraint-table>
