<h2 mat-dialog-title>Create Custom Message Structure</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">

    <ng-container *ngIf="!messageStructure" >
      <label for="selectVersion" style="font-weight: bold;"> Select Structure To Start From </label>
      <app-resource-list
        (selectionChange)="getMessages($event)"
        [hl7Versions]="hl7Version$ | async"
        [selectedVersion]="selectedVersion"
        [selectedScope]="selectedScope"
        [displayScope]="true"
        [filters]="[ 'data.name', 'data.description' ]"
        [table]="messages$ | async"
        resourceLabel="Structure">
        <ng-template #display let-item >
          {{ item.data.name }} - {{  item.data.description  }}
        </ng-template>
        <ng-template #actions let-item >
          <button class="btn btn-sm btn-primary" (click)="startFrom(item)" > Start From </button>
        </ng-template>
      </app-resource-list>
    </ng-container>

    <ng-container *ngIf="messageStructure" >
      <span> Selected Structure </span>
      <span class="badge badge-secondary"> {{ messageStructure.hl7Version }} </span>
      <strong> {{ messageStructure.name }} </strong>
      <button class="btn btn-sm btn-danger" (click)="clearSelection()" >
        <i class="fa fa-times"></i>
      </button>

      <br><br>
      <app-form-input formControlName="name" id="structureId" name="Structure Id" placeholder="Structure Id" label="Message Structure (MSH-9.3)" [viewOnly]="false"></app-form-input>
      <app-form-input formControlName="messageType" id="messageType" name="Message Type" placeholder="Message Type" label="Message Code (MSH-9.1)" [viewOnly]="false"></app-form-input>
      <app-form-input formControlName="description" id="description" name="Description" placeholder="Description" label="Description" [viewOnly]="false"></app-form-input>

      <table class="table table-striped table-bordered table-sm" style="margin-top: 10px;" formArrayName="events">
        <tr>
          <th> Trigger Events (MSH-9.2) </th>
          <th> Description </th>
          <th> Action </th>
        </tr>
        <tr *ngFor="let item of events; let i = index;"  [formGroupName]="i">
          <td> 
            {{ item.controls.name.value }} 
            <ng-container *ngIf="item.controls.name.errors" >
              <br>
              <span class="input-form-invalid-feedback">{{getErrorText('event name', item.controls.name)}}</span>
            </ng-container>
          </td>
          <td> {{ item.controls.description.value }} </td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteEvent(i)" >
              <i class="fa fa-minus"></i>
            </button>
          </td>
        </tr>
        <tr [formGroup]="subFormGroup">
          <td>
            <app-form-input formControlName="name" id="sfg-name" name="name" placeholder="Name" label="Name" [hideLabel]="true" [viewOnly]="false"></app-form-input>
          </td>
          <td>
            <app-form-input formControlName="description" id="sfg-description" name="description" placeholder="Description" label="Description" [hideLabel]="true" [viewOnly]="false"></app-form-input>
          </td>
          <td>
            <button class="btn btn-sm btn-primary" [disabled]="subFormGroup.invalid" (click)="addEvent()" >
              <i class="fa fa-plus"></i>
            </button>
          </td>
        </tr>

      </table>
    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button (click)="cancel()" class="btn btn-sm btn-danger" style="margin-right: 5px;">Cancel</button>
  <button (click)="submit()" [disabled]="!formGroup || formGroup.invalid || !messageStructure || events.length === 0"  class="btn btn-sm btn-success">Submit</button>
</mat-dialog-actions>
