<div *ngIf="conformanceprofileConformanceStatements">
    <form #editForm="ngForm">
      <entity-header [elm]="conformanceprofileConformanceStatements"  (save)="save()" (reset)="reset()" [hasChanged]="hasChanged()" [canSave]="canSave()" ></entity-header>

      <div class="section-content">
        <p-accordion (onOpen)="onTabOpen($event)">
            <p-accordionTab header="List of Conformance Statements" [(selected)]="listTab">
                <p-table [columns]="cols" [value]="conformanceprofileConformanceStatements.conformanceStatements" [reorderableColumns]="true" [resizableColumns]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width:3em"></th>
                            <th *ngFor="let col of dataTypeColumns" pReorderableColumn [pSortableColumn]="col.sort" [ngStyle]="col.colStyle" pResizableColumn>
                                {{col.header}}
                                <p-sortIcon *ngIf="col.colStyle" [field]="col.field"></p-sortIcon>
                            </th>
                            <th style="width:15em" pReorderableColumn>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                        <tr [pReorderableRow]="index">
                            <td>
                                <i class="fa fa-bars" pReorderableRowHandle></i>
                            </td>
                            <td *ngFor="let col of dataTypeColumns" class="ui-resizable-column">
                                <div *ngIf="col.field === 'identifier'">
                                    {{rowData[col.field]}}
                                </div>
                                <div *ngIf="col.field === 'description'">
                                    <div *ngIf="rowData['type'] === 'FREE'">
                                        {{rowData['freeText']}}
                                    </div>
                                    <div *ngIf="rowData['type'] === 'ASSERTION'">
                                        {{rowData['assertion'].description}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button pButton style="float: right" type="button"  class="ui-button-warning" icon="fa fa-times" label="Delete" (click)="deleteCS(rowData['identifier'])"></button>
                                <button pButton style="float: right" type="button"  class="ui-button-info" icon="fa fa-pencil" label="Edit" (click)="selectCS(rowData)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary" let-rowData>
                        <div style="text-align:left">
                            <button type="button" pButton icon="fa fa-plus" (click)="addNewCS()" label="Create New Conformance Statement"></button>
                        </div>
                    </ng-template>
                </p-table>
            </p-accordionTab>

            <p-accordionTab header="Conformance Statement Editor" [(selected)]="editorTab">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-2">
                        <label>Editor Type: </label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        <p-selectButton name="type" [options]="constraintTypes" [(ngModel)]="selectedConformanceStatement.type" (onChange)="changeType()"></p-selectButton>
                    </div>
                </div>

                <div *ngIf="selectedConformanceStatement.type">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-2">
                            <label for="id">ID: </label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input id="id" name="id" required minlength="2" [(ngModel)]="selectedConformanceStatement.identifier" type="text" #id="ngModel" style="width:50%;"/>
                            <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
                                <div *ngIf="id.errors.required">
                                    Constraint Id is required.
                                </div>
                                <div *ngIf="id.errors.minlength">
                                    Constraint Id must be at least 2 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedConformanceStatement.type && selectedConformanceStatement.type ==='ASSERTION'">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-2">
                            <label>Context Location: </label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            {{showContext(selectedConformanceStatement.contextLocation)}} <i class="fa fa-pencil" (click)="openDialogSelectContext()"></i>
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedConformanceStatement.type && selectedConformanceStatement.type ==='ASSERTION'">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-2">
                            <label>Assertion Level: </label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <p-dropdown id="assertionMode" name="assertionMode" required #assertionMode="ngModel" [options]="assertionModes" [group]="true" [autoWidth]="false" [(ngModel)]="selectedConformanceStatement.assertion.mode" (onChange)="changeAssertionMode()"></p-dropdown>
                            <div *ngIf="assertionMode.invalid && (assertionMode.dirty || assertionMode.touched)" class="alert alert-danger">
                                <div *ngIf="assertionMode.errors.required">
                                    Assertion Type is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <edit-free-constraint *ngIf="selectedConformanceStatement.type === 'FREE'" [constraint]="selectedConformanceStatement"></edit-free-constraint>
                <edit-simple-message-constraint *ngIf="selectedConformanceStatement.assertion && selectedConformanceStatement.assertion.mode === 'SIMPLE'" [constraint]="selectedConformanceStatement.assertion" [context]="selectedConformanceStatement.contextLocation" [structure]="conformanceprofileConformanceStatements.children" [groupName]="'rootSimple'" [segmentsLinks]="segmentsLinks" [datatypesLinks]="datatypesLinks"></edit-simple-message-constraint>
                <edit-complex-constraint *ngIf="selectedConformanceStatement.assertion && selectedConformanceStatement.assertion.mode !== 'SIMPLE'" [constraint]="selectedConformanceStatement.assertion" [idMap]="idMap" [treeData]="treeData" [groupName]="'root'"></edit-complex-constraint>

                <button pButton style="float: right" type="button"  class="blue-btn" icon="fa fa-plus" label="Submit" (click)="submitCS()" [disabled]="editForm.invalid"></button>
            </p-accordionTab>
        </p-accordion>
      </div>

    </form>

    <p-dialog header="Select Context Location (Click Message or Group)" [(visible)]="selectContextDialog" [modal]="true" [responsive]="true" [width]="600" [minWidth]="200" [minY]="70">
        <p-tree [value]="contextTreeModel">
            <ng-template let-node  pTemplate="default">
                <div *ngIf="node.data.type === 'MESSAGE' || node.data.type === 'GROUP'" (click)="selectContext(node.data.idPath)">
                    <display-badge [type]="node.data.type"></display-badge>{{node.label}}
                </div>
                <div *ngIf="node.data.type === 'SEGMENTREF'">
                    <display-badge [type]="node.data.type"></display-badge>{{node.label}}
                </div>
            </ng-template>
        </p-tree>
    </p-dialog>

</div>
