.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.btn-action {
  color: black;
  background-color: #f8f9fa;
  border-color: #efefef;
}

.btn-action:hover {
  color: black;
  background-color: #feec9d;
}

.status {
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.status-published {
  background-color: #a9ffbf;
}

.status-published-draft {
  background-color: #fdd3d8;
}

.status-locked {
  background-color: lightgrey;
  color: #494949;
}

.status-derived {
  background-color: #c1e2ff;
}