<p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
<div class="ui-g-12">

  <p-radioButton *ngFor="let v of hl7Versions" name="{{v}}" value="{{v}}" label="{{v}}" [(ngModel)]="selcetedVersion" (click)="getMessages(v)"></p-radioButton>



</div>

<div style="margin-top: 100px;">
  <p-treeTable [value]="tableValue"  selectionMode="checkbox" [(selection)]="selectedNodes" [style]="{'margin-top':'50px', 'max-height':'400px', 'overflow':'scroll'}"
               [style]="{'margin-top':'50px'}" (onNodeSelect)="selectNode($event)" (onNodeUnselect)="unselectNode($event)">
    <p-header >Editable Cells with Templating</p-header>
    <p-column  header="Name">
      <ng-template let-node="rowData" pTemplate="body">
        <span *ngIf="node.data.type=='EVENTS'"> {{node.data.name}}</span>

      </ng-template>
    </p-column>
    <p-column  header="Event Types">
      <ng-template let-node="rowData" pTemplate="body">
      <span *ngIf="node.data.type=='EVENT' "> {{node.data.name}}</span>
      </ng-template>
    </p-column>
    <p-column  header="Description">
      <ng-template let-node="rowData" pTemplate="body">
        {{node.data.description}}
      </ng-template>
    </p-column>
  </p-treeTable>

<button (click)="print(selectedNodes)"> print</button>
</div>

