<div mat-dialog-body>
  <div style="display: flex;">
    <div style="border-right: 1px solid lightgray; padding-right: 20px; text-align: center;">
      <span style="color: #9b9898;">Scope</span>
      <ul class="list-group" style="margin-top: 15px; margin-bottom: 15px;" >
        <li (click)="getTreeByScope(BrowserScope.PRIVATE)" [ngClass]="{'nav-active-link': scope === BrowserScope.PRIVATE}" class="list-group-item list-item cursor-pointer" *ngIf="browser?.scope?.private">
          <span>
            <i class="fa fa-lock" style="margin-right: 5px;"></i> Private
          </span>
        </li>
        <li (click)="getTreeByScope(BrowserScope.PUBLIC)" [ngClass]="{'nav-active-link': scope === BrowserScope.PUBLIC}" class="list-group-item list-item cursor-pointer" *ngIf="browser?.scope?.public">
          <span>
            <i class="fa fa-globe" style="margin-right: 5px;"></i> Public
          </span>
        </li>
        <li (click)="getTreeByScope(BrowserScope.WORKSPACES)" [ngClass]="{'nav-active-link': scope === BrowserScope.WORKSPACES}" class="list-group-item list-item cursor-pointer" *ngIf="browser?.scope?.workspaces">
          <span>
            <i class="fa fa-briefcase" style="margin-right: 5px;"></i> Workspaces
          </span>
        </li>
      </ul>
    </div>
    <div  style="padding-left: 20px;">
      <div style="color: #9b9898; margin-bottom: 15px; text-align: center;">Pick a Code Set</div>
      <div class="input-group" style="margin-bottom: 10px;">
        <div class="input-group-prepend" style="height: 35px;">
          <span class="input-group-text" id="inputGroupPrepend3"><i [ngStyle]="{'color': filterText && filterText !== '' ? '#00c31b' : ''}"
                                                                    class="fa fa-search"></i></span>
        </div>
        <input (ngModelChange)="filterTextChanged($event)" [(ngModel)]="filterText" class="form-control"
               id="filter" placeholder="Search" required
               style="background-color: #fbfbfb; height: 35px;" type="text">
      </div>
      <p-treeTable *ngIf="scope" #tt [value]="browserTree" [columns]="columns" [paginator]="true" [rows]="5" [reorderableColumns]="true" [resizableColumns]="true" [selectionMode]="selectionMode"
      [(selection)]="selected"
      dataKey="id" >
        <ng-template pTemplate="header" let-columns>
            <tr>
              <ng-container *ngFor="let col of columns" [ngSwitch]="col">
                <th *ngSwitchCase="colType.NAME" style="width: 700px;" ttReorderableColumn ttResizableColumn>
                  Name
                </th>
                <th *ngSwitchCase="colType.TYPE" ttReorderableColumn ttResizableColumn>
                  Type
                </th>
                <th *ngSwitchCase="colType.DATE" ttReorderableColumn ttResizableColumn>
                  Date
                </th>
              </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode" [ttSelectableRowDisabled]="!rowNode.node.selectable">
                <td [ngSwitch]="col" class="text-cell" *ngFor="let col of columns; let i = index" >
                  <ng-container *ngSwitchCase="colType.NAME">
                    <tbody>
                      <tr>
                        <td style="width: 30px;">
                          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                        </td>
                        <td style="white-space: normal;">
                          <app-entity-bagde [type]="rowData.type"></app-entity-bagde>
                          <strong [ngStyle]="{ 'color': rowNode.node.selectable ? 'black' : '#b1b1b1'}" style="margin-left: 10px">
                            <span>{{rowData.label}}</span>
                            <span style="margin-left: 5px;" class="badge badge-primary" *ngIf="rowData.type === 'CODESETVERSION' && rowData.latestStable">latest</span>
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </ng-container>
                  <ng-container *ngSwitchCase="colType.TYPE">
                    {{rowData.type}}
                  </ng-container>
                  <ng-container *ngSwitchCase="colType.DATE">
                    <span *ngIf="rowData.type === 'CODESETVERSION'">{{rowData.dateCommitted | date:'medium'}}</span>
                  </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
    <ng-container *ngIf="selected" >
      <div style="color: #9b9898; margin: 15px; text-align: center;">Selection</div>
      <ul class="list-group" *ngIf="selectionMode === 'multiple'">
        <li class="list-group-item list-item" *ngFor="let item of selected; let i = index" >
          <div *ngIf="item.data.type === 'CODESETVERSION'" style="display: flex; gap: 10px; align-items: center; justify-content: space-between;">
            <app-entity-bagde [type]="item.parent.data.type"></app-entity-bagde>
            <strong style="margin-left: 10px">{{item.parent.data.label}}</strong>
            <i class="fa fa-chevron-right"></i>
            <strong>version {{item.data.label}}</strong>
            <span style="margin-left: 5px;" class="badge badge-primary" *ngIf="item.data.latestStable">latest</span>
            <span style="color: gray;">Committed on {{item.data.dateCommitted | date:'medium'}}</span>
          </div>
          <div *ngIf="item.data.type === 'CODESET'">
            <app-entity-bagde [type]="item.data.type"></app-entity-bagde>
            <strong style="margin-left: 10px">{{item.data.label}}</strong>
            <span style="color: blue;"> (track latest version)</span>
          </div>
          <div>
            <button (click)="clear(i)" class="btn btn-sm btn-danger">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </li>
      </ul>
      <ul class="list-group" *ngIf="selectionMode === 'single'">
        <li class="list-group-item list-item">
          <div *ngIf="selected.data.type === 'CODESETVERSION'" style="display: flex; gap: 10px; align-items: center; justify-content: space-between;">
            <app-entity-bagde [type]="selected.parent.data.type"></app-entity-bagde>
            <strong style="margin-left: 10px">{{selected.parent.data.label}}</strong>
            <i class="fa fa-chevron-right"></i>
            <strong>version {{selected.data.label}}</strong>
            <span style="margin-left: 5px;" class="badge badge-primary" *ngIf="selected.data.latestStable">latest</span>
            <span style="color: gray;">Committed on {{selected.data.dateCommitted | date:'medium'}}</span>
          </div>
          <div *ngIf="selected.data.type === 'CODESET'">
            <app-entity-bagde [type]="selected.data.type"></app-entity-bagde>
            <strong style="margin-left: 10px">{{selected.data.label}}</strong>
            <span style="color: blue;"> (track latest version)</span>
          </div>
          <div>
            <button (click)="clearSelection()" class="btn btn-sm btn-danger">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </li>
      </ul>
    </ng-container>
    </div>
  </div>

</div>
<mat-dialog-actions style="justify-content: flex-end; margin-top: 10px;">
  <button (click)="cancel()" class="btn btn-sm btn-danger" style="margin-right: 5px;">Cancel</button>
  <button (click)="done()" [disabled]="!selected || selected.length === 0" class="btn btn-sm btn-success">Done</button>
</mat-dialog-actions>
