  <form #csForm="ngForm">
    <div style="display: flex; justify-content: space-between;">
      <label for="free" class="form-label-lg"> Assertion Type </label>
      <div style="border-radius: 5px;">
        <p-radioButton  [(ngModel)]="activeTab" [style]="{'margin-left': '10px'}" [label]="tabType.FREE" styleClass="'radio-inline'" [value]="tabType.FREE" (ngModelChange)="changeTab($event)" name="activeTab" ></p-radioButton>
        <p-radioButton  [(ngModel)]="activeTab" [style]="{'margin-left': '10px'}" [label]="tabType.SIMPLE" styleClass="'radio-inline'" [value]="tabType.SIMPLE" (ngModelChange)="changeTab($event)" name="activeTab" ></p-radioButton>
        <p-radioButton  [(ngModel)]="activeTab" [style]="{'margin-left': '10px'}" [label]="tabType.CONDITIONAL" styleClass="'radio-inline'" [value]="tabType.CONDITIONAL" (ngModelChange)="changeTab($event)" name="activeTab" ></p-radioButton>
        <p-radioButton  [(ngModel)]="activeTab" [style]="{'margin-left': '10px'}" [label]="tabType.COMPLEX" styleClass="'radio-inline'" [value]="tabType.COMPLEX" (ngModelChange)="changeTab($event)" name="activeTab" ></p-radioButton>
      </div>
    </div>
    <div class="form-group">
      <label for="free" class="form-label-lg"> Identifier </label>
      <input type="text" class="form-control" id="id" name="id" placeholder="Assertion Identifier" required [(ngModel)]="cs.identifier">
    </div>
    <!-- <div class="form-group">
      <label for="free" class="form-label-lg"> Context </label>
      <span>{{ contextName() }}</span>
      <button class="btn btn-primary" (click)="edit()" style="margin-left: 10px;" (click)="openPatternDialog()">
        <i class="fa fa-pencil"></i>
      </button>
    </div> -->
    <div *ngIf="activeTab === tabType.FREE">
      <div class="form-group">
        <label for="free" class="form-label-lg"> Description </label>
        <input type="text" class="form-control" id="free" name="free" placeholder="Assertion Free Text Description" required [(ngModel)]="cs.freeText">
      </div>
      <div style="margin-top: 30px; margin-bottom: 20px; cursor: pointer;" (click)="hideAdvanced = !hideAdvanced">
        <hr style="margin-bottom: -14px; margin-left: 110px;"> <span style="margin-left: 5px; color: gray;"><i class="fa" [ngClass]="{'fa-chevron-down': hideAdvanced, 'fa-chevron-right': !hideAdvanced }"></i> Advanced </span>
      </div>
      <div class="form-group" *ngIf="hideAdvanced">
        <label for="free" class="form-label-lg"> Script </label>
        <textarea type="text" class="form-control" id="script" rows="6" name="script" placeholder="XML Script" [required]="required" [(ngModel)]="cs.assertionScript"></textarea>
      </div>
    </div>
    <div *ngIf="cs.type === csType.ASSERTION">
      <div class="form-group">
        <label for="free" class="form-label-lg"> Description </label><br>
        <div style="padding: 10px; background-color: #f7f7f7; border: 1px solid #e7e7e7; border-radius: 3px;">
          <span>{{cs.assertion.description}}</span>
        </div>
      </div>
    </div>

    <div *ngIf="activeTab === tabType.SIMPLE">
      <app-cs-proposition
        [resource]="resource"
        [repository]="repository"
        [type]="'STATEMENT'"
        [(value)]="cs.assertion"
        (valueChange)="change()"
      ></app-cs-proposition>
    </div>
    <div *ngIf="activeTab === tabType.CONDITIONAL">
      <app-cs-proposition
        [resource]="resource"
        [repository]="repository"
        [type]="'PROPOSITION'"
        [(value)]="cs.assertion.ifAssertion"
        [collapsed]="true"
        (valueChange)="change()"
      ></app-cs-proposition>
      <app-cs-proposition
        [resource]="resource"
        [repository]="repository"
        [type]="'STATEMENT'"
        [(value)]="cs.assertion.thenAssertion"
        [collapsed]="true"
        (valueChange)="change()"
      ></app-cs-proposition>
    </div>
    <div *ngIf="activeTab === tabType.COMPLEX">
      <div class="form-group">
        <label for="free" class="form-label-lg"> Assertion Pattern </label>
        <span *ngIf="pattern" style="margin-left: 5px;" [innerHTML]="html(pattern.assertion.write())"></span>
        <button class="btn btn-primary" (click)="edit()" style="margin-left: 10px;" (click)="openPatternDialog()">
          <i class="fa fa-pencil"></i>
        </button>
      </div>
      <mat-dialog-content>
        <ng-container *ngIf="pattern" >
          <table *ngFor="let leaf of pattern.leafs" class="table table-bordered table-sm">
            <tr>
              <td><strong [ngStyle]="{ color : leaf.data.color}">{{ leaf.name() }}</strong></td>
            </tr>
            <tr>
              <app-cs-proposition
              [resource]="resource"
              [repository]="repository"
              [type]="leaf.data.branch === 'D' ? 'STATEMENT' : 'PROPOSITION'"
              [(value)]="leaf.payload"
              [collapsed]="true"
              (valueChange)="change()"
              ></app-cs-proposition>
            </tr>
          </table>
        </ng-container>
      </mat-dialog-content>
    </div>
    <div>
      <button class="btn btn-success" (click)="edit()" >
        Edit
      </button>
    </div>
  </form>
