<ng-template #headerControls>
  <button class="btn btn-success btn-sm" (click)="addItems()" *ngIf="!(viewOnly$ | async)">
    <i class="fa fa-plus"></i> Add Slicing
  </button>
</ng-template>


<ng-container *ngIf="resourceSubject| async as slicings">
  <div *ngFor="let slice of slicings">
    <ng-container *ngIf="nodes && datatypes$ | async">
    <app-slicing-row  [sliceParams] = "{sliceRow: slice, nodes: nodes, resources: datatypes$ | async}" ></app-slicing-row>
    </ng-container>
  </div>
</ng-container>
