@import '../../../../../assets/variables';


.wrapper {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: [page-content] 1fr;
  grid-template-rows: [alerts] minmax(min-content,max-content) [row-titlebar] 50px [row-container] auto;
  overflow: hidden;
  color: #444;
  height: 100%;
  background-color: #d6d6d6e3;
}

.alerts {
  grid-column: page-content;
  grid-row: alerts;
}

.titlebar {
  grid-column: page-content;
  grid-row: row-titlebar;
  padding: 5px;
  background-color: white;
  align-items: center;
  justify-items: center;
  display: flex;
}

.page-container {
  grid-column: page-content;
  grid-row: row-container;
  display: grid;
  grid-gap: 2px;
  color: #444;
  overflow: hidden;
  background-color: #d6d6d6e3;
  grid-template-columns: [sidebar] 2fr [container] 8fr;
  grid-template-rows: [page-container-row] auto;

}

.container-section {
  grid-column: container;
  grid-row: page-container-row;
  background-color: white;
  display: grid;
  grid-gap: 2px;
  color: #444;
  overflow: hidden;
  background-color: #d6d6d6e3;
  grid-template-columns: 1fr;
  grid-template-rows: [toolbar] 50px  [titlebar] 50px [page-container-content] auto;
}

.sidebar {
  grid-column: sidebar;
  grid-row: page-container-row;
  background-color: #d6d6d6e3;
  overflow: hidden;

}

.titlebar-content {
  grid-column: 1;
  grid-row: titlebar;
  padding: 5px;
  background-color: white;
  align-items: center;
  justify-items: center;
  display: flex;
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  z-index: 1;
}

.toolbar-controls {
  grid-column: 1;
  grid-row: toolbar;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
  align-items: center;
}

.container-content {
  grid-column: 1 ;
  grid-row: page-container-content;
  display: grid;
  grid-gap: 2px;
  overflow: scroll;
  background-color: white;
  padding: 10px;
}
