<p-tree [style]="{'width':'100%'}" [value]="_tree" (onNodeSelect)="selected($event)" [(selection)]="selectedNode" selectionMode="single" >

  <ng-template let-node pTemplate="default">

    <display-badge [type]="node.data.type"></display-badge>
    <span *ngIf="node.data.type !== 'FIELD'">
      {{node.data.position}}. {{'['+node.data.usage+']'}} {{node.data.name}}
    </span>
    <span *ngIf="node.data.type === 'FIELD'">
      {{node.data.position}}. {{'['+node.data.min+'..'+node.data.max+','+node.data.usage+']'}} {{node.data.name}}
    </span>

  </ng-template>

  <ng-template let-node pTemplate="root">
    <ng-container>
      <display-badge [type]="node.data.type"></display-badge>
      {{node.label}}
    </ng-container>
  </ng-template>
</p-tree>
