<ng-template #headerControls>
  <button class="btn btn-success btn-sm" (click)="addItems()" *ngIf="!(viewOnly$ | async)">
    <i class="fa fa-plus"></i> Add Items
  </button>
</ng-template>

<app-profile-component-structure-tree
  *ngIf="structureValue$ | async as value"
  [columns]="columns"
  [value]="value"
  [tree]="profileComponentItemService.nodes$ | async"
  [nodes]="profileComponentItemService.itemList$ | async"
  [resource]="resource$ | async"
  [documentRef]="documentRef$ | async"
  [derived]="derived$ | async"
  [datatypes]="datatypes | async"
  [segments]="segments | async"
  [valueSets]="valueSets | async"
  [repository]="repository"
  [viewOnly]="true"
  (changes)="changeItemProperty($event)"
  (removeItem)="removeItem($event)"
  [config]="config | async"
  [bindingConfig]= "bindingConfig | async"
  [username]="username | async">
</app-profile-component-structure-tree>
