<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content style="height: 500px;">
  <ng-container [ngSwitch]="data.type">

    <ng-container *ngSwitchCase="'EVENTS'">
      <app-select-messages #child (messages)="selected($event)"
                           (selected)="data.versionAndScopeChange($event.version, $event.scope)"
                           [selectedScope]="data.scope"
                           [existing]="data.existing"
                           [hl7Versions]="data.hl7Versions" [selectedVersion]="data.version"
                           [table]="data.data | async"></app-select-messages>
    </ng-container>
    <ng-container *ngSwitchCase="'SEGMENT'">
      <app-select-segments #child (added)="selected($event)"
                           (selected)="data.versionAndScopeChange($event.version, $event.scope)"
                           [selectedScope]="data.scope"
                           [existing]="data.existing"
                           [documentType]="data.documentType"
                           [master]="data.master"
                           [hl7Versions]="data.hl7Versions" [selectedVersion]="data.version"
                           [table]="data.data | async "></app-select-segments>
    </ng-container>
    <ng-container *ngSwitchCase="'VALUESET'">
      <app-select-value-sets #child (added)="selected($event)"
                             (selected)="data.versionChange($event)"
                             [existing]="data.existing"
                             [hl7Versions]="data.hl7Versions"
                             [selectedVersion]="data.version" [table]="data.data | async " [scope]="data.scope"></app-select-value-sets>
    </ng-container>
    <ng-container *ngSwitchCase="'DATATYPE'">
      <app-select-datatypes #child (added)="selected($event)"
                            (selected)="data.versionChange($event)"
                            [existing]="data.existing" [hl7Versions]="data.hl7Versions"
                            [documentType]="data.documentType"
                            [master]="data.master" [hideFlavor]="data.hideFlavor" [hideAsIs]="data.hideAsIs"
                            [selectedVersion]="data.version" [table]="data.data | async " [scope]="data.scope"></app-select-datatypes>
    </ng-container>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button (click)="cancel()" class="btn btn-sm btn-danger" style="margin-right: 5px;">Cancel</button>
  <button (click)="submit()" [disabled]="!isValid()" class="btn btn-sm btn-success">Submit</button>
</mat-dialog-actions>

