@import '../../../../../assets/variables';

:host {
  display: contents;
}

.ig-list-layout {
  display: grid;
  grid-template-areas: 'search-bar' 'ig-list';
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content) 70px 60px auto;
  height: 100%;
}


.search-bar {
  grid-area: search-bar;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.ig-list {
  grid-area: ig-list;
  margin-top: 15px;
  padding-top: 10px;
  height: 100%;
  overflow: scroll;
  border-top: 1px solid #c4cbd4;
  padding-bottom: 55px;
}

.spacer {
  margin-top: 5px;
  margin-bottom: 5px;
}
