<span [contextMenu]="elmCtxMenu">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <div style="display: flex; align-items: center;">
      <app-entity-bagde [type]="type" ></app-entity-bagde>
      <span style="margin-left: 5px;"> {{position}}. </span>

      <!-- EDIT FIELD -->
      <div class="input-group" *ngIf="editMode">
        <input [ngModelOptions]="{updateOn: 'blur'}" type="text" class="form-control" placeholder="value" [(ngModel)]="tmp">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="setValue()"><i class="fa fa-check" style="color: green;"></i></button>
          <button class="btn btn-outline-secondary" type="button" (click)="toggleEdit()"><i class="fa fa-times" style="color: red;"></i></button>
        </div>
      </div>

      <span *ngIf="!editMode" style="margin-left: 5px;"> {{nname}}</span>
    </div>

    <div>
      <button class="btn btn-sm btn-primary" style="margin-left: 20px;" *ngIf="!viewOnly && (type === 'FIELD' || type === 'GROUP') && !editMode" (click)="toggleEdit()"><i class="fa fa-pencil"></i></button>
      <!-- DELETE -->
      <button *ngIf="!viewOnly && !editMode && !required" class="btn btn-sm btn-danger" (click)="btnRemove()" style="margin-left: 5px;">
        <i class="fa fa-trash"></i>
      </button>
    </div>

  </div>
</span>

<!-- CONTEXT MENU -->
<context-menu #elmCtxMenu [disabled]="extendable">
  <ng-template (execute)="ctxAddSegment()" contextMenuItem>
    <i class="fa fa-plus"></i> Add Segment
  </ng-template>
  <ng-template (execute)="ctxAddGroup()" contextMenuItem>
    <i class="fa fa-plus"></i> Add Group
  </ng-template>
</context-menu>

