.custom-switch {
  padding-left: 2.25rem;
  padding-bottom: 1rem; // added for positioning
  position: relative;
  width: 300px;
}

.off-label {
    padding-top: 0.4rem;
    left: 4rem;
    padding-bottom: 0.1rem;
    position: absolute;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control-label {
  // added for alignment with the switch
  padding-top: 0.4rem;
  padding-left: 2rem;
  padding-bottom: 0.1rem;
}

.custom-switch .custom-control-label::before {
  left: -2.25rem;
  height: 1.7rem;
  width: 3.5rem; // it was 1.75rem before. Sliding way is longer than before.
  pointer-events: all;
  border-radius: 1rem;
}

.custom-switch .custom-control-label::after {
  top: calc(0.25rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(2rem - 4px); // it was calc(1rem - 4px) before. Oval is bigger than before.
  height: calc(1.7rem - 4px); // it was calc(1rem - 4px) before. Oval is bigger than before.
  background-color: #adb5bd;
  border-radius: 2rem; //   it was 0.5rem before. Oval is bigger than before.
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .custom-switch .custom-control-label::after {
    transition: none;
  }
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  -webkit-transform: translateX(1.5rem); //translateX(0.75rem);
  transform: translateX(1.5rem); //translateX(0.75rem);
}
.p-grid {
  text-align: center;
}
.color-container {
  display: flex;
  flex-direction: row;
}
.color-value {
  padding-left: 15px;
}
.selected-color {
  margin: 5px auto !important;
}
.color-label {
  padding-top: 17px;
  padding-left: 15px;
  width: 100px;
}

.circle {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 1px solid #dadada;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  flex: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.colors-container {
  width: 90%;
  margin: auto;
}
.colors {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}

.color-line {
  display: flex;
  margin: auto;
}
.hex-code {
  display: flex;
  margin-top: 20px;
}

.hex-code p {
  width: 50%;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 45px;
}

.g-input {
  border: 1px solid #e8ebed;
  height: 45px;
  border-radius: 5px;
  width: 120px;
}

.hex-code .g-input input {
  border: none;
  width: 100%;
  margin-top: 14px;
  text-transform: uppercase;
  padding: 0 25px;
  outline: none;
  text-align: center;
  letter-spacing: 1.5px;
  color: #595b65;
  box-sizing: border-box;
}

.colors-table {
  width: 100%;
}

.triangle-color {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;;
  border-color: transparent transparent #ffffff transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #ffffff #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  margin: auto;
}

