<div id="toc-container" class="toc-container">
  <span routerLink="metadata" routerLinkActive="active-node" style="cursor: pointer">&emsp; Implementation Guide Document Metadata</span>
  <tree-root #treeroot [nodes]="nodes" [options]="options">
    <ng-template #treeNodeTemplate let-index="index" let-node>
      <ng-container [ngSwitch]="node.data.type">

        <ng-container *ngSwitchCase="'TEXT'">
          <span [contextMenu]="textContextMenu" [routerLink]="getElementUrl(node.data)" routerLinkActive="active-node"> {{node.data.path}} {{node.data.variableName}}</span>
          <context-menu #textContextMenu>
            <ng-template (execute)="addSectionToNode(node)" contextMenuItem>
              <i class="fa fa-plus"></i> Add Section
            </ng-template>
            <ng-template (execute)="copySection(node)" contextMenuItem>
              <i class="fa fa-copy"></i> Copy Section
            </ng-template>
            <ng-template (execute)="deleteSection(node)" contextMenuItem>
              <i class="fa fa-remove"></i> Delete Section
            </ng-template>
          </context-menu>
        </ng-container>

        <ng-container *ngSwitchCase="'PROFILE'">
          <span (click)="print()"> {{node.data.path}} {{node.data.variableName}}</span>
        </ng-container>

        <ng-container *ngSwitchCase="'PROFILECOMPONENTREGISTRY'">
          <span> {{node.data.path}} {{node.data.variableName}}</span>
        </ng-container>

        <ng-container *ngSwitchCase="'CONFORMANCEPROFILEREGISTRY'">
          <div #cpLib>
            <span [contextMenu]="conformanceProfilesContextMenu"> {{node.data.path}} {{node.data.variableName}}</span>
            <context-menu #conformanceProfilesContextMenu>
              <ng-template (execute)="import(node.data, 'EVENTS', 'HL7STANDARD')" contextMenuItem>
                <i class="fa fa-plus"></i>Add Conformance Profiles
              </ng-template>
            </context-menu>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'COMPOSITEPROFILEREGISTRY'">
          <div #compositePLib>
            <span> {{node.data.path}} {{node.data.variableName}}</span>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'DATATYPEREGISTRY'">
          <div #dtLib>
            <span [contextMenu]="addDatatypeContextMenu"> {{node.data.path}} {{node.data.variableName}}</span>
            <context-menu #addDatatypeContextMenu>
              <ng-template (execute)="import(node.data, 'DATATYPE', 'HL7STANDARD')" contextMenuItem>
                <i class="fa fa-plus"></i> Add HL7 Data Types
              </ng-template>
            </context-menu>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'VALUESETREGISTRY'">
          <div #vsLib>
            <span [contextMenu]="valueSetsContextMenu"> {{node.data.path}} {{node.data.variableName}}</span>
            <context-menu #valueSetsContextMenu>
              <ng-template (execute)="import(node.data, 'VALUESET', 'HL7STANDARD')" contextMenuItem>
                <i class="fa fa-plus"></i> Add Hl7 Value Sets
              </ng-template>
            </context-menu>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'SEGMENTREGISTRY'">
          <div #segLib>
            <span [contextMenu]="segmentsContextMenu"> {{node.data.path}} {{node.data.variableName}}</span>
            <context-menu #segmentsContextMenu>
              <ng-template (execute)="import(node.data, 'SEGMENT', 'HL7STANDARD')" contextMenuItem>
                <i class="fa fa-plus"></i> Add HL7 Segments
              </ng-template>
            </context-menu>

          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'DATATYPE'">
          <app-display-section [contextMenu]="datatypeContextMenu" #rla="routerLinkActive" [element]="node.data"
                               [routerLink]="getElementUrl(node.data)" routerLinkActive="active-node"></app-display-section>
          <context-menu #datatypeContextMenu>
            <ng-template (execute)="copyResource(node)" contextMenuItem>
              <i class="fa fa-copy"></i> Create Flavor
            </ng-template>
            <ng-template (execute)="deleteResource(node)" contextMenuItem>
              <i class="fa fa-remove"></i> Delete
            </ng-template>
          </context-menu>
          <app-toc-sub-menu [element]="node.data" *ngIf="rla.isActive"></app-toc-sub-menu>
        </ng-container>

        <ng-container *ngSwitchCase="'CONFORMANCEPROFILE'">
          <app-display-section [contextMenu]="conformanceProfileContextMenu" [element]="node.data" #rla="routerLinkActive"
                               [routerLink]="getElementUrl(node.data)" routerLinkActive="active-node"></app-display-section>
          <context-menu #conformanceProfileContextMenu>
            <ng-template (execute)="copyResource(node)" contextMenuItem>
              <i class="fa fa-copy"></i> Create Flavor
            </ng-template>
            <ng-template (execute)="deleteResource(node)" contextMenuItem>
              <i class="fa fa-remove"></i> Delete
            </ng-template>
          </context-menu>
          <app-toc-sub-menu [element]="node.data" *ngIf="rla.isActive"></app-toc-sub-menu>
        </ng-container>

        <ng-container *ngSwitchCase="'COMPOSITEPROFILE'">
          <span>{{node.variableName}}</span>
        </ng-container>

        <ng-container *ngSwitchCase="'SEGMENT'">
          <app-display-section  [contextMenu]='segmentContextMenu' [element]="node.data" #rla="routerLinkActive"
                               [routerLink]="getElementUrl(node.data)" routerLinkActive="active-node"></app-display-section>
          <context-menu #segmentContextMenu>
            <ng-template (execute)="copyResource(node)" contextMenuItem>
              <i class="fa fa-copy"></i> Create Flavor
            </ng-template>
            <ng-template (execute)="deleteResource(node)" contextMenuItem>
              <i class="fa fa-remove"></i> Delete
            </ng-template>
          </context-menu>
          <app-toc-sub-menu [element]="node.data" *ngIf="rla.isActive"></app-toc-sub-menu>
        </ng-container>

        <ng-container *ngSwitchCase="'VALUESET'">
          <app-display-section  [contextMenu]='valueSetContextMenu' [element]="node.data" #rla="routerLinkActive"
                               [routerLink]="getElementUrl(node.data)" routerLinkActive="active-node"></app-display-section>
          <context-menu #valueSetContextMenu>
            <ng-template (execute)="copyResource(node)" contextMenuItem>
              <i class="fa fa-copy"></i> Create Flavor
            </ng-template>
            <ng-template (execute)="deleteResource(node)" contextMenuItem>
              <i class="fa fa-remove"></i> Delete
            </ng-template>
          </context-menu>
          <app-toc-sub-menu [element]="node.data" *ngIf="rla.isActive"></app-toc-sub-menu>
        </ng-container>

        <ng-container *ngSwitchCase="'PROFILECOMPONENT'">
        </ng-container>

      </ng-container>
    </ng-template>

  </tree-root>
</div>
