<div style="display: flex; flex-direction: row; justify-content: flex-end; width: 100%; margin-bottom: 5px;" *ngIf="derived$ | async">
<!--  <button (click)="viewReasons()" class="btn btn-info"><i class="fa fa-eye"></i> Reason For changes</button>-->
  <button class="btn btn-sm btn-i" (click)="viewReasons()">
    <i class="fa fa-info"></i> Reason For changes
  </button>
</div>
<app-value-set-structure [valueSet]="resource$ |async" [viewOnly]="viewOnly$ | async" (changes)="change($event)" [cols]="cols" [codeSystemOptions]="codeSystemOptions" [selectedColumns]="selectedColumns"></app-value-set-structure>
