<ng-container *ngIf="val && val.confLength" [ngSwitch]="viewOnly">
  <ng-container *ngSwitchCase="false">
    <div class="tt-cell">
      <input class="range-input" type="text" [name]="location + 'conf-length'" [id]="location + 'conf-length'" placeholder="Conf Length" [(ngModel)]="val.confLength" (ngModelChange)="confLengthChange($event)">
      <button class="btn btn-sm btn-danger" (click)="clear()" style="margin-right: 5px;">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="true">
    <strong *ngSwitchCase="true">{{ val.confLength }}</strong>
  </ng-container>
</ng-container>
