<div class="sidebar-header" style="text-align: center;">
  <div class="filter">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-filter"></i></span>
      </div>
      <input type="text" style="background-color: #f0f0f0; text-align: center;" class="form-control"
        id="validationServerUsername" placeholder="Filter" required (keyup)="filterFn($event.target.value)">

    </div>
  </div>
  <div>
    <div class="btn-group mr-2" role="group">
      <button type="button" class="btn btn-text entity-badge-conformance-profile" (click)="scrollTo('messages')">
        CP
      </button>
      <button type="button" class="btn btn-text entity-badge-segment" (click)="scrollTo('segments')" >
        S
      </button>
      <button type="button" class="btn btn-text entity-badge-datatype" (click)="scrollTo('datatypes')">
        DT
      </button>
      <button type="button" class="btn btn-text  entity-badge-valueset" (click)="scrollTo('valueSets')">
        VS
      </button>
    </div>
    <!-- <div>
      <app-entity-bagde [type]="'CONFORMANCEPROFILE'"></app-entity-bagde>
      <app-entity-bagde [type]="'SEGMENT'"></app-entity-bagde>
    </div>
    <div>
      <app-entity-bagde [type]="'DATATYPE'"></app-entity-bagde>
      <app-entity-bagde [type]="'VALUESET'"></app-entity-bagde>
    </div> -->
  </div>
</div>
<div class="sidebar-content" id="sidebar-content">
<app-ig-toc [nodes]="nodes$ | async" (nodes_state)="update($event)"></app-ig-toc>
</div>
