<div class="sidebar-controls">
  <app-dam-side-bar-toggle></app-dam-side-bar-toggle>
  <div class="btn-group mr-2" role="group" style="margin-left: 10px;">

    <button style="width: 30px;" [ngbPopover]="popContent" container="body" closeDelay="3000" triggers="mouseenter:mouseleave"  class="btn btn-text btn-sm btn-dark" type="button">
      <i class="fa fa-bolt"></i>
    </button>
    <button (click)="findScroll()" class="btn btn-text btn-sm btn-primary" type="button">
      <i class="fa fa-bullseye"></i>
    </button>
    <ng-template #popContent>
      <div class="btn-group mr-2">
        <button (click)="scrollTo('profilecomponents')" class="btn btn-text btn-sm entity-badge-profile-component" type="button">
          PC
        </button>
        <button (click)="scrollTo('composites')" class="btn btn-text btn-sm btn-w-icon entity-badge-composite-profile" type="button">
          <i class="fa fa-sitemap entity-badge-composite-profile-icon" style="margin-right: 5px;"></i>
          CP
        </button>
        <button (click)="scrollTo('messages')" class="btn btn-text btn-sm entity-badge-conformance-profile" type="button">
          CP
        </button>
        <button (click)="scrollTo('segments')" class="btn btn-text btn-sm entity-badge-segment" type="button">
          S
        </button>
        <button (click)="scrollTo('datatypes')" class="btn btn-text btn-sm entity-badge-datatype" type="button">
          DT
        </button>
        <button (click)="scrollTo('coConstraintGroups')" class="btn btn-text btn-sm entity-badge-co-constraint-group" type="button">
          CCG
        </button>
        <button (click)="scrollTo('valueSets')" class="btn btn-text btn-sm entity-badge-valueset" type="button">
          VS
        </button>
      </div>
    </ng-template>
    <button  class="btn btn-text btn-sm btn-primary" (click)="expandAll()">
      <i class="fa fa-expand"></i>
    </button>
    <button  class="btn btn-text btn-sm btn-primary"  (click)="collapseAll()">
      <i class="fa fa-compress"></i>
    </button>
    <button  class="btn btn-text btn-sm btn-primary" type="button" [disabled]="viewOnly$ | async" (click)="addSection()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>


<div class="sidebar-filter">
  <div class="differential" *ngIf="derived">
    <div class="differential-label">
      <div class="custom-control custom-switch diff-view">
        <input [(ngModel)]="delta" class="custom-control-input" id="deltaSwitch" type="checkbox" (ngModelChange)="toggleDelta()">
        <label class="custom-control-label" for="deltaSwitch">Differential view </label>
      </div>
    </div>

    <div *ngIf="delta" style="display: flex; flex-direction: row; width: 100%; height: 30px;">
        <span class="badge delta-badge-changed delta-badge"> <p-checkbox name="delta-display" value="UPDATED" (ngModelChange)="filterByDelta($event)" [(ngModel)]="selectedValues"></p-checkbox> updated</span>
        <span class="badge delta-badge-deleted delta-badge">   <p-checkbox name="delta-display" value="DELETED" (ngModelChange)="filterByDelta($event)" [(ngModel)]="selectedValues"></p-checkbox> deleted</span>
        <span class="badge delta-badge-added delta-badge"> <p-checkbox name="delta-display" value="ADDED"   (ngModelChange)="filterByDelta($event)" [(ngModel)]="selectedValues"></p-checkbox> added </span>
        <span class="badge delta-badge">  <p-checkbox name="delta-display" value="UNCHANGED" (ngModelChange)="filterByDelta($event)" [(ngModel)]="selectedValues"> </p-checkbox> unchanged</span>
    </div>
    <div *ngIf="delta" style="height: 25px; padding: 5px; display: flex; flex-direction: row; justify-content: center; align-items: center;">
      <i class="fa fa-eye"></i>
      <span style="margin-left: 10px;">View Only</span>
    </div>
  </div>
  <div style="width: 100%; display: flex;">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-search"></i></span>
      </div>
      <input (keyup)="filterFn($event.target.value)" class="form-control" id="validationServerUsername"
              placeholder="Search" required style="background-color: #f0f0f0;" type="text">
    </div>
    <app-ig-toc-filter (update)="updateTocFilter($event)" [conformanceProfiles]="conformanceProfiles$ | async" [config]="config$ | async"></app-ig-toc-filter>
  </div>

</div>


<div class="sidebar-content" id="sidebar-content">
  <app-ig-toc (nodeState)="update($event)" [nodes]="nodes$ | async" (addChildren)="addChildren($event)" (addCustom)="addStructure($event)" (addChild)="addChild($event)" (copy)="copy($event)" (delete)="delete($event)" (addVSFromCSV)="addVSFromCSV($event)"  [delta]="deltaMode$ | async" [viewOnly]="viewOnly$ | async" (deleteNarrative)="checkDeleteNarrative($event)" (addPcChildren)="onAddPcChildren($event)" (deleteContext)="deleteOneChild($event)" [ig]="ig$ | async"></app-ig-toc>
</div>
