@import '../../../../../assets/variables';

:host {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: [sidebar-content] auto;
  grid-template-rows: [sidebar-controls] 40px [sidebar-delta-filter] minmax(40px, max-content) [sidebar-content-row] auto;
  overflow: hidden;
}

.differential {
  width: 100%;
  border-bottom: 2px solid lightgray;
}

.differential-label {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-filter {
  grid-column: sidebar-content;
  grid-row: sidebar-delta-filter;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  z-index: 1;
}

.sidebar-controls {
  grid-column: sidebar-content;
  grid-row: sidebar-controls;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.sidebar-content {
  grid-column: sidebar-content;
  grid-row: sidebar-content-row;
  background-color: #f7f7f7;
  overflow: scroll;
  padding: 10px;
}

.btn-text {
  color: white;
  border: 1px solid #e3e3e3;
  font-weight: bold;
}

.diff-view {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.btn-w-icon {
  display: flex;
  align-items: center;
}
