<div class="btn-group btn-group-toggle border-gray" name="radioBasic" ngbRadioGroup style="border-radius: 5px;">
  <label class="btn-light no-focus" ngbButtonLabel>
  <input [queryParams]="{ type : 'USER' }" [routerLink]="[ '.' ]" ngbButton type="radio" value="USER">
  Item View
  </label>
  <label class="btn-light no-focus" ngbButtonLabel>
  <input [queryParams]="{ type : 'PUBLISHED' }" [routerLink]="[ '.' ]" ngbButton type="radio" value="PUBLISHED">
  Tree View
  </label>
</div>

<div>
  <p-treeTable [value]="nodes" [columns]="selectedColumns" [reorderableColumns]="true" [resizableColumns]="true" [rowTrackBy]="trackBy">
    <ng-template pTemplate="caption">
      <div style="display: flex; justify-content: flex-start; align-items: flex-start;">
        <p-multiSelect
          [options]="cols"
          [(ngModel)]="selectedColumns"
          optionLabel="header"
          selectedItemsLabel="{0} columns selected"
          [style]="{minWidth: '200px'}"
          defaultLabel="Choose Columns">
        </p-multiSelect>
      </div>

    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
          <th *ngSwitchCase="columnTypes.PATH" style="width: 80px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.NAME" style="width: 380px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.USAGE" style="width: 330px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.DATATYPE" style="width: 240px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.SEGMENT" style="width: 250px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.VALUESET" style="width: 250px;" ttReorderableColumn ttResizableColumn>
            <div style="display: flex; align-items: center; width: 100%;">
              <div class="binding-vs" style="margin-right: 5px; width: 10px; border: 1px solid darkgray; height: 21px;"></div> Value Set or
              <div class="binding-sg" style="margin-right: 5px; margin-left: 5px; width: 10px; border: 1px solid darkgray; height: 21px;"></div> Single Code
            </div>
          </th>
          <th *ngSwitchCase="columnTypes.CONSTANTVALUE" style="width: 180px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.CARDINALITY" style="width: 178px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.LENGTH" style="width: 205px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.CONFLENGTH" style="width: 185px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.COMMENT" style="width: 340px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.TEXT" style="width: 135px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchDefault ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData="rowData" let-rowNode let-columns="columns">
      <tr>
        <td  [ngSwitch]="col.field"  *ngFor="let col of columns; let i = index" [ngClass]="{ 'inactive' : !columnActive(col.field, rowData.pathId) }" #anchor>
          <ng-container *ngSwitchCase="columnTypes.PATH">
            <div style="display: flex; justify-content: flex-start; align-items: center;">
              <button *ngIf="!viewOnly" class="btn btn-sm btn-danger profile-component-cell-btn" style="background-color: red !important; margin-right: 5px;" (click)="clear(rowData.pathId)">
                <i class="fa fa-trash"></i>
              </button>
              {{rowData.location.positionalPath}}
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.NAME">
            <tbody>
              <tr>
                <td style="width: 30px;">
                  <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler>
                </td>
                <td style="white-space: normal;">
                  <app-pp-name
              [globalViewOnly]="viewOnly"
              [location]="rowData.pathId"
              [position]="rowData.position"
              [level]="rowData.level"
              [value]="rowData.location"
              [context]="type"
              [items]="itemsList.value[rowData.pathId]">
            </app-pp-name>
                </td>
              </tr>
            </tbody>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.USAGE">
            <app-pp-usage
              [globalViewOnly]="viewOnly"
              [location]="rowData.pathId"
              [position]="rowData.position"
              [level]="rowData.level"
              [context]="type"
              [resource]="resource"
              [repository]="repository"
              [payload]="{
                usage: rowData.usage,
                predicates: rowData.bindings?.values?.predicate
              }"
              [usages]="{
                original : rowData.oldUsage,
                config: config
              }"
              [tree]="tree"
              [elementId]="rowData.id"
              [type]="rowData.type"
              [items]="itemsList.value[rowData.pathId]"
              [anchor]="anchor"
              (valueChange)="changeItem($event)">
            </app-pp-usage>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.CARDINALITY">
            <app-pp-cardinality
              [globalViewOnly]="viewOnly"
              [location]="rowData.pathId"
              [position]="rowData.position"
              [level]="rowData.level"
              [context]="type"
              [value]="rowData.cardinality"
              [items]="itemsList.value[rowData.pathId]"
              (valueChange)="changeItem($event)">
            </app-pp-cardinality>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.LENGTH">
            <app-pp-length
              *ngIf="rowNode.node.leaf"
              [globalViewOnly]="viewOnly"
              [location]="rowData.pathId"
              [position]="rowData.position"
              [level]="rowData.level"
              [value]="{
                length: rowData.length,
                lengthType: rowData.lengthType
              }"
              [items]="itemsList.value[rowData.pathId]"
              [context]="type"
              (valueChange)="changeItem($event)">
            </app-pp-length>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.CONFLENGTH">
            <app-pp-conf-length
              *ngIf="rowNode.node.leaf"
              [globalViewOnly]="viewOnly"
              [location]="rowData.pathId"
              [position]="rowData.position"
              [level]="rowData.level"
              [value]="{
                confLength: rowData.confLength,
                lengthType: rowData.lengthType
              }"
              [items]="itemsList.value[rowData.pathId]"
              [context]="type"
              (valueChange)="changeItem($event)">
            </app-pp-conf-length>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.DATATYPE">
            <ng-container *ngIf="rowNode.node.$hl7V2TreeHelpers.ref$ | async as reference">
              <app-pp-datatype
                [globalViewOnly]="viewOnly"
                [location]="rowData.pathId"
                [position]="rowData.position"
                [level]="rowData.level"
                [value]="reference"
                [items]="itemsList.value[rowData.pathId]"
                [context]="type"
                (valueChange)="changeItem($event)"
                *ngIf="reference.type === types.DATATYPE"
                [options]="datatypes"
                [anchor]="anchor"
              ></app-pp-datatype>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.SEGMENT">

          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.VALUESET">
            <app-pp-valueset
              [globalViewOnly]="viewOnly"
              [location]="rowData.pathId"
              [position]="rowData.position"
              [level]="rowData.level"
              [context]="type"
              [valueSets]="valueSets"
              [resource]="resource"
              [tree]="tree"
              [repository]="repository"
              [bindingInfo]= "rowData.valueSetBindingsInfo | async"
              [payload]="{
                valueSetBindings: rowData.bindings?.values?.valuesetBindings,
                singleCodeBindings: rowData.bindings?.values?.internalSingleCode
              }"
              [elementId]="rowData.id"
              [type]="rowData.type"
              [items]="itemsList.value[rowData.pathId]"
              [anchor]="anchor"
              (valueChange)="changeItem($event)">
            </app-pp-valueset>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.CONSTANTVALUE">
            <app-pp-constant-value
              [globalViewOnly]="viewOnly"
              [location]="rowData.pathId"
              [position]="rowData.position"
              [level]="rowData.level"
              [context]="type"
              [value]="rowData.constantValue"
              [items]="itemsList.value[rowData.pathId]"
              *ngIf="rowNode.node.leaf"
              (valueChange)="changeItem($event)">
            </app-pp-constant-value>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
