<h3 mat-dialog-title>Group Value Set</h3>

<div mat-dialog-content>
  <ng-container *ngIf="custom">
   
    <div style="height: 100%; width: 100%;" >
        <div style="display: flex;  flex-direction: row; justify-content: flex-end; margin-bottom: 5px;">
            <button class="btn btn-sm btn-info" (click)="redistribute()" style="float:right;"> Re-distribute </button>
        </div>
<div>
    
<table *ngIf="showTypeGroupTable" class="table table-bordered table-sm">
  <tbody>
    <tr>
      <td style="font-weight: bold; vertical-align: middle; text-align: center; background-color: #f3f8fc ;">Value Set Type</td>
      <td *ngFor="let type of valueSetTypes"  style="text-align: center;">
        <span class="{{ type.class }} badge">{{ type.label }}</span>
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; vertical-align: middle; text-align: center; background-color: #f3f8fc ;">Assign to Group</td>
      <td *ngFor="let type of valueSetTypes">
        <select [(ngModel)]="typeToGroupMap[type.value]" class="form-control">
          <option [ngValue]="null" disabled> Select Group</option>
          <option *ngFor="let group of groupNames" [value]="group"> {{ group }} </option>
        </select>
      </td>
    </tr>
  </tbody>
</table>


          <hr/>
          </div>

          <div style="display: flex; flex-direction: row; justify-content: flex-end;" class="form-group">
            <input class="form-control"
              type="text"
              style="width: 500px; margin-right: 5px;"
              [(ngModel)]="newGroupName"
              placeholder="Enter group name"
            />
            <button
              class="btn btn-primary btn-sm"
              (click)="addGroup()"
              [disabled]="newGroupName.length < 1">
              <i class="fa fa-plus"></i>
              Add New Group
            </button>
          </div>
    <div class="group-container" cdkDropList [cdkDropListData]="groupNames" (cdkDropListDropped)="dropGroup($event)"   [cdkDropListConnectedTo]="[groupDropListId]"   [id]="groupDropListId">
      <div class="group-column group-drag" *ngFor="let group of groupNames" cdkDrag>
        <div class="group-header" style="display: flex; flex-direction: row; margin-right: 5px; justify-content: space-between;">
            
           <div cdkDragHandle style="margin-right:7px;"><i class="fa fa-bars"></i></div>

          <div *ngIf="editingGroup !== group" style="width: 100%; display: flex; justify-content: space-between; align-items: center; gap:5px">
            <h5 style="word-break: break-word;">
              {{ group }}
            </h5>
            <div style="display: flex; justify-content: flex-end;">

            <button *ngIf="isNotDefault(group)"
              class="btn btn-sm btn-info cs-center"
              (click)="startEditingGroup(group)" style="display: inline-block; margin-right: 8px;">
              <i class="fa fa-pencil"></i>
            </button>

            <button *ngIf="isNotDefault(group)"
            class="btn btn-sm btn-danger cs-center"
            (click)="deleteGroup(group)">
            <i class="fa fa-remove"></i>
            </button>

            </div>

          </div>

          <div *ngIf="editingGroup === group" style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
            <input
              type="text"
              [(ngModel)]="editedGroupName"
              (keyup.enter)="renameGroup(group)"
              (blur)="renameGroup(group)"
              class="form-control form-control-sm"
              placeholder="New Group Name"
            />
            <button
              class="btn btn-sm btn-success"
              [disabled]="!editedGroupName || groupNames.includes(editedGroupName.trim())"
              (click)="renameGroup(group)">
              <i class="fa fa-check"></i>
            </button>
          </div>
        </div>

        <div
          [id]="group"
          cdkDropList
          [cdkDropListData]="groupedData[group]"
          class="drop-list"
          [cdkDropListConnectedTo]="getConnectedDropLists(group)"
          (cdkDropListDropped)="drop($event, group)"
        >
          <div
            class="item"
            *ngFor="let item of groupedData[group]"
            cdkDrag>
            <app-display-section [element]="item" [hideDescription]="true"></app-display-section>
          </div>
        </div>
      </div>
    </div>

    </div>
  </ng-container>

  <ng-container *ngIf="!custom">
    <div style="margin-bottom: 16px; display: flex; justify-content: flex-end;">
      <button (click)="customize()" class="btn btn-secondary">
        <i class="fa fa-pencil"></i> Customize grouping
      </button>
    </div>

    <div class="group-container">
      <div class="group-column" *ngFor="let group of groupNames">
        <div class="group-header">
          <h4>{{ group }}</h4>
        </div>
        <div class="drop-list">
          <div *ngFor="let item of groupedData[group]">
            <app-display-section [element]="item"></app-display-section>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<mat-dialog-actions style="justify-content: flex-end; margin-top: 10px;">
  <button (click)="cancel()" class="btn btn-sm btn-danger" style="margin-right: 5px;"> Cancel </button>
  <button (click)="done()" class="btn btn-sm btn-success"> Done </button>
</mat-dialog-actions>
