<h3 mat-dialog-title>Group Value Set</h3>

<div mat-dialog-content>

    <ng-container *ngIf="custom">
        <div class="form-control">
            <label>Add Group:</label>
            <input type="text" [(ngModel)]="newGroupName" placeholder="Enter group name" />
            <button class="btn btn-primary btn-sm" (click)="addGroup()" [disabled]="newGroupName.length<1">Add New Group</button>
          </div>
          
        
          <div class="group-container">
            <div
              class="group-column"
              *ngFor="let group of groupNames">
          
              <div class="group-header">

                <div *ngIf="editingGroup !== group" style="display: flex; flex-direction: row; justify-content: flex-start;">
                    
                    <h4>{{ group }}</h4>
                    <button class="btn btn-sm btn-info" (click)="startEditingGroup(group)" style="height: 30px; width: 30px;"><i class="fa fa-pencil"></i></button>
                </div>
                <div *ngIf="editingGroup === group">
                    <input type="text"
                           [(ngModel)]="editedGroupName"
                           (keyup.enter)="renameGroup(group)"
                           (blur)="renameGroup(group)"
                           class="form-control form-control-sm"
                           placeholder="New group name" />
                    <button class="btn btn-sm btn-success"
                            [disabled]="!editedGroupName || groupNames.includes(editedGroupName.trim())"
                            (click)="renameGroup(group)"> Save </button>
                    <button class="btn btn-sm btn-secondary" (click)="cancelEditing()">Cancel</button>
                </div>

              </div>
          
              <div
                [id]="group"
                cdkDropList
                [cdkDropListData]="groupedData[group]"
                class="drop-list"
                [cdkDropListConnectedTo]="getConnectedDropLists(group)"
                (cdkDropListDropped)="drop($event, group)">
                
                <div
                  class="item"
                  *ngFor="let item of groupedData[group]"
                  cdkDrag>
                  <app-display-section [element]="item" [hideDescription]="true"></app-display-section>
                </div>
              </div>
            </div>
          </div>



    </ng-container>

    <ng-container *ngIf="!custom">

        <div style="margin-bottom: 16px; display: flex; flex-direction: row; justify-content: flex-end;" >
           <button (click)="customize()"> <i class="fa fa-pencil"></i>Customize grouping</button> 
        </div>
          
        
          <div class="group-container">
            <div
              class="group-column" *ngFor="let group of groupNames">
          
              <div class="group-header">
                <h4>{{ group }}</h4>
              </div>
          
              <div
                [id]="group">
            
                <div
                  *ngFor="let item of groupedData[group]">
                  <app-display-section [element]="item"></app-display-section>
                </div>
              </div>
            </div>
          </div>

    </ng-container>

<mat-dialog-actions style="justify-content: flex-end; margin-top: 10px;">
  <button (click)="cancel()" class="btn btn-sm btn-danger" style="margin-right: 5px;">Cancel</button>
  <button (click)="done()" class="btn btn-sm btn-success">Done</button>
</mat-dialog-actions>




<!-- 
<div mat-dialog-content>


    <div style="margin-bottom: 16px;">
        <label>Add Group:</label>
        <input type="text" [(ngModel)]="newGroupName" placeholder="Enter group name" />
        <button class="btn btn-primary btn-sm" (click)="addGroup()">Add</button>
      </div>
      
    



  <div class="group-container">
    <div
      class="group-column"
      *ngFor="let group of groupNames">

      <h4>{{ group }}  </h4>

      <div
        [id]="group"
        cdkDropList
        [cdkDropListData]="groupedData[group]"
        class="drop-list"
        [cdkDropListConnectedTo]="getConnectedDropLists(group)"
        (cdkDropListDropped)="drop($event, group)">
        
        <div
          class="item"
          *ngFor="let item of groupedData[group]"
          cdkDrag>
          <app-display-section [element]="item"></app-display-section>
        </div>
      </div>
    </div>
  </div>
</div> -->