<app-dam-layout>

  <ng-template #alerts>
    <app-dam-alerts-container></app-dam-alerts-container>
  </ng-template>

  <ng-template #titleBar>
    <div style="padding-left: 10px; display: flex; align-items: center;">
      <h5 class="title-text"> <i class="fa fa-cubes" style="color: purple;"></i> Structure Editor </h5>
    </div>
  </ng-template>

  <ng-template #toolbar>
    <div>
      <app-dam-fullscreen-button></app-dam-fullscreen-button>
    </div>
    <div>
      <app-dam-reset-button></app-dam-reset-button>
      <app-dam-save-button></app-dam-save-button>
    </div>
  </ng-template>

  <ng-template #activeTitleBar *ngIf="hasActive$ | async" >
  </ng-template>

  <ng-template #editorContent>
    <app-dam-editor-outlet></app-dam-editor-outlet>
  </ng-template>

  <ng-template #sideBar>
    <app-side-bar></app-side-bar>
  </ng-template>

</app-dam-layout>
