<div class="landing-body home-container">
  <div class="landing-wrapper">
    <div id="introduction">
      <div class="introduction-content">
        <p class="title">Welcome to IGAMT</p>
        <p class="subtitle">Implementation Guide Authoring and Management Tool</p>
        <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only green-btn">
          <span class="ui-button-text">Sign In</span>
        </button>
        <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only blue-btn">
          <span class="ui-button-text">Create IG Document</span>
        </button>
      </div>
    </div>

    <div id="definition" class="info">
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="info-container">
            <h1 class="info-title">What is IGAMT ?</h1>
            <p></p>
            <div class="info-content">
              <p class="info-text">
                IGAMT is a tool used to create HL7 v2.x implementation guides that contain one or more conformance profiles. The tool provides capabilities to create both narrative text (akin to a word processing program) and messaging requirements in a structured environment. IGAMT contains a model of all the message events for every version of the HL7 v2 standard. Users begin by selecting the version of the HL7 v2 standard and the message events they want to include and refine (constrain) in their implementation guide.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="note-to-testers" class="info">
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="info-container">
            <h1 id="note-to-testers-title" class="info-title">Note to Testers</h1>
            <p></p>
            <div class="info-content">
              <p class="info-text">
              IGAMT is a work-in-progress and is in a constant state of change. Many core features exist and IGAMT has been used to create complete Implementation Guides in pilot projects. However, be aware that new features may not be completely functionality and some existing features will change. Also, we are currently working on integration with the NIST validation tool. If you have issues, please contact us or join the IGAMT Google Group to post questions.</p>
             </div>
          </div>
        </div>
      </div>
    </div>



    <div class="info" id="supported-browsers">
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="info-container">
            <h1 class="info-title">Supported Browsers</h1>
            <p></p>
            <div class="info-content">
              <p style="text-align: justify" class="info-text">
                The following browsers are currently supported: <br />
                Chrome (Recommended)<br />
                Firefox<br />
                Safari
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="questions" class="info">
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="info-container">
            <h1 class="info-title">Have a Question?</h1>
            <p></p>
            <div class="info-content">
              <p  class="info-text">
               A Google Group <a class="point" ng-href="https://groups.google.com/forum/#!forum/nist-igamt"  target="_blank">NIST-IGAMT</a>
                has been established for discussion/questions about the tool. No
                membership is required. A Google account is required for posting. <br/>
              Site: <a class="point" target="_blank" ng-href="https://groups.google.com/forum/#!forum/nist-igamt">https://groups.google.com/forum/#!forum/nist-igamt</a> <br/>
              Email: nist-igamt@googlegroups.com <br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
