<div style="display: flex; justify-content: space-between; align-items: center;">
  <div [ngClass]="{'inactive-cell-dim' : !active }" class="tt-cell" style="display: flex; align-items: center;">

    <ng-container [ngSwitch]="globalViewOnly || !active">
      <ng-container *ngSwitchCase="false" [ngSwitch]="activeLength()">
        <ng-container *ngSwitchCase="true">
          <input style="width: 100%;" class="range-input" type="text" [name]="location + 'conf-length'" [id]="location + 'conf-length'" placeholder="Conf Length" [ngModelOptions]="{updateOn: 'blur'}" [(ngModel)]="val.confLength" (ngModelChange)="confLengthChange($event)">
          <button *ngIf="lenghtIsActive()" class="btn btn-sm btn-danger" (click)="clearType()" style="margin-left: 5px;">
            <i class="fa fa-times"></i>
          </button>
        </ng-container>
        <div *ngSwitchCase="false">
          <ng-container *ngTemplateOutlet="display; context : { $implicit : val, active: false }"></ng-container>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="true">
        <ng-container *ngTemplateOutlet="display; context : { $implicit : val, active: activeLength() }"></ng-container>
      </ng-container>
    </ng-container>

    <ng-template #display let-val let-active="active">
      <strong [ngClass]="{ 'treetable-light': !active }" >{{val.confLength ? val.confLength : 'NA'}}</strong>
    </ng-template>

  </div>
  <button *ngIf="!globalViewOnly && !active" class="btn btn-sm btn-primary profile-component-cell-btn" (click)="activate()">
    <i class="fa fa-plus"></i>
  </button>
  <button *ngIf="!globalViewOnly && active" class="btn btn-sm btn-danger profile-component-cell-btn" style="background-color: red !important; margin-left: 5px;" (click)="clear()">
    <i class="fa fa-trash"></i>
  </button>
</div>
