<div style="display: flex; flex-direction: column; justify-content: space-between; padding: 20px">
<div style="display: flex; flex-direction: row; justify-content: center; width: 100%" >
  <app-display-section [element]="coreProfile"></app-display-section>
</div>
  <div style="display: flex; flex-direction: row; justify-content: center; margin: 10px;">
    <button class="btn-primary" (click)="addPc(0)">
      <i class="fa fa-plus"></i>
    </button>
  </div>

<div cdkDropList class="pc-list" (cdkDropListDropped)="drop($event)" style="margin-bottom: 10px" style="display: flex; flex-direction: column; justify-content: space-between">

  <div *ngFor="let item of pcNodes_ ; let i=index"  class="pc-box" cdkDrag>
    <div style="display: flex; flex-direction: column; justify-content: space-between; cursor: move !important;">
      <div style="display: flex; flex-direction: row; justify-content: center">

    <p-tree [value]="[item]" layout="horizontal">

      <ng-template let-node pTemplate="default">
        <span>
          <app-display-section [element]="node.data" [hideDescription]="true"></app-display-section>
        </span>
      </ng-template>
    </p-tree>
        <div style="display: flex; flex-direction: column; justify-content: center; margin: 10px;">

        <button class="btn btn-sm btn-danger" (click)="delete(i)">
            <i class="fa fa-remove"></i>
          </button>
        </div>
      </div>
    <div *cdkDragPreview>
      <p-tree [value]="[item]" layout="horizontal">

        <ng-template let-node pTemplate="default">
        <span>
          <app-display-section [element]="node.data"></app-display-section>
        </span>
        </ng-template>
      </p-tree>
    </div>
      <div class="pc-placeholder" *cdkDragPlaceholder>
      </div>

    <div style="display: flex; flex-direction: row; justify-content: center; margin: 10px;">
      <button class="btn-primary" (click)="addPc(i+1)">
        <i class="fa fa-plus" ></i>
      </button>
    </div>
    </div>
  </div>
</div>
</div>
