<!-- <p-checkbox binary="true" label="Include Valueset Table Options"></p-checkbox> -->
<div style="width: 100%;">

<p-card header="Usages - Codes to export" [styleClass]="'pcard'">
    <p-checkbox label="R" binary="true" [(ngModel)]="config.codesExport.r" (onChange)="triggerChange()"></p-checkbox><br>
    <p-checkbox label="P" binary="true" [(ngModel)]="config.codesExport.p" (onChange)="triggerChange()"></p-checkbox><br>
    <p-checkbox label="E" binary="true" [(ngModel)]="config.codesExport.e" (onChange)="triggerChange()"></p-checkbox><br>
</p-card>

<p-card header="Metadata" [styleClass]="'pcard'">
    <div class="config-checkbox">
        <p-checkbox
            label="Stability" binary="true" [(ngModel)]="config.stability" (onChange)="triggerChange()"></p-checkbox>
      </div>
      <div class="config-checkbox">
        <p-checkbox
          label="Extensibility" binary="true" [(ngModel)]="config.extensibility" (onChange)="triggerChange()"></p-checkbox>
      </div>
      <div class="config-checkbox">
        <p-checkbox
          label="Content Definition" binary="true" [(ngModel)]="config.contentDefinition" (onChange)="triggerChange()"></p-checkbox>
      </div>
      <div class="config-checkbox">
        <p-checkbox
            label="URL" binary="true" [(ngModel)]="config.url" (onChange)="triggerChange()"></p-checkbox>
      </div>
      <div class="config-checkbox">
        <p-checkbox
          label="Type Internal/External" binary="true" [(ngModel)]="config.vsType" (onChange)="triggerChange()"></p-checkbox>
      </div>
</p-card>


<p-card header="Columns to export for Codes" [styleClass]="'pcard'" *ngIf="displayColumns" >
        <!-- <div class="config-checkbox">
            <p-checkbox label="Name" binary="true"></p-checkbox>
          </div>
          <div class="config-checkbox">
            <p-checkbox label="Conformance Length" binary="true"></p-checkbox>
          </div>
          <div class="config-checkbox">
            <p-checkbox label="Length" binary="true"></p-checkbox>
          </div>
          <div class="config-checkbox">
            <p-checkbox label="Usage" binary="true"></p-checkbox>
          </div>
          <div class="config-checkbox">
            <p-checkbox label="Cardinality" binary="true"></p-checkbox>
          </div>
          <div class="config-checkbox">
            <p-checkbox label="Value Set" binary="true"></p-checkbox>
          </div>
          <div class="config-checkbox">
            <p-checkbox label="Constant Value" binary="true"></p-checkbox>
          </div>
          <div class="config-checkbox">
            <p-checkbox label="Definition Text" binary="true"></p-checkbox>
          </div> -->
          <div  *ngFor="let c of config.columns">

              <div class="config-checkbox">
                  <p-checkbox label= {{c.name}} binary="true" [(ngModel)]="c.present" (onChange)="triggerChange()"></p-checkbox>
                </div>
              

          </div>
    </p-card>


</div>