@import  '../../../../../assets/variables';

.update-password-layout {
  @extend %page-wrapper;
  display: grid;
  grid-template-areas:  'alerts'
                        'update-password';
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content,max-content) auto;
  overflow: scroll;
}
