<h2 mat-dialog-title>Change Reason for {{ caption }}</h2>
<p>Please enter a reason for the following change : </p>
<table class="table table-sm table-bordered table-striped">
  <tr>
    <td>Previous</td>
    <td>
      <ng-container *ngTemplateOutlet="previous.template ? previous.template : defaultTemplate; context: { $implicit : previous.context }"></ng-container>
    </td>
  </tr>
  <tr>
    <td>Current</td>
    <td>
      <ng-container *ngTemplateOutlet="current.template ? current.template : defaultTemplate; context: { $implicit : current.context }"></ng-container>
    </td>
  </tr>
</table>
<div *ngIf="existingChangeReason" style="padding: 10px; margin-bottom: 10px; display: flex; flex-direction: column; border: 1px solid #dee2e6;">
  <strong>Previous Change ({{ existingChangeReason.date | date }})</strong>
  <span>{{  existingChangeReason.reason  }}</span>
</div>
<textarea class="form-control"
  [(ngModel)]="text"
  rows="4"
></textarea>
<mat-dialog-actions style="justify-content: flex-end;">
  <button *ngIf="existingChangeReason && existingChangeReason.reason" class="btn btn-sm btn-warning" style="margin-right: 5px;" (click)="keepReason()">Keep Previous Reason</button>
  <button class="btn btn-sm btn-danger" style="margin-right: 5px;" (click)="clearReason()">No Reason</button>
  <button [disabled]="!text || text === ''" class="btn btn-sm btn-success" style="margin-right: 5px;" (click)="logReason()">Done</button>
</mat-dialog-actions>

<ng-template #defaultTemplate let-value>
  {{ value }}
</ng-template>
