<ng-container *ngIf="active">
  <div style="display: flex; justify-content: space-between; width: 100%;">
    <div>
      <ng-container *ngIf="!header">
        <ng-container *ngTemplateOutlet="defaultHeader; context: { $implicit : active }"></ng-container>
      </ng-container>
      <ng-container *ngIf="header">
        <ng-container *ngTemplateOutlet="header; context : { $implicit: active, defaultTemplate: defaultHeader }"></ng-container>
      </ng-container>
    </div>
    <div *ngIf="controls" style="flex: none;">
      <ng-container *ngTemplateOutlet="controls; context : { $implicit: active }"></ng-container>
    </div>
  </div>
</ng-container>

<ng-template #defaultHeader let-active let-options="options">
    <h5 style="display: inline;" class="title-text">
      <app-scope-badge *ngIf="active.display.domainInfo" [scope]="active.display.domainInfo.scope" [version]="active.display.domainInfo.version" [flavor]="active.display.flavor"></app-scope-badge>
      <app-entity-bagde [type]="active.display.type"></app-entity-bagde>
      <span *ngIf="active.display.type !== 'IGDOCUMENT'" >
        <span *ngIf="active.display.path"> {{active.display.path}} </span>
        <span>&nbsp;{{active.display.fixedName}}</span>
        <span *ngIf="active.display.fixedName && active.display.variableName">#</span>
          <span>{{active.display.variableName}}</span>
      </span>
      <span *ngIf="active.display.type === 'IGDOCUMENT'" > Implementation Guide</span>
    </h5>
    <ng-container *ngIf="active.editor.title && !options?.excludeTitle">
      <div style="display: inline-block;">
        <i class="fa fa-chevron-right" style="font-size: 1em; margin-right: 10px; margin-left: 10px;"></i>
        <h5 style="display: inline;" class="title-text"> {{active.editor.title}} </h5>
      </div>

    </ng-container>
</ng-template>
