.segment-tree-table {
  max-height: 500px;
  overflow-y : scroll;
}

.tt-table {
  height: 500px;
}


.empty {
  width: 100%;
  height: 100%;
  background-color: #221010;
}

.valueset {
  width:300px;
}

.colordiv {
  background-color: #221010;
}

.ui-treetable thead th, .ui-treetable tbody td, .ui-treetable tfoot td{
  background-color: #221010;
}

.label-segment-binding-icon {
  color: blue !important;
}

.label-field-binding-icon {
  color:purple !important;
}

.label-component-binding-icon {
  color:#d400d4 !important;
}