.header-title {
  margin: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.panel-body {
  margin-top: 10px;
  margin-bottom: 30px;
}
