<div class="content-section introduction">
    <div>
        <span class="feature-title">Configuration</span>
    </div>
</div>

<div class="ui-g-12">

  <div class="ui-g-3">
    <!--<app-sidebar></app-sidebar>-->

    <!--<a [routerLink]="['',{outlets:{content:'export-fonts'}}]" routerLinkActive="active">Export fonts</a>-->
    <!--<a routerLink='export-fonts'>Export fonts</a>-->
    <a [routerLink]="['/', 'configuration', 'export-fonts']">Export fonts</a>

  </div>
  <div class="ui-g-9">
    <router-outlet name="content"></router-outlet>
  </div>
  </div>
