$primaryColor:#6ebc3b;
$primaryTextColor:#ffffff;
$menuBgColor:#ffffff;
$menuitemTextColor:#424242;
$submenuActiveBgColor:#ffffff;
$menuItemHoverTextColor:#6ebc3b;
$menuItemActiveTextColor:#6ebc3b;

$bodyBgColor:#EEF2F6;
$textColor:#424242;
$textSecondaryColor:#7a7a7a;
$placeholderColor:#a0a0a0;
$dividerColor:#dddddd;

@import '../../sass/layout/_layout.scss';
