$primaryColor:#5C6BC0;
$primaryTextColor:#ffffff;
$menuBgColor:#243447;
$menuitemTextColor:#9fadb7;
$submenuActiveBgColor:#151f2a;
$menuItemHoverTextColor:#5C6BC0;
$menuItemActiveTextColor:#5C6BC0;

$bodyBgColor:#141d26;
$textColor:#d8d8d8;
$textSecondaryColor:#acacac;
$placeholderColor:#6c6c6c;
$dividerColor:#121213;

@import '../../sass/layout/_layout.scss';