$primaryColor:#39a3f4;
$primaryTextColor:#ffffff;
$menuBgColor:#ffffff;
$menuitemTextColor:#424242;
$submenuActiveBgColor:#ffffff;
$menuItemHoverTextColor:#39a3f4;
$menuItemActiveTextColor:#39a3f4;

$bodyBgColor:#EEF2F6;
$textColor:#424242;
$textSecondaryColor:#7a7a7a;
$placeholderColor:#a0a0a0;
$dividerColor:#dddddd;

@import '../../sass/layout/_layout';
