<div style="background-color: #f7f7f7; padding: 5px;" *ngIf="segment$ | async as segment">

  <div style="display: flex; align-items: flex-start; justify-content: space-between; margin-bottom: 10px;">
    <div>
      <div style="display: flex; align-items: center; justify-content: flex-start;">
        <strong style="margin-right: 10px !important;"> Co-Constraint Tables for Segment </strong>
        <app-entity-bagde [type]="'SEGMENT'" ></app-entity-bagde>
        <h6 class="title-text" style="margin-left: 10px !important;" > {{ binding.segment.name }} </h6>
      </div>
      <div style="display: flex; align-items: center; justify-content: flex-start;">
        <strong style="margin-right: 10px !important;"> Flavor </strong>
        <ng-container *ngIf="display$ | async as display">
          <app-display-section [element]="display" [hideDescription]="true" ></app-display-section>
        </ng-container>
      </div>
    </div>
    <div>
      <button class="btn btn-sm btn-primary" style="margin-right: 10px;" (click)="createTable(binding, segment)" >
        <i class="fa fa-plus"></i>
        Co-Constraint Table
      </button>
      <button class="btn btn-sm btn-danger" (click)="triggerRemove()" >
        <i class="fa fa-trash"></i>
        Delete Segment
      </button>
    </div>
  </div>
  <label style="font-weight: bold;">Name</label>
  <input type="text" class="form-control" [(ngModel)]="binding.name" (ngModelChange)="triggerChange()" placeholder="Name">

  <div style="padding: 10px; border: 1px solid lightgray; background-color: white; margin-top: 10px;" *ngFor="let table of binding.tables; let i = index">
    <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
      <button class="btn btn-sm entity-badge-co-constraint-group margin-right" style="color: white;" (click)="importCoConstraintGroup(binding, i)" >
        <i class="fa fa-arrow-down"></i>
        Import Co-Constraint Group
      </button>
      <button class="btn btn-sm btn-primary margin-right" (click)="addCoConstraintGroup(i)">
        <i class="fa fa-plus"></i>
        Co-Constraint Group
      </button>
      <button class="btn btn-sm btn-danger margin-right" (click)="deleteTable(binding, i)" >
        <i class="fa fa-trash"></i>
        Delete Table
      </button>
    </div>
    <div>
      <div style="margin-bottom: 10px;">
        <strong>Condition : </strong>
        <span> {{ table.condition?.description }} </span>
        <button class="btn btn-sm btn-primary" style="margin-left: 10px;" (click)="openConditionDialog(context, table)">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-sm btn-danger" style="margin-left: 5px;" (click)="clearCondition(table)" *ngIf="table.condition">
          <i class="fa fa-trash"></i>
        </button>
      </div>
      <div style="overflow: scroll;">
        <app-co-constraint-table
          [id]="i"
          [segment]="segment"
          [value]="table.value"
          [mode]="'TABLE'"
          [datatypes]="datatypes"
          [valueSets]="valueSets"
          (valueChange)="tableChange($event, i)"
          [igId]="igId" >
        </app-co-constraint-table>
      </div>
    </div>
  </div>
</div>
