@import  '../../../../../assets/variables';

.reset-layout {
  @extend %page-wrapper;

  display: grid;
  grid-template-areas:  'alerts'
                        'register-content';
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content,max-content) auto;
}
