<form [formGroup]="formGroup" style="display: flex; flex-direction: column; height: 100%;">

  <app-form-input formControlName="name" id="name" name="name"
                  placeholder="Name" label="Name" [viewOnly]="viewOnly$ | async">
  </app-form-input>

  <app-form-input formControlName="description" id="description" name="description"
                  placeholder="Description" label="Description" [viewOnly]="viewOnly$ | async">
  </app-form-input>


  <strong> Profile Component Profile Identifier </strong>

  <div>
    <table formGroupName="profileIdentifier"  class="table table-condensed table-sm">
      <tr>
        <th style="text-align: center;">Entity Identifier</th>
        <th style="text-align: center;">Namespace ID</th>
        <th style="text-align: center;">Universal ID</th>
        <th style="text-align: center;">Universal ID Type</th>
      </tr>
      <tr>
        <td>
          <input class="form-control" formControlName="entityIdentifier" id="EntityIdentifier" name="EntityIdentifier" placeholder="Entity Identifier" label="Entity Identifier" [disabled]="viewOnly$ | async">
        </td>
        <td>
          <input class="form-control" formControlName="namespaceId" id="NamespaceId" name="NamespaceId" placeholder="Namespace Id" label="Namespace Id" [disabled]="viewOnly$ | async">
        </td>
        <td>
          <input class="form-control" formControlName="universalId" id="UniversalId" name="UniversalId" placeholder="Universal Id" label="Universal Id" [disabled]="viewOnly$ | async">
        </td>
        <td>
          <input class="form-control" formControlName="universalIdType" id="UniversalIdType" name="UniversalIdType" placeholder="Universal Id Type" label="Universal Id Type" [disabled]="viewOnly$ | async">
        </td>
      </tr>
    </table>
  </div>

  <strong> Contexts</strong>
  <div *ngIf="contexts && contexts.length>0">
      <app-display-section *ngFor="let x of contexts" [element]="x"></app-display-section>
  </div>


</form>
