
    <script type="text/javascript">
        $(function() {
            $('input').on('blur', function(e) {
                var el = $(this);
                if(el.val() != '')
                    el.addClass('ui-state-filled');
                else
                    el.removeClass('ui-state-filled');
            });
        });
    </script>

  <!-- 3. Display the application -->
  <div class="login-body">
      <div class="card login-panel ui-fluid">
          <div class="ui-g">
              <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input type="text" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget" [(ngModel)]="username">
                        <label>Username</label>
                    </span>
              </div>
              <div class="ui-g-12">
                  <span class="md-inputfield">
                      <input type="password" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget" [(ngModel)]="password">
                      <label>Password</label>
                  </span>
              </div>
              <div class="ui-g-12">
                  <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" (click)="login()">
                      <span class="ui-button-icon-left ui-c fa fa-fw"></span>
                    <i class="ui-button-icon-left fa fa-user" aria-hidden="true"></i>

                    <span class="ui-button-text ui-c">Sign In</span>
                  </button>
                  <button type="button" class="secondary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
                      <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-help"></span>
                      <span class="ui-button-text ui-c">New User</span>
                  </button>
              </div>
          </div>

      </div>
  </div>
    <!--<div class="col-md-6 col-md-offset-3">-->
      <!--<h2>Login</h2>-->
      <!--<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>-->
        <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">-->
          <!--<label >Username</label>-->
          <!--<input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />-->
          <!--<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>-->
        <!--</div>-->
        <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">-->
          <!--<label >Password</label>-->
          <!--<input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />-->
          <!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<button [disabled]="loading" class="btn btn-primary">Login</button>-->
          <!--<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
          <!--<a [routerLink]="['/register']" class="btn btn-link">Register</a>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
