<ng-template #headerControls let-router="router" *ngIf="hasOrigin$ | async">
    <button class="btn btn-sm btn-default toggle-btn" style="margin-left: 10px; border: 1px solid black;" [routerLink]="'../delta'">
      <span style="font-weight: bold;" ><span style="font-size: 1em;" >Δ</span> delta</span>
    </button>
</ng-template>

<strong>Binding Context Legend : </strong>
<div style="display: flex; flex-direction: row; align-items: center;">
  <div *ngFor="let item of legend" style="display: flex; flex-direction: row; align-items: center; margin-right: 5px;">
    <app-binding-badge [context]="item.context"></app-binding-badge>
    <span style="margin-left: 5px;">{{ item.label }}</span>
  </div>
</div>

<app-hl7-v2-tree
[columns]="columns"
[igId]="igId | async"
[datatypes]="datatypes | async"
[segments]="segments | async"
[valueSets]="valueSets | async"
[repository]="repository"
[viewOnly]="viewOnly$ | async"
(changes)="change($event)"
[resource]="resource$ | async"
[bindingConfig]= "bindingConfig | async"
[username]="username | async">
</app-hl7-v2-tree>

 <!-- DTM -->
 <div *ngIf="isDTM() | async">

 </div>
