<div *ngIf="nodes">
    <p-treeTable [value]="nodes" [columns]="selectedColumns" (onNodeExpand)="onNodeExpand($event)" (onNodeCollapse)="onNodeCollapse($event)" [reorderableColumns]="true" [resizableColumns]="true" [rowTrackBy]="trackBy">
        <ng-template pTemplate="caption">
          <div style="display: flex; justify-content: flex-start; align-items: flex-start;">
            <p-multiSelect
              [options]="cols"
              [(ngModel)]="selectedColumns"
              optionLabel="header"
              selectedItemsLabel="{0} columns selected"
              [style]="{minWidth: '200px'}"
              defaultLabel="Choose Columns">
            </p-multiSelect>
            <button *ngIf="type === 'MESSAGESTRUCT' && !viewOnly && !delta" class="btn btn-sm btn-primary" style="margin-left: 10px;" (click)="addSegment('', nodes)">
              <i class="fa fa-plus"></i> Add Segment
            </button>
            <button *ngIf="type === 'MESSAGESTRUCT' && !viewOnly && !delta" class="btn btn-sm btn-primary" style="margin-left: 10px;" (click)="addGroup('', nodes)">
              <i class="fa fa-plus"></i> Add Group
            </button>
            <button *ngIf="type === 'SEGMENT' && !viewOnly && !delta" class="btn btn-sm btn-primary" style="margin-left: 10px;" (click)="addField('', nodes)">
              <i class="fa fa-plus"></i> Create Field
            </button>
            <button *ngIf="type === 'SEGMENT' && !viewOnly && !delta" class="btn btn-sm btn-primary" style="margin-left: 10px;" (click)="importField('', nodes)">
              <i class="fa fa-plus"></i> Import Field
            </button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
              <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                <th *ngSwitchCase="columnTypes.NAME" style="width: 500px;" ttReorderableColumn ttResizableColumn>
                  {{col.header}}
                </th>
                <th *ngSwitchCase="columnTypes.USAGE" style="width: 150px;" ttReorderableColumn ttResizableColumn>
                  {{col.header}}
                </th>
                <th *ngSwitchCase="columnTypes.DATATYPE" style="width: 240px;" ttReorderableColumn ttResizableColumn>
                  {{col.header}}
                </th>
                <th *ngSwitchCase="columnTypes.SEGMENT" style="width: 250px;" ttReorderableColumn ttResizableColumn>
                  {{col.header}}
                </th>
                <th *ngSwitchCase="columnTypes.VALUESET" style="width: 250px;" ttReorderableColumn ttResizableColumn>
                  <div style="display: flex; align-items: center; width: 100%;">
                    <div class="binding-vs" style="margin-right: 5px; width: 10px; border: 1px solid darkgray; height: 21px;"></div> Value Set or
                    <div class="binding-sg" style="margin-right: 5px; margin-left: 5px; width: 10px; border: 1px solid darkgray; height: 21px;"></div> Single Code
                  </div>
                </th>
                <th *ngSwitchCase="columnTypes.CARDINALITY" style="width: 170px;" ttReorderableColumn ttResizableColumn>
                  {{col.header}}
                </th>
                <th *ngSwitchCase="columnTypes.LENGTH" style="width: 190px;" ttReorderableColumn ttResizableColumn>
                  {{col.header}}
                </th>
                <th *ngSwitchCase="columnTypes.CONFLENGTH" style="width: 185px;" ttReorderableColumn ttResizableColumn>
                  {{col.header}}
                </th>
                <th *ngSwitchDefault ttReorderableColumn ttResizableColumn>
                  {{col.header}}
                </th>
              </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
              <td  [ngSwitch]="col.field" class="text-cell" *ngFor="let col of columns; let i = index" [id]="i + '-' + rowNode.index" #anchor>
                <ng-container *ngSwitchCase="columnTypes.NAME">
                  <tbody>
                    <tr>
                      <td style="width: 30px;">
                        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                      </td>
                      <td style="white-space: normal;">
                        <app-name-simplified
                          [viewOnly]="viewOnly || !rowData.changeable || (type === 'SEGMENT' && resource.name === 'MSH' && (rowData.pathId === '1' || rowData.pathId === '2'))"
                          [structure]="_resource"
                          [globalViewOnly]="viewOnly"
                          [location]="rowData.pathId"
                          [position]="rowData.position"
                          [level]="rowData.level"
                          (valueChange)="registerChange($event)"
                          [type]="nodeType(rowNode.node)"
                          [value]="rowData"
                          [required]="rowData.name === 'MSH' && rowData.type === 'SEGMENTREF'"
                          (add)="addToNode(rowNode, $event)"
                          (remove)="removeNode(rowNode.node)"
                          [extendable]="nodeType(rowNode.node) !== 'GROUP'"
                        ></app-name-simplified>
                      </td>
                    </tr>
                  </tbody>
                </ng-container>
                <ng-container *ngSwitchCase="columnTypes.USAGE">
                  <app-usage-simplified
                    [changeEvent]="changes$"
                    [viewOnly]="viewOnly || !rowData.changeable || (type === 'SEGMENT' && resource.name === 'MSH' && (rowData.pathId === '1' || rowData.pathId === '2'))"
                    [globalViewOnly]="viewOnly"
                    [structure]="_resource"

                    [type]="rowData.type"
                    [name]="rowData.name"

                    [location]="rowData.pathId"

                    [position]="rowData.position"
                    [value]="rowData.usage"
                    [usages]="{
                      original : rowData.oldUsage,
                      config: config
                    }"
                    [level]="rowData.level"
                    [anchor]="anchor"
                    [context]="type"

                    (valueChange)="registerChange($event)"
                  ></app-usage-simplified>
                </ng-container>
                <ng-container *ngSwitchCase="columnTypes.CARDINALITY">
                  <app-cardinality-simplified
                    [changeEvent]="changes$"
                    [viewOnly]="viewOnly || !rowData.changeable || (type === 'SEGMENT' && resource.name === 'MSH' && (rowData.pathId === '1' || rowData.pathId === '2'))"
                    [globalViewOnly]="viewOnly"
                    [structure]="_resource"
                    [location]="rowData.pathId"
                    [usage]="rowData.usage.value"
                    [type]="rowData.type"
                    [position]="rowData.position"
                    [level]="rowData.level"
                    [value]="rowData.cardinality"
                    (valueChange)="registerChange($event)"
                  ></app-cardinality-simplified>
                </ng-container>
                <ng-container *ngSwitchCase="columnTypes.LENGTH">
                  <app-length-simplified
                    [changeEvent]="changes$"
                    [viewOnly]="viewOnly || !rowData.changeable || (type === 'SEGMENT' && resource.name === 'MSH' && (rowData.pathId === '1' || rowData.pathId === '2'))"
                    [globalViewOnly]="viewOnly"
                    [type]="rowData.type"
                    [location]="rowData.pathId"
                    [level]="rowData.level"
                    [position]="rowData.position"
                    [lengthType]="rowData.lengthType"
                    [leaf]="rowNode.node.leaf"
                    [value]="rowData.length"
                    [structure]="_resource"
                    (updateLengthType)="updateLength($event, rowNode)"
                    (valueChange)="registerChange($event)"
                  ></app-length-simplified>
                </ng-container>
                <ng-container *ngSwitchCase="columnTypes.CONFLENGTH">
                  <app-conformance-length-simplified
                    [changeEvent]="changes$"
                    [globalViewOnly]="viewOnly"
                    [viewOnly]="viewOnly || !rowData.changeable || (type === 'SEGMENT' && resource.name === 'MSH' && (rowData.pathId === '1' || rowData.pathId === '2'))"
                    [structure]="_resource"
                    [location]="rowData.pathId"
                    [type]="rowData.type"
                    [position]="rowData.position"
                    [level]="rowData.level"
                    [lengthType]="rowData.lengthType"
                    [leaf]="rowNode.node.leaf"
                    [value]="{
                      value: rowData.confLength
                    }"
                    (updateLengthType)="updateLength($event, rowNode)"
                    (valueChange)="registerChange($event)"
                  ></app-conformance-length-simplified>
                </ng-container>
                <ng-container *ngSwitchCase="columnTypes.DATATYPE">
                  <ng-container *ngIf="rowNode.node.$hl7V2TreeHelpers.ref$ | async as reference">
                    <app-datatype-simplified
                      [changeEvent]="changes$"
                      *ngIf="reference.type === types.DATATYPE"
                      [globalViewOnly]="viewOnly"
                      [type]="rowData.type"
                      [viewOnly]="viewOnly || !rowData.changeable || (type === 'SEGMENT' && resource.name === 'MSH' && (rowData.pathId === '1' || rowData.pathId === '2'))"
                      [repository]="repository"
                      [location]="rowData.pathId"
                      [position]="rowData.position"
                      [value]="reference"
                      [structure]="_resource"

                      [level]="rowData.level"
                      [options]="datatypes"
                      [anchor]="anchor"
                      (valueChange)="datatypeChange($event, rowNode)"
                    ></app-datatype-simplified>
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="columnTypes.SEGMENT">
                    <ng-container *ngIf="rowNode.node.$hl7V2TreeHelpers.ref$ | async as reference">
                      <app-segment-simplified
                        [changeEvent]="changes$"
                        *ngIf="reference.type === types.SEGMENT"
                        [viewOnly]="viewOnly || !rowData.changeable || (type === 'SEGMENT' && resource.name === 'MSH' && (rowData.pathId === '1' || rowData.pathId === '2'))"
                        [type]="rowData.type"
                        [globalViewOnly]="viewOnly"
                        [repository]="repository"
                        [location]="rowData.pathId"
                        [position]="rowData.position"
                        [value]="reference"
                        [structure]="_resource"

                        [level]="rowData.level"
                        [anchor]="anchor"
                        [options]="segments"
                        (valueChange)="segmentChange($event, rowNode)"
                      ></app-segment-simplified>
                    </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="columnTypes.VALUESET">
                  <app-valueset-simplified
                    [changeEvent]="changes$"
                    [viewOnly]="viewOnly || !rowData.changeable || (type === 'SEGMENT' && resource.name === 'MSH' && (rowData.pathId === '1' || rowData.pathId === '2'))"
                    [globalViewOnly]="viewOnly"
                    [context]="type"
                    [type]="rowData.type"
                    [location]="rowData.pathId"
                    [position]="rowData.position"
                    [repository]="repository"
                    [valueSets]= "valueSets"
                    [level]="rowData.level"
                    [bindingInfo]= "rowData.valueSetBindingsInfo | async"
                    [value]="{
                      valueSetBindings: rowData.bindings?.values?.valuesetBindings,
                      singleCodeBindings: rowData.bindings?.values?.internalSingleCode
                    }"
                    (valueChange)="registerChange($event)"
                  >
                  </app-valueset-simplified>
                </ng-container>
              </td>
            </tr>
        </ng-template>
      </p-treeTable>
</div>
<div *ngIf="!nodes || nodes.length === 0" style="text-align: center;">
  <strong style="color: lightgray;"> Empty Structure </strong>
</div>
