.create-ig-versions {
  display: grid;
  align-content: center;
  justify-content: center;
}

.create-ig-layout {
  display: grid;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  background-color: #f7f7f7;
  grid-template-areas: 'context' 'alerts' 'title'  'metadata' 'messages' 'submit';
  grid-template-columns: 1fr;
  grid-template-rows: 40px  minmax(min-content, max-content) 40px minmax(min-content, max-content) auto 60px;
}

.context {
  grid-area: context;
  padding: 5px 5px 5px 20px;
  border-bottom: 2px solid lightgray;
}

.metadata {
  grid-area: metadata;
  margin-top: 20px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 50px 0 50px;
}

.title {
  height: 40px;
  text-align: center;
  padding: 20px;
  grid-area: title;
  flex-direction: row;
  align-items: flex-start;
}

.alerts {
  grid-area: alerts;
  padding: 0 50px 0 50px;

}

.submit {
  grid-area: submit;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 50px 0 50px;

}

.messages {
  grid-area: messages;
  padding: 5px;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
}

input.ng-invalid {
  background-color: #ffe9ec;
  border-left: 5px solid red;
}
