<div class="create-ig-layout">
  <div class="title">
    <h5>Create new IG Document</h5>
  </div>
  <div class="alerts">
    <app-dam-alerts-container></app-dam-alerts-container>
  </div>
  <div class="metadata">
    <form [formGroup]="metaDataForm">
      <app-form-input formControlName="title" id="title" label="IG Document Title*" name="Title"
                      placeholder="IG Document Title" type="text">
      </app-form-input>
    </form>
    <span class="form-label-lg" style="margin-right: 5px;">Conformance Profiles</span> <button class="btn btn-primary" (click)="pickMessages()"><i class="fa fa-plus"></i></button>

  </div>

  <div class="messages">

    <!-- <span class="form-label-lg" style="margin-right: 5px;">Conformance Profiles</span> <button class="btn btn-primary" (click)="pickMessages(version)"><i class="fa fa-plus"></i></button> -->

    <app-selected-messages (messages)="setSelected($event)" #child style="height:100%; background-color: black;"
                         [selectedData]="selectedEvents"></app-selected-messages>
  </div>

  <div class="submit">
    <button (click)="submit()" [disabled]="metaDataForm.invalid || !child?.isValid()" class="btn btn-primary"
            type="submit">Create IG Document
    </button>
  </div>
</div>
