.create-ig-versions {
  display: grid;
  align-content: center;
  justify-content: center;
}
.create-ig-layout {
  display: grid;
  height: 100%;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 10px;
  grid-template-areas:
  'title'
  'alerts'
  'metadata'
  'messages'
  'submit';
  grid-template-columns: 1fr;
  grid-template-rows: 40px minmax(min-content,max-content)  minmax(min-content,max-content) auto 60px;
}
.metadata {
  grid-area: metadata;
  flex-direction: row;
  align-items: flex-start;
}
.title {
  height: 40px;
  grid-area: title;
  flex-direction: row;
  align-items: flex-start;
}
.alerts {
  grid-area: alerts;
}
.submit {
  grid-area: submit;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.messages {
  grid-area: messages;
  height: 100%;
  padding: 5px;
}

