/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/variables";
@import '~angular-tree-component/dist/angular-tree-component.css';

html {
  height: 100%;
  width: 100%;
}


body {
  @extend %blue-bg;
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, sans-serif !important;
}

.igamt-progress .mat-progress-bar-fill::after {
  background-color: #be1600 !important;
}

.igamt-progress .mat-progress-bar-buffer {
  background-color: #ffd400 !important;
}

.verification-progress.mat-progress-spinner circle {
  stroke: #b53f3f !important;
}

.range-input {
  width: 50px;
}

.tt-cell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title-text {
  margin: 0 !important;
}

%page-container {
  height: 100%;
  width: 100%;
}

.page-container-pad {
  @extend %page-container;
  padding-top: $header_height;
}

.page-container-nopad {
  @extend %page-container;
}

.no-pad {
  padding: 0 !important;
}

.fill_height {
  height: 100%;
}
.fill_width {
  width: 100%;
}

.form-label-lg {
  font-weight: 700;
}

// APPLICATION MAIN LAYOUT
.page-container-layout {
  display: grid;
  grid-template-columns: [page-content] 1fr;
  grid-template-rows: [content-row] auto;
}

.page-content {
  grid-column: page-content;
  grid-row: content-row;
  overflow: auto;
}

.sidebar-filter .form-control {
  height: initial;
  border-radius: initial;
  border: 1px solid #f0f0f0;
  border-left: 1px solid #cdd3d9;
}

.sidebar-filter .input-group-text {
  border: initial;
}

//----- Froala
.fr-wrapper {
  flex-grow: 1;
}

.fr-sticky-off {
  position: inherit !important;
}

//----- primeng
.ui-progressbar {
  height: 7px !important;
  background-color: #ffd400 !important;
}

.ui-progressbar-value {
  background-color: #be1600 !important;
}

.no-focus:focus {
  outline: none;
}

.border-gray {
  border: 1px solid #c1c1c1;
}

.ui-table-scrollable-body {
  border-bottom: 1px solid #c1c1c1 !important;

}

.ui-treenode-content:focus { outline: none !important; }

//----- angular-tree-component

.node-content-wrapper .active-node {
  background-color: $nist_light_yellow;
  padding: 2px;
}

.active-node {
  background-color: $nist_light_yellow;
  padding: 2px;
}

.node-content-wrapper:hover {
  background-color: inherit !important;
  border: 0 !important;
  cursor: inherit !important;
}

.node-content-wrapper {
  width: 100%;
}

.tree-children {
  overflow: unset;
}
.form-control-dropdown {
  padding: 0 !important;
}

.string-list ul {
  width: 100%;
}

.fr-box.fr-basic .fr-element {
  min-height: 200px !important;
}

//--- pattern dialog
.ui-dropdown-panel {
  top: inherit !important;
  left: inherit !important;
}

.pattern.ui-organizationchart .ui-organizationchart-node-content.ui-operator {
  padding: 0;
  background-color:#495ebb;
  color: white;
  text-align: center;
  border: 1px solid #495ebb;
}

.pattern.ui-organizationchart .ui-organizationchart-node-content.ui-statement {
  padding: 0;
}

// Higher than the header's z-index
.cdk-overlay-container {
  z-index: 999999 !important;
}

.node-content {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.eye-icon {
  font-size: 1.5em;
  color: green;
}

.toRight {
  text-align: end;
  font-weight: bold;
  padding-right: 0 !important;
}

.toLeft {
  text-align: start;
  font-weight: bold;
  padding-left: 0 !important;
}

.operator-drop-area {
  padding: 5px;
  min-width: 100px;
  min-height: 30px;
  background-color: #97caf552;
  border: 2px dashed rgba(60, 47, 203, 0.92);
  text-align: center;
  vertical-align: center;
  color: #9e9e9e;
}

.pattern-dialog .ui-dialog-content {
  padding: 0 !important;
}

.pattern {
  border: 1px dashed black;
  margin-top: 10px;
}

.toggled-delta {
  box-shadow: inset 2px 2px 2px 2px #c7c7c7 !important;
  border: 2px solid salmon !important;
}

.toggle-btn.btn.focus {
  outline: unset;
  box-shadow: unset;
}

.export-dialog .mat-dialog-container {
  overflow: hidden;
  padding: 0px !important;
}



body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: inherit !important;
  color: inherit !important;
}

body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: inherit !important;
  color: inherit!important;
}

body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
  margin: 0;
  float: left;
  font-size: 14px;
  color: #848484;
  border: 1px solid transparent;
  transition: color 0.2s;
}

.delta-added{
  background-color: $delta_added;
  font-style: italic;
}
.delta-deleted {

  background-color: $delta_deleted;
  text-decoration: line-through;
  font-style: italic;
}
.delta-changed {
  background-color: $delta_changed;
  font-style: italic;
}

.pcard{
  margin-top: 50px;
  float: left;
  margin-right: 25px;
  margin-left: 25px;
  width: 40%;
}

.pcardDelta{
  margin-top: 50px;
  float: left;
  margin-right: 25px;
  margin-left: 25px;
  width: 80%;
}

.config-list-item {
  margin-top: 3px;
  cursor: pointer;
}

.notice {
  background-color: pink !important;
  width: 100%;
}

.custom-card-title {
  padding: .65rem 1.25rem;
  font-weight: bold;
}

.card-configuration .list-group-item {
  padding: .25rem 1.25rem;
}

.configuration-tab-view .ui-tabview-panels {
  background-color: #f7f7f7 !important;
}

.configuration-tab-view .ui-tabview-selected {
  background-color: #ffeb9d !important;
  border: 1px solid #ffcb00 !important;
}

.configuration-tab-view .ui-tabview-title {
  color: black;
}

.disabled-tree-item {
  color: lightgray;
}

.configuration-dialog-container .mat-dialog-container {
  padding: 0px !important;
}

.treetable-light {
  color: lightgray;
}


//.scroll-trigger {
//  background: black !important;
//  grid-template-columns: fit-content(10%) fit-content(10%) max-content;
//}

body .ui-dropdown-panel {
  padding: 0;
  z-index: 9999;
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.ptable-thead-mimmic > tr > th {
  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333333;
  background-color: #f4f4f4;
}

.ptable-tbody-mimmic > tr > td {
  background-color: inherit;
  border: 1px solid #c8c8c8;
}

:host ::ng-deep  .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: black !important;
}
:host ::ng-deep  .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: black !important;
}

:host  .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
 background-color: #162986 !important;
}


.doc-accordion .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: #ffec9d !important;
  border: 1px solid #ffec9d;
  color: black;
}
.doc-accordion .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a:hover {

  color: black;
}

.doc-accordion  .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
  color: black !important;
}

.delta-unchanged {
  background-color: #f4f4f4;
}

.delta-added {
  background-color: lightgreen !important;
}

.delta-deleted {
  background-color: lightpink !important;
}

.delta-updated {
  padding: 0 !important;
}

.delta-badge {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-radius: 0 !important;
  flex-grow: 1;
}

.delta-badge-changed {
  background-color: $delta_changed_light;
}

.delta-badge-added {
  background-color: $delta_added_light;
}

.delta-badge-deleted {
  background-color: $delta_deleted_light;
}
.deprecated {
  background-color: $deprecated-element;
  text-decoration: line-through;
  font-style: italic;
}

.inactive-cell-dim {
  opacity: 0.5;
}

.profile-component-cell-btn {
  border-radius: 30px !important;
  height: 30px;
  width: 30px;
}

.popover {
  max-width: fit-content !important;
}

.dropdown {
  z-index: 10;
}

block-ui-content {
  display: contents;
}

.toc-filter-pop {
  background-color: #000000c7 !important;
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
}

.toc-filter-pop .popover-body {
  color: white !important;
}
