<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <form #form='ngForm'>


  
    <div class="form-group">


      <input [(ngModel)]="model.name" [domainInfo]="{scope:'USER',version:null}" [existing]="data.existing"
             [fixedName]="model.ext" [scope]="data.scope"
             [type]="data.type" appNamingConvention appNamingDuplication
             class="form-control" id="variableName" name="variableName" required
             style="width: 100%" type="text"/>
      <div *ngIf="form.controls['variableName'] && form.controls['variableName'].errors"
           style="color:red; font-size: 11px">
        <div *ngIf="form.controls['variableName'].errors.required">
          <span>*Binding Identifier is required</span>
        </div>
        <div *ngIf="form.controls['variableName'].errors.duplicated">
          <span> *Binding Identifier is duplicated</span>
        </div>
        <div *ngIf="form.controls['variableName'].errors.invalidConvention">
          <span> {{form.controls['variableName'].errors.invalidConvention}}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <p-radioButton [(ngModel)]="model.includeChildren" [value]="true" id="include-code"
                     name="groupname"></p-radioButton>
      With Codes
      <p-radioButton [(ngModel)]="model.includeChildren" [value]="false" id="exclude-code"
                     name="groupname"></p-radioButton>
      Without Codes

    </div>
    <div class="form-group">

      <input *ngIf="!model.includeChildren" [(ngModel)]="model.url" class="form-control" id="url" name="url"
             pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$"
             placeholder="enter a valid url"
             required type="url" width="100%"/>
      <div *ngIf="form.controls['url'] && form.controls['url'].invalid" class="input-form-invalid-feedback"
           style="margin-left: 10px;">
        <span style="color:red"> Enter a valid URL</span>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions style=" display: flex;justify-content: space-between">
  <p-checkbox [(ngModel)]="redirect" binary="true" label="redirect to the flavor"></p-checkbox>
  <div style="justify-content: flex-end;">
    <button (click)="cancel()" class="btn btn-sm btn-danger" style="margin-right: 5px;">Cancel</button>
    <button (click)="submit()" [disabled]="form&& form.invalid" class="btn btn-sm btn-success">Submit</button>
  </div>
</mat-dialog-actions>
