<ng-container *ngIf="bindingsSync$ | async as bindings">
  <ng-template #headerControls>
    <app-change-log-list-info
    [changes]="changeReason$ | async"
    (editChange)="updateChangeReasons($event)"
    [viewOnly]="viewOnly$ | async"
    ></app-change-log-list-info>
    <button  style="margin-left: 5px;"  class="btn btn-success btn-sm" (click)="openBindingCreateDialog(bindings)" *ngIf="!(viewOnly$ | async)">
      <i class="fa fa-plus"></i> Add Co-Constraint Table Binding
    </button>
  </ng-template>

  <div style="overflow: scroll; height: 100%;">
    <app-context-co-constraint-binding
      [viewOnly]="viewOnly$ | async"
      [bindings]="bindings"
      [derived]="derived$ | async"
      [segments]="segments | async"
      [datatypes]="datatypes | async"
      [valueSets]="valueSets | async"
      [documentRef]="documentRef$ | async"
      [conformanceProfile]="conformanceProfile"
      [structure]="structure"
      [open]="openPanelId"
      (segmentBindingChangeEvent)="segmentBindingChange($event)"
      (formValidEvent)="formValid($event)"
      (deleteSegmentBindingEvent)="deleteSegmentBinding($event)"
      (deleteContextBindingEvent)="deleteContextBinding($event)">
    </app-context-co-constraint-binding>
  </div>
</ng-container>
