<p-treeTable [value]="compare.delta" [columns]="selectedColumns"  [reorderableColumns]="true" [resizableColumns]="true" [rowTrackBy]="trackBy" *ngIf="compare.delta.length>0">
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                  selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
          <th *ngSwitchCase="columnTypes.NAME" style="width: 380px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.USAGE" style="width: 115px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.DATATYPE" style="width: 210px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.SEGMENT" style="width: 250px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.VALUESET" style="width: 180px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.CONSTANTVALUE" style="width: 180px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.CARDINALITY" style="width: 150px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.LENGTH" style="width: 180px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.CONFLENGTH" style="width: 180px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchCase="columnTypes.TEXT" style="width: 135px;" ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
          <th *ngSwitchDefault ttReorderableColumn ttResizableColumn>
            {{col.header}}
          </th>
        </ng-container>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
      <tr [ngClass]="{'delta-added': rowData.action === 'ADDED', 'delta-deleted': rowData.action === 'DELETED'}">
        <ng-container [ngSwitch]="col.field" *ngFor="let col of columns; let i = index"  #anchor>
          <ng-container *ngSwitchCase="columnTypes.NAME">
            <td [class]="cellClass(rowData.name.action)">
              <tbody>
                <tr>
                  <td style="width: 30px;">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                  </td>
                  <td style="white-space: normal; display: flex;">
                    <app-delta-column [action]="rowData.name.action" [currentValue]="rowData.name.current" [previousValue]="rowData.name.previous">
                      <ng-template #default let-value>
                        <app-entity-bagde [type]="nodeType(rowNode.node)" ></app-entity-bagde> {{rowData.position}}. {{value}}
                      </ng-template>
                    </app-delta-column>
                  </td>
                </tr>
              </tbody>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.USAGE">
            <td [class]="cellClass(rowData.usage.action)" style="padding: 0px !important;">
              <ng-container *ngTemplateOutlet="usage; context : { $implicit: rowData.usage, predicate: rowData.predicate }"></ng-container>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.CARDINALITY">
            <td [class]="minMaxClass(rowData.minCardinality?.action, rowData.maxCardinality?.action)">
              <div *ngIf="isApplicable(rowData.minCardinality) || isApplicable(rowData.maxCardinality)" style="display: flex; align-items: center;">
                <div style="width: 50%;">
                  <ng-container *ngTemplateOutlet="diff; context : { $implicit: {
                    action: rowData.minCardinality.action,
                    current: '['+rowData.minCardinality.current+'.',
                    previous: '['+rowData.minCardinality.previous+'.'
                  }, styleCurrent: 'toRight',  stylePrevious: 'toRight', styleUnchanged: 'toRight' }"></ng-container>
                </div>
                <div style="width: 50%;">
                  <ng-container *ngTemplateOutlet="diff; context : { $implicit: {
                    action: rowData.maxCardinality.action,
                    current: '.'+rowData.maxCardinality.current+']',
                    previous: '.'+rowData.maxCardinality.previous+']'
                  }, styleCurrent: 'toLeft',  stylePrevious: 'toLeft', styleUnchanged: 'toLeft' }"></ng-container>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.LENGTH">
            <td [class]="minMaxClass(rowData.minLength?.action, rowData.maxLength?.action)">
              <div *ngIf="isApplicable(rowData.minLength) || isApplicable(rowData.maxLength)" style="display: flex; align-items: center;">
                <div style="width: 50%;">
                  <ng-container *ngTemplateOutlet="diff; context : { $implicit: {
                    action: rowData.minLength.action,
                    current: '['+rowData.minLength.current+'.',
                    previous: '['+rowData.minLength.previous+'.'
                  }, styleCurrent: 'toRight',  stylePrevious: 'toRight', styleUnchanged: 'toRight' }"></ng-container>
                </div>
                <div style="width: 50%;">
                  <ng-container *ngTemplateOutlet="diff; context : { $implicit: {
                    action: rowData.maxLength.action,
                    current: '.'+rowData.maxLength.current+']',
                    previous: '.'+rowData.maxLength.previous+']'
                  }, styleCurrent: 'toLeft',  stylePrevious: 'toLeft', styleUnchanged: 'toLeft' }"></ng-container>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.CONFLENGTH">
            <td [class]="cellClass(rowData.confLength?.action)">
              <ng-container *ngIf="isApplicable(rowData.confLength)">
                <ng-container *ngTemplateOutlet="diff; context : { $implicit: rowData.confLength }"></ng-container>
              </ng-container>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.DATATYPE">
            <td [class]="cellClass(referenceAction(rowData.reference))">
              <ng-container *ngIf="rowData.reference?.type === 'DATATYPE'">
                <ng-container *ngTemplateOutlet="reference; context : { $implicit: rowData.reference }"></ng-container>
              </ng-container>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.SEGMENT">
            <td [class]="cellClass(referenceAction(rowData.reference))">
              <ng-container *ngIf="rowData.reference?.type === 'SEGMENT'">
                <ng-container *ngTemplateOutlet="reference; context : { $implicit: rowData.reference }"></ng-container>
              </ng-container>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.TEXT">
            <td [class]="cellClass(rowData.definition.action)">
              <app-delta-column [action]="rowData.definition.action" [currentValue]="rowData.definition.current" [previousValue]="rowData.definition.previous">
                <ng-template #default let-value>
                  <i class="fa fa-eye eye-icon" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" placement="bottom"></i>
                  <ng-template #popContent>
                    <div [froalaView]="value"></div>
                  </ng-template>
                </ng-template>
              </app-delta-column>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.VALUESET">
            <td>
              <div *ngIf="rowData.internalSingleCode&&rowData.internalSingleCode.action=='ADDED' ">
                <ng-container *ngTemplateOutlet="displaySingleCode; context : { $implicit: rowData.internalSingleCode, prop: 'current' }">
                </ng-container>
              </div>

              <ng-container *ngIf="rowData.valuesetBinding && rowData.valuesetBinding.action!=='UNCHANGED'">

              <ng-container *ngTemplateOutlet="vsBindingDelta; context : { $implicit: rowData.valuesetBinding }"></ng-container>
              </ng-container>


              <div *ngIf="rowData.internalSingleCode&&rowData.internalSingleCode.action =='REMOVED'">
                <ng-container *ngTemplateOutlet="displaySingleCode; context : { $implicit: rowData.internalSingleCode, prop: 'previous' }">
                </ng-container>
              </div>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="columnTypes.CONSTANTVALUE">
            <td [class]="cellClass(rowData.constantValue?.action)">
              <ng-container *ngTemplateOutlet="diff; context : { $implicit: rowData.constantValue }"></ng-container>
            </td>
          </ng-container>
        </ng-container>
      </tr>
  </ng-template>
</p-treeTable>
<ng-template #diff let-delta let-styleCurrent="styleCurrent" let-stylePrevious="stylePrevious" let-styleUnchanged="styleUnchanged" >
  <ng-container *ngIf="delta">
    <app-delta-column [action]="delta.action" [currentValue]="delta.current" [previousValue]="delta.previous" [styleClassCurrent]="styleCurrent" [styleClassPrevious]="stylePrevious" [styleClassUnchanged]="styleUnchanged" >
      <ng-template #default let-value>
        {{value}}
      </ng-template>
    </app-delta-column>
  </ng-container>
</ng-template>
<ng-template #reference let-reference>
  <ng-container *ngIf="reference">
    <app-delta-column [action]="referenceAction(reference)"
      [currentValue]="{
        id: reference.id.current,
        domainInfo: reference.domainInfo.current,
        label: reference.label.current
      }"
      [previousValue]="{
        id: reference.id.previous,
        domainInfo: reference.domainInfo.previous,
        label: reference.label.previous
      }">
      <ng-template #default let-value>
        <app-entity-bagde [type]="reference.type"></app-entity-bagde>
        <app-scope-badge *ngIf="value.domainInfo" [scope]="value.domainInfo.scope" [version]="value.domainInfo.version"></app-scope-badge>
        <span> {{ value.label }}</span>
      </ng-template>
    </app-delta-column>
  </ng-container>
</ng-template>
<ng-template #vsBindingDelta let-vsDelta>

  <table class="table table-striped table-sm table-bordered delta-current" style="text-align: center; margin-bottom: 5px;" *ngIf="vsDelta.valueSets?.current">
    <tr>
      <td style="vertical-align: middle; width: 25px;" pTooltip="Value Set binding" tooltipPosition="top">
        <strong> VS </strong>
      </td>
      <td pTooltip="Binding Strength" tooltipPosition="top">
        <strong>{{vsDelta.strength?.current}}</strong>
      </td>
      <td pTooltip="Binding Locations" tooltipPosition="top">
        <strong>{{vsDelta.bindingLocation?.current.length > 0 ? (vsDelta?.bindingLocation?.current | json) : '.'}}</strong>
      </td>
    </tr>
    <tr *ngFor="let item of vsDelta.valueSets?.current">
      <td colspan="3">
        <app-display-section [element]="item" [hideDescription]="true" ></app-display-section>
      </td>
    </tr>
  </table>
  <table class="table table-striped table-sm table-bordered delta-previous" style="text-align: center; margin-bottom: 0;" *ngIf="vsDelta.valueSets?.previous">
    <tr>
      <td style="vertical-align: middle; width: 25px;" pTooltip="Value Set binding" tooltipPosition="top">
        <strong> VS </strong>
      </td>
      <td pTooltip="Binding Strength" tooltipPosition="top">
        <strong>{{vsDelta.strength?.previous}}</strong>
      </td>
      <td pTooltip="Binding Locations" tooltipPosition="top">
        <strong>{{vsDelta.bindingLocation?.previous.length > 0 ? (vsDelta?.bindingLocation?.previous | json) : '.'}}</strong>
      </td>
    </tr>
    <tr *ngFor="let item of vsDelta.valueSets?.previous">
      <td colspan="3">
        <app-display-section  [element]="item" [hideDescription]="true" ></app-display-section>
      </td>
    </tr>
  </table>
</ng-template>


<ng-template #displaySingleCode let-singleCode let-prop="prop">
  <table class="table table-striped table-sm table-bordered" [ngClass]="{'delta-previous': prop==='previous', 'delta-current': prop ==='current'}"  style="text-align: center;  margin-bottom: 0;">
    <tr>
      <td style="vertical-align: middle; width: 25px;" pTooltip="Single code binding" tooltipPosition="top">
        <strong> SC </strong>
      </td>
      <td pTooltip="Code" tooltipPosition="top">
        <strong>{{singleCode.code[prop]}}</strong>
      </td>
      <td pTooltip="Code System" tooltipPosition="top">
        <strong>{{singleCode.codeSystem[prop]}}</strong>
      </td>
    </tr>
    <tr *ngIf="singleCode.valueSetDisplay[prop]">
      <td colspan="3">
        <app-display-section [element]="singleCode.valueSetDisplay[prop]" [hideDescription]="true" ></app-display-section>
      </td>
    </tr>
  </table>
</ng-template>


<ng-template #usage let-usage let-styleCurrent="styleCurrent" let-stylePrevious="stylePrevious" let-styleUnchanged="styleUnchanged" let-predicate="predicate">
  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div style="width: 100%">
      <ng-container *ngIf="usage">
    <app-delta-column [action]="usage.action" [currentValue]="usage.current" [previousValue]="usage.previous" [styleClassCurrent]="styleCurrent" [styleClassPrevious]="stylePrevious" [styleClassUnchanged]="styleUnchanged" >
      <ng-template #default let-value>
        {{value}}
      </ng-template>
    </app-delta-column>
      </ng-container>
    </div>
    <div *ngIf="predicate" style="display: flex; flex-direction: column; justify-content: center;   height: 100%; width: 100%;
    padding: 2px;">
      <div style="display: flex; flex-direction: row; justify-content: flex-end; width: 100%;">
        <button class="btn btn-sm btn-secondary" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" placement="bottom">
          <i class="fa fa-eye"></i>
        </button>
      </div>
       <ng-template #popContent>
          <table class="table table-striped table-sm table-bordered"  style="text-align: center;  margin-bottom: 0;">
            <thead>
            <tr>
              <td width="60px"><strong>True Usage</strong></td>
              <td width="60px"><strong>False Usage</strong></td>
              <td><strong>Description</strong></td>
            </tr>
            </thead>
            <tbody>
            <tr [ngClass]="{'delta-added': predicate.action === 'ADDED', 'delta-deleted': predicate.action === 'DELETED'}">
              <td width="60px">
                <app-delta-column [action]="predicate.trueUsage.action" [currentValue]="predicate.trueUsage.current" [previousValue]="predicate.trueUsage.previous" [styleClassCurrent]="styleCurrent" [styleClassPrevious]="stylePrevious" [styleClassUnchanged]="styleUnchanged" >
                  <ng-template #default let-value>
                    {{value}}
                  </ng-template>
                </app-delta-column>
              </td>
              <td  width="60px">
                <app-delta-column [action]="predicate.falseUsage.action" [currentValue]="predicate.falseUsage.current" [previousValue]="predicate.falseUsage.previous" [styleClassCurrent]="styleCurrent" [styleClassPrevious]="stylePrevious" [styleClassUnchanged]="styleUnchanged" >
                  <ng-template #default let-value>
                    {{value}}
                  </ng-template>
                </app-delta-column>
              </td>
              <td>
                <app-delta-column [action]="predicate.description.action" [currentValue]="predicate.description.current" [previousValue]="predicate.description.previous" [styleClassCurrent]="styleCurrent" [styleClassPrevious]="stylePrevious" [styleClassUnchanged]="styleUnchanged" >
                  <ng-template #default let-value>
                    {{value}}
                  </ng-template>
                </app-delta-column>
              </td>
            </tr>

            </tbody>
          </table>
        </ng-template>
    </div>
  <div>
  </div>
  </div>

</ng-template>
<div *ngIf="compare.conformanceStatements?.length>0" style="margin-top: 10px;">
  <h5> Conformance Statements </h5>
  <p-table [value]="compare.conformanceStatements">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Description</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cf>
      <tr [ngClass]="{'delta-added': cf.action === 'ADDED', 'delta-deleted': cf.action === 'DELETED'}">
        <td>
          <app-delta-column [action]="cf.identifier.action" [currentValue]="cf.identifier.current" [previousValue]="cf.identifier.previous" styleClassCurrent="delta-current" styleClassPrevious="delta-current">
            <ng-template #default let-value>
              {{value}}
            </ng-template>
          </app-delta-column>
        </td>
        <td>
          <app-delta-column [action]="cf.description.action" [currentValue]="cf.description.current" [previousValue]="cf.description.previous" styleClassCurrent="delta-current" styleClassPrevious="delta-previous">
            <ng-template #default let-value>
              {{value}}
            </ng-template>
          </app-delta-column>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


