.delta-current {
  background-color: lightgreen;
  width: 100%;
}

.delta-previous {
  background-color: lightpink;
  width: 100%;
}

.delta-unchanged {
  background-color: #f4f4f4;
  width: 100%;
}

.delta-updated {
  padding: 0.571em 0.857em;
}
