.delta-unchanged {
  background-color: #f4f4f4;
}

.delta-added {
  background-color: lightgreen !important;
}

.delta-deleted {
  background-color: lightpink !important;
}



.delta-updated {
  padding: 0 !important;
}
