<div style="
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;">
  <ng-container *ngIf="statusBar$ | async as statusBar">
    <ng-container *ngTemplateOutlet="verificationPill; context : { $implicit : statusBar.activeEditor, type: TAB.EDITOR, refresh : editorVerify, active: activeTab$ | async }" ></ng-container>
  </ng-container>
</div>

<ng-template #verificationPill let-verification let-active="active" let-type="type" let-refresh="refresh">
  <div (click)="openVerificationTab(type, !verification.valid || verification.failed)" *ngIf="verification && (!verification.checked || verification.supported)" class="summary" [ngClass]="{ active : active === type, cursor: !verification.valid }">
    <div style="margin-right: 10px;" *ngIf="verification.loading">
      <mat-spinner class="verification-progress" diameter="20" ></mat-spinner>
    </div>
    <div style="margin-right: 10px;" *ngIf="verification.failed">
      <span class="badge badge-danger">FAILED</span>
    </div>
    <span style="margin-right: 20px;">{{ verification.title }}</span>
    <ng-container *ngTemplateOutlet="stats; context : {$implicit: verification.stats}" >
    </ng-container>
    <span style="color: gray; margin-left: 20px;" *ngIf="verification.lastUpdate$ | async as lastUpdate">
      <i class="fa fa-clock-o"></i>
        {{lastUpdate}}
    </span>
    <button class="refresh-btn" (click)="refresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</ng-template>

<ng-template #stats let-stats>
  <div *ngIf="!stats.fatal && !stats.error && !stats.warning && !stats.informational">
    <i style="color: #1d9f1d;" class="fa fa-check" ></i>
  </div>
  <div *ngIf="stats && !(!stats.fatal && !stats.error && !stats.warning && !stats.informational)" style="display: flex;">
    <div style="margin-right: 5px;">
      <app-issue-badge *ngIf="stats.fatal" [type]="SEVERITY.FATAL" [number]="stats.fatal" ></app-issue-badge>
    </div>
    <div style="margin-right: 5px;">
      <app-issue-badge *ngIf="stats.error" [type]="SEVERITY.ERROR" [number]="stats.error" ></app-issue-badge>
    </div>
    <div style="margin-right: 5px;">
      <app-issue-badge *ngIf="stats.warning" [type]="SEVERITY.WARNING" [number]="stats.warning" ></app-issue-badge>
    </div>
    <div style="margin-right: 5px;">
      <app-issue-badge *ngIf="stats.informational" [type]="SEVERITY.INFORMATIONAL" [number]="stats.informational" ></app-issue-badge>
    </div>
  </div>
</ng-template>
