.summary {
  display: flex;
  align-items: center;
  background-color: #f3f9ff;
  border: 1px solid lightgray;
  padding: 3px 15px;
  border-radius: 5px;
  margin-right: 10px;
}

.refresh-btn {
  margin-left: 10px;
  height: 25px;
  width: 25px;
  border: 1px solid #f3f9ff;
  border-radius: 15px;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
}

.stats {
  margin-right: 20px;
  margin-left: 20px;
}

.active {
  background-color: #fff5cb;
  box-shadow: inset -3px 3px 5px -3px rgba(0,0,0,0.4);
}
