<div class="create-workspace-layout">
  <div class="page-content">
    <div class="title">
      <h5>Create Workspace</h5>
    </div>
    <div class="alerts">
      <app-dam-alerts-container></app-dam-alerts-container>
    </div>
    <div class="metadata">
      <form [formGroup]="metaDataForm" style="display: flex; flex-direction: column;">
        <div style="display: flex; justify-content: space-between; margin-bottom: 5px;">
          <label for="privacy" class="form-label-lg">
            Privacy
            <i class="fa fa-question-circle-o" style="color: blue; font-size: large;"></i>
          </label>
          <div style="display: flex; justify-content: flex-end;">
            <p-radioButton name="privacy" value="PRIVATE" label="Private" formControlName="accessType" [style]="{'margin-left': '30px'}" ></p-radioButton>
            <p-radioButton name="privacy" value="PUBLIC" label="Public" formControlName="accessType" [style]="{'margin-left': '10px'}" ></p-radioButton>
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="logo" class="form-label-lg">Logo</label>
          <div>
            <app-file-select-input formControlName="logo"> </app-file-select-input>
          </div>
        </div> -->
        <app-form-input formControlName="title" id="title" name="title"
          placeholder="Workspace Title" label="Title"> </app-form-input>
        <app-form-input formControlName="description" id="description" name="description"
        placeholder="Description" label="Description"> </app-form-input>
      </form>
      <div class="submit">
        <button (click)="submit()" [disabled]="metaDataForm.invalid" class="btn btn-primary"
                type="submit">Create Workspace
        </button>
      </div>
    </div>
  </div>
</div>
