.ng-valid[required], .ng-valid.required  {
  /*border-left: 5px solid #42A948; !* green *!*/
}

.ng-invalid:not(form)  {
  /*border-left: 5px solid #a94442 !important; !* red *!*/

  background-color: #a94442 !important;
}

.label-USER {
  background-color: green;
  font-weight: 400;
  color: white;
}

.label-HL7 {
  background-color: #f4867e;
  font-weight: 400;
}

.version {
  background: #f6f6f6;
  font-weight: 400;
  color: #00037a;
}