.firstVersion{
  background-color: lightpink !important;
  padding: 5px;
}

.secondVersion{
  background-color: lightgreen !important;

}
.ui-treetable .ui-treetable-thead>tr>th, .ui-treetable .ui-treetable-tbody>tr>td, .ui-treetable .ui-treetable-tfoot>tr>td {
  padding: 0px 0px !important;
  border: 1px solid #d8d8d8 !important;
}

.comparing-info .table.table-bordered.table-striped td.firstVersion,
.comparing-info .table.table-bordered.table-striped td.secondVersion {
  height: 50px !important;
}
