.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.btn-action {
  color: black;
  background-color: #f8f9fa;
  border-color: #efefef;
}

.btn-action:hover {
  color: black;
  background-color: #feec9d;
}
