<form #form="ngForm">
  <div style="margin-top: 5px" class="vs-table" *ngIf="codeSetVersion">
    <p-table
      #dt1
      [(selection)]="selectedCodes"
      [columns]="selectedColumns"
      sortField="value"
      [resizableColumns]="false"
      [value]="codeSetVersion.codes"
      selectionMode="checkbox"
      dataKey="id"
      [paginator]="true"
      [rows]="20"
      [rowsPerPageOptions]="[5, 10, 15, 20, 30, 40, 50]"
    >
      <ng-template pTemplate="caption">
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <div style="margin-left: 0px; display: flex; align-items: center">
            <p-multiSelect
              [(ngModel)]="selectedColumns"
              [options]="cols"
              [style]="{ minWidth: '300px' }"
              defaultLabel="Choose Columns"
              id="columns"
              name="columns"
              optionLabel="header"
              selectedItemsLabel="{0} columns selected"
            ></p-multiSelect>
            <div *ngIf="!viewOnly" style="margin-left: 10px; padding-left: 10px; border-left: 2px solid;" >
              <div ngbDropdown placement="bottom-right" container="body" class="d-inline-block" style="margin-right:5px;" >
                <button class="btn btn-sm btn-secondary dropdown-toggle" id="csv" ngbDropdownToggle>
                  <i class="fa fa-table"></i> CSV
                </button>
                <div ngbDropdownMenu aria-labelledby="exportDropDown">
                  <button ngbDropdownItem (click)="importCSV()">
                    Import From CSV
                  </button>
                  <button ngbDropdownItem (click)="exportCSV()">
                    Export CSV
                  </button>
                  <button ngbDropdownItem (click)="downloadExample()">
                    Download Example
                  </button>
                </div>
              </div>
              <button (click)="addCode()" class="btn btn-primary btn-sm" type="button">
                <i class="fa fa-plus"></i> Add Code
              </button>
            </div>
          </div>

          <div>
            <button *ngIf="viewOnly" class="btn btn-sm btn-primary" (click)="exportCSV()">
              <i class="fa fa-download"></i>
              Download CSV
            </button>
            <div style="display: flex; flex-direction: row; justify-content: flex-end; align-items: center;">
              <ng-container *ngIf="!viewOnly">
                <div class="selected-codes-section">
                  <strong style="margin-right: 5px">Selected Codes</strong>
                  <span class="badge badge-dark">{{ selectedCodes?.length }}</span>
                </div>

                <button (click)="deleteCodes()" [disabled]="!selectedCodes.length" class="btn btn-danger btn-sm" style="margin-right: 5px" type="button">
                  <i class="fa fa-trash"></i> Delete
                </button>

                <div class="apply-usage">
                  <span style="margin-right: 5px">Apply Usages</span>
                  <button (click)="applyUsage('P')" [disabled]="!selectedCodes.length" class="btn btn-sm btn-primary apply-usage-btn">
                    P
                  </button>
                  <button (click)="applyUsage('R')" [disabled]="!selectedCodes.length" class="btn btn-sm btn-primary apply-usage-btn">
                    R
                  </button>
                  <button (click)="applyUsage('E')" [disabled]="!selectedCodes.length" class="btn btn-sm btn-primary apply-usage-btn">
                    E
                  </button>
                </div>

                <p-dropdown
                  (onChange)="applyCodeSystem($event)"
                  [editable]="true"
                  [disabled]="!selectedCodes.length"
                  [options]="codeSystemOptions"
                  placeholder="Apply Code System"
                ></p-dropdown>
              </ng-container>

            </div>
          </div>
        </div>
      </ng-template>
      <ng-template let-columns pTemplate="header">
        <tr>
          <th *ngIf="!viewOnly" style="width: 3em">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th
            *ngFor="let col of columns"
            [pSortableColumn]="col.field"
            pReorderableColumn
            pResizableColumn
          >
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>

        <tr>
          <th *ngIf="!viewOnly">
            <i class="fa fa-filter" style="width: 100%; margin-left: 5px"></i>
          </th>
          <th
            *ngFor="let col of columns"
            [ngSwitch]="col.field"
            class="ui-fluid"
          >
            <input
              (input)="
                dt1.filter($event.target.value, col.field, col.filterMatchMode)
              "
              [placeholder]="' Search by ' + col.header"
              [value]="dt1.filters[col.field]?.value"
              pInputText
              type="text"
            />
          </th>
        </tr>
      </ng-template>
      <ng-template
        let-columns="columns"
        let-index="rowIndex"
        let-rowData
        pTemplate="body"
      >
        <tr
          #anchor
          *ngIf="!viewOnly"
          [pSelectableRow]="rowData"
          [ngClass]="{ 'pattern-row': rowData.hasPattern }"
        >
          <td *ngIf="!viewOnly" style="width: 3em">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns" [ngSwitch]="col.field">
            <div #anchor *ngSwitchCase="'usage'">
              <p-dropdown
                (onChange)="changeCodes()"
                [(ngModel)]="rowData.usage"
                [appendTo]="anchor"
                [id]="'usage' + rowData.id"
                [name]="'usage' + rowData.id"
                [options]="codeUsageOptions"
                placeholder="usage"
                [style]="{ minWidth: '90%' }"
              ></p-dropdown>
            </div>

            <div
              #anchor
              *ngSwitchCase="'pattern'"
              style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              "
            >
              <div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; gap: 3px;">
                <div class="input-group" *ngIf="rowData.hasPattern">
                  <input required type="text" class="form-control" placeholder="regular expression" [id]="'pattern' + rowData.id" [name]="'pattern' + rowData.id" [(ngModel)]="rowData.pattern" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="changeCodes()">
                  <div class="input-group-append">
                    <button (click)="removeHasPattern(rowData)" class="btn btn-outline-danger" type="button"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
                <div *ngIf="form.controls['pattern' + rowData.id]?.errors?.required" class="text-danger">
                  Regular expression is required.
                </div>
              </div>
              <button *ngIf="!rowData.hasPattern" (click)="setHasPattern(rowData)" class="btn btn-sm btn-primary">
                <i class="fa fa-check"></i>
              </button>
            </div>
            <div #anchor *ngSwitchCase="'codeSystem'">
              <div
                *ngIf="!editMap[rowData.id]"
                class="input-group"
                class="code-system-column"
              >
                <div class="dropdown-column">
                  <p-dropdown
                    [(ngModel)]="rowData.codeSystem"
                    [appendTo]="anchor"
                    [id]="'codeSystem' + rowData.id"
                    [name]="'codeSystem' + rowData.id"
                    [options]="codeSystemOptions"
                    [readonly]="viewOnly"
                    [style]="{ minWidth: '100%', maxWidth: '100%' }"
                    autoZIndex="true"
                    (ngModelChange)="updateAttribute('CODES', codeSetVersion.codes)"
                    required
                  ></p-dropdown>
                  <div *ngIf="form.controls['codeSystem' + rowData.id]?.errors?.required" class="text-danger">
                    Code system is required.
                  </div>
                </div>
                <div class="dropdown-button-column">
                  <button
                    (click)="toggleEdit(rowData.id)"
                    class="btn btn-sm btn-primary"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="editMap[rowData.id]" class="input-group">
                <input
                  [(ngModel)]="temp"
                  aria-describedby="button-addon2"
                  class="form-control"
                  id="tempCodeSystem"
                  name="tempCodeSystem"
                  placeholder="value"
                  type="text"
                />
                <div class="input-group-append">
                  <button
                    (click)="addCodeSystemFormCode(rowData)"
                    [disabled]="!temp"
                    [id]="'button-addon' + rowData.id"
                    class="btn btn-outline-secondary"
                    type="button"
                  >
                    <i class="fa fa-check" style="color: green"></i>
                  </button>
                  <button
                    (click)="toggleEdit(rowData.id)"
                    *ngIf="editMap[rowData.id] && !viewOnly"
                    class="btn btn-sm btn-danger"
                    style="height: 38px"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'description'">
              <input
                (change)="changeCodes()"
                *ngIf="!viewOnly"
                [(ngModel)]="rowData.description"
                [id]="'description' + rowData.id"
                [name]="'description' + rowData.id"
                class="form-control"
                type="text"
              />
            </div>
            <div *ngSwitchCase="'value'">
              <input
                (change)="changeCodes()"
                *ngIf="!viewOnly"
                [(ngModel)]="rowData.value"
                [id]="'value' + rowData.id"
                [name]="'value' + rowData.id"
                class="form-control"
                required
                type="text"
                pattern="^[^\s]+$"
              />
              <div *ngIf="form.controls['value' + rowData.id]?.errors?.required" class="text-danger">
                Value is required.
              </div>
              <div *ngIf="form.controls['value' + rowData.id]?.errors?.pattern" class="text-danger">No spaces allowed.</div>
            </div>
            <div *ngSwitchCase="'comments'">
              <input
                (change)="changeCodes()"
                *ngIf="!viewOnly"
                [(ngModel)]="rowData.comments"
                [id]="'comments' + rowData.id"
                [name]="'comments' + rowData.id"
                class="form-control"
                type="text"
              />
            </div>
          </td>
        </tr>

        <tr
          *ngIf="viewOnly"
          [pSelectableRow]="rowData"
          [ngClass]="{ 'pattern-row': rowData.hasPattern }"
        >
          <td *ngIf="!viewOnly" style="width: 3em">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns" [ngSwitch]="col.field">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>
