<ng-template #headerControls>
  <div>
    <button class="btn btn-sm btn-primary">
      Commit
    </button>
  </div>
</ng-template>

<ng-template #headerTitle>
  <div>

  </div>
  <h5 style="margin: 0;">
    Code Set Version <span class="badge badge-primary">1</span>
  </h5>
  <div style="height: 100%; display: flex; justify-content: center; align-items: flex-end;">
    <span style="font-size: 0.75em; color: gray; margin-left: 10px;">
      <i class="fa fa-calendar-o"></i>
      Committed On 10/10/2020
    </span>
  </div>

</ng-template>

<app-code-set-table [codeSetVersion]="resource$ | async" [selectedColumns]="selectedColumns" (changes)="updateCodes($event)"></app-code-set-table>


