<ng-container [ngSwitch]="scope">
  <span *ngSwitchCase="'USER'" class="badge scope-badge-user">
    USER <span style="color: white; font-size: 0.5em;">{{version}}</span>
  </span>
  <span *ngSwitchCase="'HL7STANDARD'" class="badge" [ngClass]="{'scope-badge-hl7': version !=='2.x',  'scope-badge-dynamic': version ==='2.x' }">
    HL7 <span style="font-size: 0.9em; font-weight: 300;">{{version}}</span>
  </span>

  <span *ngSwitchCase="'USERCUSTOM'" class="badge scope-badge-custom">
    CUSTOM
  </span>

  <span *ngSwitchCase="'PHINVADS'"
    [ngClass]="{'scope-badge-phinvads': !flavor, 'scope-badge-user': flavor}"
    class="badge">
    PHIN <span style="font-size: 0.9em; font-weight: 300;"></span>
  </span>
  <span *ngSwitchCase="'SDTF'"
        class="badge scope-badge-dynamic">
    SDTF <span style="font-size: 0.9em; font-weight: 300;">{{version}}</span>
  </span>
  <span *ngSwitchCase="'PRELOADED'" class="badge scope-badge-preloaded">
    PUBLISHED
  </span>
</ng-container>
