<ng-container [ngSwitch]="scope">
  <div class="inline-scope-label">
  <span *ngSwitchCase="'USER'" class="badge scope-badge-user" >
    <ng-container [ngSwitch]="resourceOrigin">
      <ng-container *ngSwitchCase="'PHINVADS'">
    PHIN
  </ng-container>
  <ng-container *ngSwitchCase="'CSV'">
    CSV
  </ng-container>
   <ng-container *ngSwitchDefault>
    USR
  </ng-container>
</ng-container>
  <span style="color: white; font-size: 0.9em; font-weight: 300;" *ngIf="resourceOrigin !=='PHINVADS'">{{version}}</span>
  </span>
  <span *ngSwitchCase="'HL7STANDARD'" class="badge" [ngClass]="{'scope-badge-hl7': version !=='2.x',  'scope-badge-dynamic': version ==='2.x' }">
    HL7 <span style="font-size: 0.9em; font-weight: 300;">{{version}}</span>
  </span>

  <span *ngSwitchCase="'USERCUSTOM'" class="badge scope-badge-custom">
    CUSTOM <span style="font-size: 0.9em; font-weight: 300;">{{version}}</span>
  </span>

  <span *ngSwitchCase="'PHINVADS'" class="badge scope-badge-phinvads">
    PHIN <span style="font-size: 0.9em; font-weight: 300;">{{version}}</span>
  </span>
  <span *ngSwitchCase="'SDTF'"
        class="badge scope-badge-dynamic">
    SDTF <span style="font-size: 0.9em; font-weight: 300;">{{version}}</span>
  </span>
  <span *ngSwitchCase="'PUBLISHED'" class="badge scope-badge-preloaded">
    PUBLISHED
  </span>

  <span class="badge  badge-secondary" *ngIf="url" style ="margin-left: 5px;"> EXT </span>

  <span class="badge scope-badge-dynamic" *ngIf="stability && stability ==='Dynamic' " style ="margin-left: 5px;"> DYN </span>
  </div>
</ng-container>
