<div class="page-container-nopad">
  <div class="wrapper">

    <div class="alerts">
      <!-- ALERTS -->
      <ng-container *ngTemplateOutlet="alertsTemplate; context: { }" ></ng-container>
    </div>

    <div class="titlebar">
      <!-- TITLEBAR -->
      <ng-container *ngTemplateOutlet="titleBarTemplate; context: { }" ></ng-container>
    </div>

    <div class="page-container"
        [ngStyle]="{
          'grid-template-columns': '[sidebar] minmax(min-content, '+ (!collapsed ? positionX : '45px') +') [resize-bar] 4px [container] minmax(600px, 8fr)'
        }"
    >

      <div class="container-section">

        <div class="toolbar-controls" >
          <!-- TOOLBAR -->
          <ng-container *ngTemplateOutlet="toolbarTemplate; context: { }" ></ng-container>
        </div>
        <div class="titlebar-content">
          <!-- ACTIVE TITLEBAR -->
          <ng-container *ngTemplateOutlet="activeTitlebarTemplate; context: { }" ></ng-container>
        </div>

        <div class="container-content">
          <!-- EDITOR CONTENT -->
          <ng-container *ngTemplateOutlet="editorContentTemplate; context: { }" ></ng-container>
        </div>

      </div>

      <!-- RESIZE BAR -->
      <div #resize [ngStyle]="{'background-color': dragging ? 'blue' : ''}" class="resize-bar"></div>

      <!-- SIDE NOT COLLAPSED -->
      <ng-container *ngIf="!collapsed">
        <!-- SIDEBAR -->
        <ng-container *ngTemplateOutlet="sideBarTemplate; context: { }" ></ng-container>
      </ng-container>

      <!-- SIDEBAR COLLAPSED -->
      <ng-container *ngIf="collapsed">
        <div style="background-color: white;">
          <div class="collapsed-side-bar-btn-container">
            <app-dam-side-bar-toggle></app-dam-side-bar-toggle>
          </div>
        </div>
      </ng-container>

    </div>

    <div class="page-bottom" *ngIf="bottomDrawerTemplate || statusBarTemplate">
      <div class="status-bar" *ngIf="statusBarTemplate">
        <div style="flex: 1;">
          <ng-container *ngTemplateOutlet="statusBarTemplate; context: { }" ></ng-container>
        </div>
        <app-dam-bottom-toggle></app-dam-bottom-toggle>
      </div>
      <div class="bottom-drawer" *ngIf="bottomDrawerTemplate && !bottomDrawerCollapsed">
        <ng-container *ngTemplateOutlet="bottomDrawerTemplate; context: { }" ></ng-container>
      </div>
    </div>
  </div>
</div>
