%page-container {
  height: 100%;
  width: 100%;
}

.page-container-nopad {
  @extend %page-container;
}

.wrapper {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: [page-content] 1fr;
  // grid-template-rows: [alerts] minmax(min-content,max-content) [row-titlebar] minmax(min-content, 40px) [row-utilities] minmax(min-content, 40px) [row-container] auto;
  grid-template-rows: [alerts] minmax(min-content,max-content) [row-titlebar] minmax(min-content, 40px) [row-container] auto [row-bottom] minmax(min-content,max-content);
  overflow: hidden;
  color: #444;
  height: 100%;
  background-color: #d6d6d6e3;
}

.alerts {
  grid-column: page-content;
  grid-row: alerts;
  background-color: white;
}


.titlebar {
  grid-column: page-content;
  grid-row: row-titlebar;
  padding: 5px;
  background-color: white;
  display: flex;
}

.page-container {
  grid-column: page-content;
  grid-row: row-container;
  display: grid;
  grid-gap: 0px;
  color: #444;
  background-color: #d6d6d6e3;
  grid-template-columns: [sidebar] minmax(min-content, 2fr) [resize-bar] 4px [container] minmax(600px, 8fr);
  grid-template-rows: [page-container-row] auto;
  overflow: hidden;
}

.resize-bar {
  grid-column: resize-bar;
  grid-row: page-container-row;
  border-right: 1px solid rgb(150, 150, 150);
  border-left: 1px solid rgb(150, 150, 150);
  background-color: #ececece3;
  cursor: ew-resize;
}

.resize-bar-drag {
  position: absolute;
  height: 100%;
  width: 2px;
  z-index: 1000;
  background-color: blue;
  cursor: ew-resize;
}

.container-section {
  grid-column: container;
  grid-row: page-container-row;
  background-color: white;
  display: grid;
  grid-gap: 2px;
  color: #444;
  background-color: #d6d6d6e3;
  overflow: hidden;
}

.sidebar {
  grid-column: sidebar;
  grid-row: page-container-row;
  background-color: #d6d6d6e3;
  overflow: hidden;
}

.titlebar-content {
  grid-column: 1;
  grid-row: titlebar;
  padding: 5px;
  background-color: white;
  align-items: center;
  justify-items: center;
  display: flex;
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
  z-index: 1;
}

.toolbar-controls {
  grid-column: 1;
  grid-row: toolbar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

.container-content {
  grid-column: 1 ;
  grid-row: page-container-content;
  display: grid;
  grid-gap: 2px;
  overflow: scroll;
  background-color: white;
  padding: 10px;
}

.collapsed-side-bar-btn-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.collapsed-side-bar-btn {
  border: 1px solid grey;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.page-bottom {
  grid-column: page-content;
  grid-row: row-bottom;
  display: grid;
  grid-gap: 2px;
  color: #444;
  background-color: #d6d6d6e3;
  grid-template-columns: 1fr;
  grid-template-rows: [status-bar-row] 40px [bottom-drawer] auto;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px -2px 5px #888888;
}

.status-bar {
  grid-row: status-bar-row;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

.bottom-drawer {
  grid-row: bottom-drawer;
  max-height: 400px;
  background-color: #fafafa;
}


