<p-dialog [(visible)]="_visible">
    <p-header>
      Add Conformance Profile
    </p-header>
  <div>
    <label class="metadata-label"> Select Hl7 Version</label>


    <p-radioButton [style]="{'margin-left':'10px'}" *ngFor="let v of hl7Versions" name="{{v}}" value="{{v}}" label="{{v}}" [(ngModel)]="selcetedVersion" (click)="getMessages(v)">

    </p-radioButton>
  </div>

  <div>
    <ng-container *ngFor="let selected of getSelected()">

      <label class="badge cp-badge" (click)="unselect(selected)" *ngIf="!selected.children">
        <span style="background-color: red; border-radius: 25%" class="mini-badge">{{selected.parent.data.hl7Version}}</span>    {{selected.data.name}}-{{selected.data.parentStructId}}
        <i class="fa fa-remove cp-remove"></i>
      </label>

    </ng-container>
  </div>

  <p-treeTable *ngIf="selcetedVersion" [value]="tableValue"  selectionMode="checkbox" [(selection)]="selectdNodeMap[selectedVerion]" [style]="{'margin-top':'10px', 'max-height':'400px', 'overflow':'scroll'}">

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>
       Name
      </th>
      <th>
        Event Types
      </th>
      <th>
        Description
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"  let-node="node" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr>
      <td>

        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        <span *ngIf="node.data.type=='EVENTS'"> {{node.data.name}}</span>

      </td>
      <td>
        <span *ngIf="node.data.type=='EVENT' ">  <p-treeTableCheckbox [value]="rowNode" ></p-treeTableCheckbox> {{node.data.name}}</span>




      </td>

      <td>

        {{node.data.description}}
      </td>
    </tr>
  </ng-template>
  </p-treeTable>


  <p-footer>
    <p-button    styleClass="green-btn" [disabled] ="!selectedSize" (onClick)="addMessages()" label="Submit" icon="fa fa-check" iconPos="left"></p-button>
  </p-footer>

</p-dialog>
