:host {
  display: contents;
}

.table-container {
  display: grid;
  grid-template-rows: 40px 1fr;
  overflow: hidden;
  height: 100%;
}

.severity-filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
  background-color: #efefef;
  margin-right: 5px;
}
