<ng-container *ngIf="value$ | async as value">
  <div style="height: 100%; overflow: scroll; padding: 5px;" *ngIf="active$ | async as active">

    <ng-container *ngFor="let tab of tabs$ | async">
      <ng-container *ngIf="active === tab">
        <div *ngIf="value[tab].failed" class="alert alert-danger">
          {{value[tab].failure}}
        </div>
        <app-verification-entry-table [value]="value[tab].table"></app-verification-entry-table>
      </ng-container>
    </ng-container>
  </div>
</ng-container>