<p>Please enter your username and we will send you an email with instructions on how to reset your password.</p>
<form [formGroup]="resetForm" novalidate>
  <app-form-input formControlName="identifier" id="identifier" label="Username" name="Username" placeholder="Enter your username" type="text">
  </app-form-input>
  <div class="p-grid p-col p-justify-end">
    <button (click)="submit()" [disabled]="resetForm.invalid" class="btn btn-primary ">Submit
      Application
    </button>
  </div>
</form>
