

.menu-c {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.menu-c li {
  float: right;
  color: white;
  padding: 10px;
  margin-right: 10px;
  font-size: 15px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.menu-c li:hover {
  background-color: #00cede;
  cursor: pointer;
}

