<p-checkbox  binary="true" label="Include Conformance Profile Table Options"></p-checkbox>
<table class="table table-sm table-striped">
  <tr>
    <th> Usages (Segments/Groups to Export) </th>
  </tr>
  <tr>
    <td>
      <p-checkbox disabled="true" label="R" binary="true"></p-checkbox><br>
      <p-checkbox disabled="true" label="RE" binary="true"></p-checkbox><br>
      <p-checkbox disabled="true" label="C" binary="true"></p-checkbox><br>
      <p-checkbox label="O" binary="true"></p-checkbox><br>
      <p-checkbox label="X" binary="true"></p-checkbox><br>
    </td>
  </tr>
  <tr>
    <th>Metadata</th>
  </tr>
  <tr>
    <div layout="column">
      <div class="config-checkbox">
        <p-checkbox label="HL7 Version" binary="true"></p-checkbox>
      </div>
      <div class="config-checkbox">
        <p-checkbox label="Publication Date" binary="true"></p-checkbox>
      </div>
      <div class="config-checkbox">
        <p-checkbox label="Publication Version" binary="true"></p-checkbox>
      </div>
      <div class="config-checkbox">
        <p-checkbox label="Scope" binary="true"></p-checkbox>
      </div>
    </div>
  </tr>
</table>
