<!-- <p-checkbox  binary="true" label="Include Conformance Profile Table Options"></p-checkbox> -->
<div style="width: 100%; display: flex; align-items: flex-start;">
  <div style="width: 100%;" >

      <p-card header="Usages (Segments/Groups to Export)" [styleClass]="'pcard'" >
        <p-checkbox disabled="true" label="R" binary="true" [(ngModel)]="config.segmentORGroupsMessageExport.r"></p-checkbox>
        <br>
        <p-checkbox disabled="true" label="RE" binary="true" [(ngModel)]="config.segmentORGroupsMessageExport.re"></p-checkbox>
        <br>
        <p-checkbox disabled="true" label="C" binary="true" [(ngModel)]="config.segmentORGroupsMessageExport.c"> </p-checkbox>
        <br>
        <p-checkbox label="O" binary="true" [(ngModel)]="config.segmentORGroupsMessageExport.o" (onChange)="triggerChange()"></p-checkbox>
        <br>
        <p-checkbox label="X" binary="true" [(ngModel)]="config.segmentORGroupsMessageExport.x" (onChange)="triggerChange()"></p-checkbox>
        <br>
      </p-card>

      <p-card header="Metadata" [styleClass]="'pcard'">
          <div class="config-checkbox">
              <p-checkbox label="HL7 Version" binary="true" [(ngModel)]="config.metadataConfig.hl7version" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <div class="config-checkbox">
              <p-checkbox label="Organization" binary="true" [(ngModel)]="config.metadataConfig.organization" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <div class="config-checkbox">
              <p-checkbox label="Author" binary="true" [(ngModel)]="config.metadataConfig.author" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <div class="config-checkbox">
              <p-checkbox label="Type" binary="true" [(ngModel)]="config.metadataConfig.type" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <div class="config-checkbox">
              <p-checkbox label="Role" binary="true" [(ngModel)]="config.metadataConfig.role" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <!-- <div class="config-checkbox">
              <p-checkbox label="Publication Date" binary="true" [(ngModel)]="config.metadataConfig.publicationDate" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <div class="config-checkbox">
              <p-checkbox label="Publication Version" binary="true" [(ngModel)]="config.metadataConfig.publicationVersion" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <div class="config-checkbox">
              <p-checkbox label="Scope" binary="true" [(ngModel)]="config.metadataConfig.scope" (onChange)="triggerChange()"></p-checkbox>
            </div> -->
            <div class="config-checkbox">
              <p-checkbox label="Pre-Definition" binary="true" [(ngModel)]="config.preDef" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <div class="config-checkbox">
              <p-checkbox label="Post-Definition" binary="true" [(ngModel)]="config.postDef" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <div class="config-checkbox">
              <p-checkbox label="Usage Notes " binary="true" [(ngModel)]="config.usageNotes" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <div class="config-checkbox">
              <p-checkbox label="Author Notes" binary="true" [(ngModel)]="config.authorNotes" (onChange)="triggerChange()"></p-checkbox>
            </div>
            
      </p-card>
      
      <p-card header="Constraints" [styleClass]="'pcard'">
          <div class="config-checkbox">
              <p-checkbox label="Conditional Predicates" binary="true" [(ngModel)]="config.constraintExportConfiguration.predicate" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <div class="config-checkbox">
              <p-checkbox label="Conformance Statments" binary="true" [(ngModel)]="config.constraintExportConfiguration.conformanceStatement"
                (onChange)="triggerChange()"></p-checkbox>
            </div>
      </p-card>

      <p-card header="Columns to export" *ngIf="displayColumns" [styleClass]="'pcard'">
           <!-- <div class="config-checkbox">
              <p-checkbox label="Segment Name" binary="true" [(ngModel)]="config.listedColumns.segment.presence" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <div class="config-checkbox">
                <p-checkbox label="Flavor" binary="true" [(ngModel)]="config.listedColumns.flavor.presence" (onChange)="triggerChange()"></p-checkbox>
              </div>
              <div class="config-checkbox">
                <p-checkbox label="Element name" binary="true" [(ngModel)]="config.listedColumns.elementName.presence" (onChange)="triggerChange()"></p-checkbox>
              </div> 
            <div class="config-checkbox">
              <p-checkbox label="Usage" binary="true" [(ngModel)]="config.listedColumns.usage.presence" (onChange)="triggerChange()"></p-checkbox>
            </div>
            <div class="config-checkbox">
              <p-checkbox label="Cardinality" binary="true" [(ngModel)]="config.listedColumns.cardinality.presence" (onChange)="triggerChange()"></p-checkbox>
            </div> -->
            

            <div  *ngFor="let c of config.columns">

                <div class="config-checkbox">
                    <p-checkbox label= {{c.name}} binary="true" [(ngModel)]="c.present" (onChange)="triggerChange()"></p-checkbox>
                  </div>
                

            </div>

      </p-card>


      <!-- <p-card  header="Delta" [styleClass]="'pcard'" *ngIf="!displayColumns"> -->
          <p-card  header="Delta" [styleClass]="'pcardDelta'">
        <div class="delta-container">
            <app-delta-export-configuration [active]="config.deltaMode" [config]="config.deltaConfig" (updateDelta)="applyChange($event)"></app-delta-export-configuration>
          </div>
      </p-card>
  </div>
</div>