<mat-horizontal-stepper #stepper [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>MetaData</ng-template>
    <form [formGroup]="firstFormGroup">
      <mat-form-field class="ui-g-12">
        <input  matInput placeholder="IG Document Title" [(ngModel)]="metaData.title" name="title" formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field class="ui-g-12">
        <input [(ngModel)]="metaData.subTitle" matInput placeholder="IG Document Subtitle" name="subTitle" formControlName="firstCtrl">
      </mat-form-field>

      <mat-form-field class="ui-g-12">
        <input matInput  [(ngModel)]="metaData.organization" placeholder="Organization" name="organization" formControlName="firstCtrl">
      </mat-form-field>
      <div>
        <button matStepperNext style="float: right" class="btn btn-primary" type="button">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Message Events</ng-template>
    <label>Hl7 Version</label>
    <mat-radio-group  [(ngModel)]="selcetedVersion" (change)="load()">
      <mat-radio-button  *ngFor="let v of hl7Versions" value="{{v}}">{{v}}</mat-radio-button>
    </mat-radio-group>



    <p-treeTable [value]="tableValue"  selectionMode="checkbox" [(selection)]="selectedNodes" [style]="{'margin-top':'50px', 'max-height':'400px', 'overflow':'scroll'}"
                 [style]="{'margin-top':'50px'}" >

      <p-header>Message Event</p-header>
      <p-column>
          <ng-template let-col let-node="rowData" pTemplate="header">
            Message
          </ng-template>
          <ng-template let-col let-node="rowData" pTemplate="body">
            <span *ngIf="node.data.type=='message'">
           {{node.data.name}}
            </span>
          </ng-template>
      </p-column>

      <p-column>
        <ng-template let-col let-node="rowData" pTemplate="header">
          Message Event
        </ng-template>
        <ng-template let-col let-node="rowData" pTemplate="body">
            <span *ngIf="node.data.type!=='message'">
                       {{node.data.name}}
            </span>
        </ng-template>
      </p-column>



      <p-column field="description" header="Description"></p-column>
    </p-treeTable>
    <p>Selected Nodes: <span *ngFor="let file of selectedNodes">{{file.data.name}} </span></p>
    <div>
      <button (click)="goBack(stepper)" type="button" [disabled]="stepper.selectedIndex === 0">Backdd</button>
      <button (click)="goForward(stepper);submitEvent()" type="button" [disabled]="stepper.selectedIndex === stepper._steps.length-1">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <mat-progress-spinner *ngIf="loading"></mat-progress-spinner>

    <div>
      <button (click)="goBack(stepper)" type="button" [disabled]="stepper.selectedIndex === 0" >Backdd</button>
    </div>
    <button (click)="create()" type="button">Submit</button>

  </mat-step>


  <!-- one option -->

</mat-horizontal-stepper>

<!-- second option -->

