<form #form="ngForm">

  <p-panel [toggleable]="true" collapseIcon="pi pi-fw pi-chevron-down" expandIcon="pi pi-fw pi-chevron-right" header="Value Set Attributes" [style]="{'margin-bottom':'5px;'}">
    <div class="value-set-attributes">
      <div class="value-set-attributes-col">
        <strong>
          Extensibility:
        </strong>
        <span *ngIf="viewOnly">
          {{valueSet.extensibility}}
        </span>
        <p-dropdown (ngModelChange)="updateExtensibility($event)" *ngIf="!viewOnly" [(ngModel)]="valueSet.extensibility"
                    [options]="extensibilityOptions"
                    id="extensibility" name="extensibility"></p-dropdown>
      </div>
      <div class="value-set-attributes-col">
        <strong>
          Stability:
        </strong>
        <p-dropdown (ngModelChange)="updateStability($event)" *ngIf="!viewOnly" [(ngModel)]="valueSet.stability"
                    [options]="stabilityOptionsOptions"
                    id="stability" name="stability"></p-dropdown>
        <span *ngIf="viewOnly">
        {{valueSet.stability}}
      </span>
      </div>
      <div class="value-set-attributes-col">
        <strong>
          Content Definition:
        </strong>
        <span *ngIf="viewOnly">
          {{valueSet.contentDefinition}}
        </span>
        <p-dropdown (ngModelChange)="updateContentDefinition($event)" *ngIf="!viewOnly"
                    [(ngModel)]="valueSet.contentDefinition" [options]="contentDefinitionOptions"
                    id="contentDef" name="contentDef"></p-dropdown>
      </div>
    </div>

    <div class="code-system-container" *ngIf="valueSet.includeCodes">
        <span class="code-system-label">
          <strong> Source code Systems: </strong>
        </span>
        <span *ngFor="let codeSys of valueSet.codeSystems" class="code-system-badge">
          {{codeSys}}
          <i (click)="deleteCodeSystem(codeSys)" *ngIf="!viewOnly" class="fa fa-remove" style="color: red; cursor: pointer;"></i>
        </span>

      <button (click)="toggleEdit(valueSet.id)" *ngIf="!editMap[valueSet.id] && !viewOnly" class="btn btn-sm btn-primary" style="height: 38px;">
        <i class="fa fa-plus"></i>
      </button>

      <div *ngIf="editMap[valueSet.id]" class="input-group" style="width:200px">
        <input [(ngModel)]="temp" aria-describedby="button-addon2" class="form-control" id="temCodeSystem"
               name="tempCodeSystem"
               placeholder="value" type="text">
        <div class="input-group-append">
          <button (click)="addCodeSystem(valueSet.id)" [disabled]="!temp" class="btn btn-outline-secondary"
                  id="button-addon2" type="button">
            <i class="fa fa-check" style="color: green;"></i>
          </button>
          <button (click)="toggleEdit(valueSet.id)" *ngIf="editMap[valueSet.id] && !viewOnly"
                  class="btn btn-sm btn-danger" style="height: 38px;">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </p-panel>
  <div style="margin-top:5px" >
    <p-panel [toggleable]="true" collapseIcon="pi pi-fw pi-chevron-down" expandIcon="pi pi-fw pi-chevron-right"
             header="Content">
      <div *ngIf="valueSet.includeCodes">
        <p-table #dt1 [(selection)]="selectedCodes" [columns]="selectedColumns" [reorderableColumns]="true" sortField="value"
                 [resizableColumns]="false" [value]="valueSet.codes" selectionMode="checkbox">
          <ng-template pTemplate="caption">
            <div class="codes-toolbar">
              <div class="column-filter">
                <p-multiSelect [(ngModel)]="selectedColumns" [options]="cols" [style]="{minWidth: '200px'}"
                               defaultLabel="Choose Columns" id="columns"
                               name="columns" optionLabel="header"
                               selectedItemsLabel="{0} columns selected"></p-multiSelect>
              </div>
              <div *ngIf="!viewOnly" class="selected-codes-options">
                <div>
                  <p-dropdown (onChange)="applyCodeSystem($event)" [editable]="true"  [disabled]="!selectedCodes.length"  [options]="codeSystemOptions"
                              placeholder="Apply Code System"></p-dropdown>
                </div>
                <div class="apply-usages" style="margin-right: 5px; margin-left: 10px;">
                  <span style="margin-right: 5px">
                   <strong>Apply Usages</strong>
                   </span>

                  <button (click)="applyUsage('P')" [disabled]="!selectedCodes.length"  class="btn btn-sm btn-primary" style="height: 38px;"> P</button>
                  <button (click)="applyUsage('R')"  [disabled]="!selectedCodes.length" class="btn btn-sm btn-primary" style="height: 38px;"> R</button>
                  <button (click)="applyUsage('E')" [disabled]="!selectedCodes.length"  class="btn btn-sm btn-primary" style="height: 38px;"> E</button>
                </div>
              </div>

              <div *ngIf="!viewOnly" class="codes-options">
                <button (click)="deleteCodes()" [disabled]="!selectedCodes.length" class="btn btn-danger"
                        style="margin-right:5px;"
                        type="button">
                  <i class="fa fa-trash"></i> Delete Selected
                  <span class="badge badge-info">{{selectedCodes?.length }}</span>
                </button>
                <button (click)="addCode()" class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Add Code
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template let-columns pTemplate="header">
            <tr>
              <th *ngIf="!viewOnly" style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>

            <tr>
              <th *ngIf="!viewOnly" style="background:#c8c8c8;">
                <i class="fa fa-filter" style="width: 100%"></i>
              </th>
              <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" style="background:#c8c8c8;">
                <input (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)"
                       [placeholder]="' Search by '+col.header" [value]="dt1.filters[col.field]?.value" pInputText
                       type="text">
              </th>
            </tr>
          </ng-template>
          <ng-template let-columns="columns" let-index="rowIndex" let-rowData pTemplate="body">
            <tr #anchor *ngIf="!viewOnly" [pSelectableRow]="rowData">
              <td *ngIf="!viewOnly" style="width: 3em">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <div #anchor *ngSwitchCase="'usage'">
                  <p-dropdown (onChange)="changeCodes()" [(ngModel)]="rowData.usage" [appendTo]="anchor"
                              [id]="'usage'+rowData.id" [name]="'usage'+rowData.id" [options]="codeUsageOptions"
                              placeholder="select code usage" [style]="{'minWidth':'90%'}"></p-dropdown>

                </div>
                <div #anchor *ngSwitchCase="'codeSystem'">
                  <div *ngIf="!editMap[rowData.id]" class="input-group" class="code-system-column">
                    <div class="dropdown-column">
                      <p-dropdown [(ngModel)]="rowData.codeSystem" [appendTo]="anchor"
                                  [id]="'codeSystem'+rowData.id" [name]="'codeSystem'+rowData.id"
                                  [options]="codeSystemOptions" [readonly]="viewOnly"
                                  [style]="{'minWidth': '100%', 'maxWidth':'100%'}"
                                  autoZIndex="true"
                                  placeholder="select code system" (ngModelChange)="updateAttribute('CODES', valueSet.codes)"></p-dropdown>
                    </div>
                    <div class="dropdown-button-column">
                      <button (click)="toggleEdit(rowData.id)" class="btn btn-sm btn-primary">
                        <i class="fa fa-plus"></i></button>
                    </div>
                  </div>
                  <div *ngIf="editMap[rowData.id]" class="input-group">
                    <input [(ngModel)]="temp" aria-describedby="button-addon2" class="form-control" id="tempCodeSystem"
                           name="tempCodeSystem" placeholder="value" type="text">
                    <div class="input-group-append">
                      <button (click)="addCodeSystemFormCode(rowData)" [disabled]="!temp"
                              [id]="'button-addon'+ rowData.id" class="btn btn-outline-secondary" type="button"><i
                        class="fa fa-check" style="color: green;"></i></button>
                      <button (click)="toggleEdit(rowData.id)" *ngIf="editMap[rowData.id] && !viewOnly"
                              class="btn btn-sm btn-danger" style="height: 38px;">
                        <i class="fa fa-trash"></i></button>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="'description'">
                  <input (ngModelChange)="changeCodes()" *ngIf="!viewOnly" [(ngModel)]="rowData.description"
                         [id]="'description'+rowData.id"
                         [name]="'description'+rowData.id" class="form-control"
                         placeholder="set code description"
                         type="text">
                </div>
                <div *ngSwitchCase="'value'">
                  <input (ngModelChange)="changeCodes()" *ngIf="!viewOnly" [(ngModel)]="rowData.value"
                         [id]="'value'+rowData.id" [name]="'value'+rowData.id"
                         class="form-control" placeholder="set code value" required
                         type="text">
                </div>
                <div *ngSwitchCase="'comments'">
                  <input (ngModelChange)="changeCodes()" *ngIf="!viewOnly" [(ngModel)]="rowData.comments"
                         [id]="'comments'+rowData.id"
                         [name]="'comments'+rowData.id" class="form-control" placeholder="add comments"
                         type="text">
                </div>
              </td>
            </tr>

            <tr *ngIf="viewOnly" [pSelectableRow]="rowData">
              <td *ngIf="!viewOnly" style="width: 3em">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns" [ngSwitch]="col.field">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div *ngIf="!valueSet.includeCodes">
        <div *ngIf="viewOnly">
          <label  class="form-label-lg">URL: </label>
          <a [href]="valueSet.url" target="_blank">{{valueSet.url}}</a>
        </div>
        <div class="form-group" *ngIf="!viewOnly">
          <label  class="form-label-lg"> URL</label>
        <input required id="url" name="url" type="url" (ngModelChange)="updateURl($event)"  placeholder="enter a valid url"  pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" [(ngModel)]="valueSet.url" class="form-control" width="100%"/>
           <div *ngIf="form.controls['url'] && form.controls['url'].invalid" class="input-form-invalid-feedback" style="margin-left: 10px;">
             <span style="color:red"> Enter a valid URL</span>
           </div>
        </div>
        <div class="form-group" *ngIf="!viewOnly && !valueSet.includeCodes && valueSet.contentDefinition =='Intensional'">
          <label  class="form-label-lg"> Description</label>
          <input required id="intensionalComment" name="intensionalComment" type="text"  placeholder="Description"  [(ngModel)]="valueSet.intensionalComment" (ngModelChange)="updateAttribute('INTENSIONALCOMMENT' ,valueSet.intensionalComment)" class="form-control" width="100%"/>
        </div>
        <div>
        </div>
      </div>
    </p-panel>
  </div>
</form>
