<p-dialog [(visible)]="_visible">
  <p-header>
    Choose Name of your flavor
  </p-header>
  <form #namingForm="ngForm" novalidate>

    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="'TEXT'">
        <input class="ui-g-12" name="name" id="name" required pInputText #label="ngModel"
               [(ngModel)]="name">
      </ng-container>
      <ng-container *ngSwitchCase="'DATATYPE'">
        <div class="ui-g" style="margin-top:30px; padding: 4px;">


          <input class="ui-g-5" name="name" id="name" pInputText #label="ngModel"
                 [(ngModel)]="name"  disabled>
          <span style=" border-bottom: 1px solid;
    width: 20px;"></span>

          <input class="ui-g-6" name="ext" id="ext" #ext="ngModel"
                 DatatypeNamingConvention NamingDuplication
                 [existing]="namingIndicators" [label]="name" type="text" placeholder="LAAA"
                 pInputText [(ngModel)]="userExt"
                 required minlength="4" maxlength="4"/>

          <div class="ui-g-12">

            <div class="ui-g-5">
            *Convention: (LAAA)
              <br>
              L :Letter
              <br>
              A :Alphanumeric
            </div>




          <div *ngIf="namingForm.controls.ext&& namingForm.controls.ext.errors" class="ui-g-offset-5">


            <div *ngIf="namingForm.controls.ext.errors.required">
              <p-message severity="error" text="extension is required"></p-message>
            </div>
            <div *ngIf="namingForm.controls.ext.errors.maxlength">
              <p-message severity="error" text="extension is too long"></p-message>

            </div>
            <div *ngIf="namingForm.controls.ext.errors.minlength">
              <p-message severity="error" text="extension is too short"></p-message>

            </div>
            <div *ngIf="namingForm.controls.ext.errors.duplicated">
              <p-message severity="error" text="extension is duplicated"></p-message>

            </div>
            <div *ngIf="namingForm.controls.ext.errors.invalidConvention">
              <p-message severity="error" text="invalid convention (LAAA)"></p-message>

            </div>

          </div>

          </div>
        </div>

      </ng-container>
      <ng-container *ngSwitchCase="'SEGMENT'">

        <div class="ui-g" style="margin-top:30px; padding: 4px;">


          <input class="ui-g-4" name="name" id="name" pInputText #label="ngModel"
                 [(ngModel)]="name"  disabled>
          <span style=" border-bottom: 1px solid;
    width: 20px;"></span>

          <input class="ui-g-6" name="ext" id="ext" #ext="ngModel"
                 NamingDuplication
                 [existing]="namingIndicators" [label]="name" type="text"
                 pInputText [(ngModel)]="userExt"
                 required minlength="4" maxlength="4"/>

          <div *ngIf="namingForm.controls.ext&& namingForm.controls.ext.errors"  class="ui-g-offset-4 ui-g-6">


            <div *ngIf="namingForm.controls.ext.errors.required">
              <p-message severity="error" text="extension is required"></p-message>
            </div>
            <div *ngIf="namingForm.controls.ext.errors.maxlength">
              <p-message severity="error" text="extension is too long"></p-message>

            </div>
            <div *ngIf="namingForm.controls.ext.errors.minlength">
              <p-message severity="error" text="extension is too short"></p-message>

            </div>
            <div *ngIf="namingForm.controls.ext.errors.duplicated">
              <p-message severity="error" text="extension is duplicated"></p-message>

            </div>
            <div *ngIf="namingForm.controls.ext.errors.invalidConvention">
              <p-message severity="error" text="invalid convention (LAAA)"></p-message>

            </div>

          </div>


        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'VALUESET'">
        <div class="ui-g" style="margin-top:30px; padding: 4px;">

          <label class="metadata-label ui-g-4"> Binding Indentifier</label>
          <input class="ui-g-6" name="bindingIdentifier" id="bindingIdentifier" #bindingIdentifier="ngModel"
                 NamingDuplication
                 [existing]="namingIndicators" [label]="name" type="text" placeholder="LAAA"
                 pInputText [(ngModel)]="name"
                 required/>

          <div *ngIf="namingForm.controls.bindingIdentifier&& namingForm.controls.bindingIdentifier.errors" class="ui-g-offset-4">


            <div *ngIf="namingForm.controls.bindingIdentifier.errors.required">
              <p-message severity="error" text="binding identifier is required"></p-message>
            </div>
            <div *ngIf="namingForm.controls.bindingIdentifier.errors.duplicated">
              <p-message severity="error" text="extension is duplicated"></p-message>

            </div>

          </div>


        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'CONFORMANCEPROFILE'">

        <div class="ui-g" style="margin-top:30px;  padding: 4px;">


          <input class="ui-g-6" name="name" id="name" pInputText #label="ngModel"
                 [(ngModel)]="name" disabled>
          <span style=" border-bottom: 1px solid;
                   width: 20px;"></span>

          <input class="ui-g-4" name="ext" id="ext" #ext="ngModel"
                 NamingDuplication
                 [existing]="namingIndicators" [label]="name" type="text" placeholder="Message Identifier"
                 pInputText [(ngModel)]="userExt"
                 required minlength="4" maxlength="4"/>

          <div *ngIf="namingForm.controls.ext&& namingForm.controls.ext.errors"  class="ui-g-offset-6 ui-g-6">


            <div *ngIf="namingForm.controls.ext.errors.required">
              <p-message severity="error" text="Identifier is Required"></p-message>
            </div>
            <div *ngIf="namingForm.controls.ext.errors.maxlength">
              <p-message severity="error" text="Identifier is too long"></p-message>

            </div>
            <div *ngIf="namingForm.controls.ext.errors.minlength">
              <p-message severity="error" text="Identifier is too short"></p-message>

            </div>
            <div *ngIf="namingForm.controls.ext.errors.duplicated">
              <p-message severity="error" text="Identifier is duplicated"></p-message>

            </div>
            <div *ngIf="namingForm.controls.ext.errors.invalidConvention">
              <p-message severity="error" text="invalid convention "></p-message>

            </div>

          </div>
        </div>
      </ng-container>

    </ng-container>


  </form>


  <p-footer>
    <p-button styleClass="green-btn" (onClick)="submit()" [disabled]="!namingForm.valid" label="Submit"
              icon="fa fa-check" iconPos="left"></p-button>
  </p-footer>


</p-dialog>


