<form [formGroup]="updatePasswordForm" novalidate>

  <app-form-input type="password" id="password" name="Password" formControlName="password" placeholder="Enter Password"
    label="Password*"></app-form-input>
  <app-form-input type="password" id="confirmpassword" name="Password confirmation" formControlName="confirm"
    (change)="refreshConfirmPasswordValidation()" placeholder="Confirm Password" label="Confirm password*">
  </app-form-input>

  <div class="p-grid p-col p-justify-end">
    <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="updatePasswordForm.invalid">
      Change Password
    </button>
  </div>

</form>
