<form [formGroup]="updatePasswordForm" novalidate>

  <app-form-input formControlName="password" id="password" label="Password*" name="Password" placeholder="Enter Password"
                  type="password"></app-form-input>
  <app-form-input (change)="refreshConfirmPasswordValidation()" formControlName="confirm" id="confirmpassword" label="Confirm password*"
                  name="Password confirmation" placeholder="Confirm Password"
                  type="password">
  </app-form-input>

  <div class="p-grid p-col p-justify-end">
    <button (click)="submit()" [disabled]="updatePasswordForm.invalid" class="btn btn-primary" type="submit">
      Change Password
    </button>
  </div>

</form>
