<div [ngModelGroup]="groupName">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <label>IF Assertion Level: </label>
        </div>
        <div class="ui-g-12 ui-md-10">
            <p-dropdown id="ifAssertionMode" name="ifAssertionMode" required #ifAssertionMode="ngModel" [options]="assertionModes" [(ngModel)]="constraint.ifAssertion.mode" (onChange)="makeConstraintMode(constraint.ifAssertion)"></p-dropdown>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <label>IF Assertion: </label>
        </div>
        <div class="ui-g-12 ui-md-10">
            <edit-simple-constraint *ngIf="constraint.ifAssertion.mode === 'SIMPLE'" [constraint]="constraint.ifAssertion" [idMap]="idMap" [treeData]="treeData" [ifVerb]="true" [groupName]="groupName + '-ifSimple'"></edit-simple-constraint>
            <edit-complex-constraint *ngIf="constraint.ifAssertion.mode !== 'SIMPLE'" [constraint]="constraint.ifAssertion" [idMap]="idMap" [treeData]="treeData" [limited]="true" [ifVerb]="true" [groupName]="groupName + '-ifComplex'"></edit-complex-constraint>
        </div>
    </div>

    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <label>THEN Assertion Level: </label>
        </div>
        <div class="ui-g-12 ui-md-10">
            <p-dropdown id="thenAssertionMode" name="thenAssertionMode" required #thenAssertionMode="ngModel" [options]="assertionModes" [(ngModel)]="constraint.thenAssertion.mode" (onChange)="makeConstraintMode(constraint.thenAssertion)"></p-dropdown>
        </div>
    </div>

    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <label>THEN Assertion: </label>
        </div>
        <div class="ui-g-12 ui-md-10">
            <edit-simple-constraint *ngIf="constraint.thenAssertion.mode === 'SIMPLE'" [constraint]="constraint.thenAssertion" [idMap]="idMap" [treeData]="treeData" [groupName]="groupName + '-thenSimple'"></edit-simple-constraint>
            <edit-complex-constraint *ngIf="constraint.thenAssertion.mode !== 'SIMPLE'" [constraint]="constraint.thenAssertion" [idMap]="idMap" [treeData]="treeData" [limited]="true" [groupName]="groupName + '-thenComplex'"></edit-complex-constraint>
        </div>
    </div>
</div>
