<div [ngModelGroup]="groupName">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <label for="id">ID: </label>
        </div>
        <div class="ui-g-12 ui-md-10">
            <input id="id" name="id" class="form-control" required [(ngModel)]="constraint.identifier" type="text" #id="ngModel"/>
            <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
                <div *ngIf="id.errors.required">
                    ID is required.
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-md-2">
            <label for="id">Pattern Definition: </label>
        </div>
        <div class="ui-g-12 ui-md-10">
            <div [innerHTML]="write(selected)"></div>
            <i class="fa fa-pencil" (click)="edit(selected)"></i>
        </div>
    </div>

    <div *ngFor="let p of propsotions">
        <strong>{{p.id}}</strong><br>
        <edit-simple-proposition [assertion]="p" [structure]="structure" [groupName]="p.id"></edit-simple-proposition>
    </div>

    <div *ngFor="let d of declarations">
        <strong>{{d.id}}</strong><br>
        <edit-simple-constraint [assertion]="d" [structure]="structure" [groupName]="d.id"></edit-simple-constraint>
    </div>
</div>

<app-pattern-dialog></app-pattern-dialog>