<div [ngModelGroup]="groupName">
    <div *ngFor="let child of constraint.assertions; let idx = index">
        <div class="ui-g ui-fluid" *ngIf="idx!==0">
            <div class="ui-g-12 ui-md-5">
            </div>
            <div class="ui-g-12 ui-md-2">
                <button pButton type="button" label="{{constraint.operator}}" class="green-btn circle-button" (click)="changeOperator()"></button>
            </div>
            <div class="ui-g-12 ui-md-5">
            </div>
        </div>

        <p-panel [toggleable]="true" [ngModelGroup]="groupName + '-Child' + idx">
            <p-header>
                [#{{idx + 1}}] Assertion <i class="fa fa-times" *ngIf="constraint.assertions.length > 2" (click)="constraint.assertions.splice(idx, 1)"></i>
            </p-header>

            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-2">
                    <label>[#{{idx + 1}}] Child Assertion Level:</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    <p-dropdown id="{{groupName}}-Child{{idx}}-mode" name="{{groupName}}-Child{{idx}}-mode" required [options]="assertionModes" [(ngModel)]="child.mode" [group]="true" (onChange)="makeConstraintMode(child)"></p-dropdown>
                </div>
            </div>

            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-2">
                    <label>[#{{idx + 1}}] Child Assertion: </label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    <edit-simple-constraint *ngIf="child.mode === 'SIMPLE'" [constraint]="child" [idMap]="idMap" [treeData]="treeData" [ifVerb]="ifVerb" [groupName]="groupName + '-Child' + idx +'-simple'"></edit-simple-constraint>
                    <edit-complex-constraint *ngIf="child.mode !== 'SIMPLE'" [constraint]="child" [idMap]="idMap" [treeData]="treeData" [limited]="true" [ifVerb]="ifVerb" [groupName]="groupName + '-Child' + idx +'-complex'"></edit-complex-constraint>
                </div>
            </div>
        </p-panel>

        <div class="ui-g ui-fluid" *ngIf="idx===constraint.assertions.length - 1">
            <div class="ui-g-12 ui-md-5">
            </div>
            <div class="ui-g-12 ui-md-2">
                <button pButton type="button" icon="fa-plus" class="blue-btn circle-button" (click)="addConstraint()"></button>
            </div>
            <div class="ui-g-12 ui-md-5">
            </div>
        </div>
    </div>
</div>
