 <div class="ui-g">
    <div class="ui-g-6">
Scope: {{scopeTarget}}

      <p-table #tt *ngIf="list"  [value]="list" sortField="name" sortMode="single" [scrollable]="true" scrollHeight="200px" [resizableColumns]="true"   [virtualScroll]="true" [virtualRowHeight]="28" [rows]="20" scrollHeight="200px"  [globalFilterFields]="['name','description']" >

        <ng-template pTemplate="caption">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pResizableColumn width="75px">
              Data Type Name
            </th>

            <th pResizableColumn width="250px">
              Compatibility Version
            </th>

            <th pResizableColumn width="75px">
              Add
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td class="ui-resizable-column" width="75px">
                {{rowData.name}}
            </td>
            <td class="ui-resizable-column" width="250px">

              <p-radioButton  *ngFor="let v of rowData.domainInfo.compatibilityVersion" name="{{v}}" value="{{v}}" label="{{v}}" [(ngModel)]="rowData.domainInfo.version"></p-radioButton>


            </td>
            <td class="ui-resizable-column" width="75px">
              <button  [disabled]="!rowData.domainInfo.version" type="button" icon="fa fa-plus" pButton (click)="add(rowData)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>


    </div>
    <div class="ui-g-6">

      <form #addingEditForm="ngForm">


        <p-table #dst *ngIf="dest&&dest.length"  [value]="dest" sortField="name" sortMode="single" [scrollable]="true" scrollHeight="200px" [resizableColumns]="true"  [globalFilterFields]="['name','description']" >

          <ng-template pTemplate="caption">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dst.filterGlobal($event.target.value, 'contains')" style="width:80%">
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pResizableColumn width="250px">
                Data Type
              </th>
              <th pResizableColumn width="75px">
                Extension
              </th>
              <th pResizableColumn width="75px">
                Actions
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData   let-i="rowIndex">
            <tr>
              <td class="ui-resizable-column" width="250px">

       <span class="badge"  [ngClass]="{'label-HL7' : getScopeLabel(rowData)==='HL7', 'label-USE': getScopeLabel(rowData)==='USR','label-MASTER':getScopeLabel(rowData)==='MAS','label-PRL':getScopeLabel(rowData)==='PRL','label-PVS':getScopeLabel(rowData)==='PVS'}">

       {{getScopeLabel(rowData)}} {{rowData.domainInfo.version}}
       </span>
                {{rowData.name}}
              </td>
              <td class="ui-resizable-column" width="75px">
                  <input [name]="rowData.name+i"   width="70px" [id]="rowData.name+i"  #extension ="ngModel"  type="text" [(ngModel)]="rowData.ext" pInputText [pKeyFilter]="ccRegex" [pValidateOnly]="true" placeholder="01" required minlength="2" maxlength="2">

                <div *ngIf="addingEditForm.controls[rowData.name+i]&&addingEditForm.controls[rowData.name+i].errors" style="color:red; font-size: 11px">
                  <div *ngIf="addingEditForm.controls[rowData.name+i].errors.required">
                    <span>*extension is required</span>

                  </div>
                  <div *ngIf="addingEditForm.controls[rowData.name+i].errors.maxlength">
                    <span> *extension is too long</span>

                  </div>
                  <div  *ngIf="addingEditForm.controls[rowData.name+i].errors.minlength">
                    <span> *extension is too short</span>


                  </div>
                  <div  *ngIf="addingEditForm.controls[rowData.name+i].errors.duplicated">
                    <span> *extension is duplicated</span>

                  </div>
                  <div *ngIf="!addingEditForm.controls[rowData.name+i].errors.validatePattern">
                    <span> *invalid convention (DD)</span>
                  </div>

                </div>

              </td>
              <td class="ui-resizable-column" width="75px">
                <button type="button" icon="fa fa-remove" (click)="remove(rowData);print(addingEditForm.controls)" pButton class="ui-button-danger"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </form>

    </div>


  </div>

