<div *ngIf="segmentConformanceStatements">
    <form #editForm="ngForm">
        <entity-header [elm]="segmentConformanceStatements"  (save)="save()" (reset)="reset()" [hasChanged]="hasChanged()" [canSave]="canSave()"></entity-header>
        <div class="section-content">
            <p-accordion (onOpen)="onTabOpen($event)">
                <p-accordionTab header="List of Conformance Statements" [(selected)]="listTab">
                    <p-table [columns]="cols" [value]="segmentConformanceStatements.conformanceStatements" [reorderableColumns]="true" [resizableColumns]="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width:3em"></th>
                                <th *ngFor="let col of columns" pReorderableColumn [pSortableColumn]="col.sort" [ngStyle]="col.colStyle" pResizableColumn>
                                    {{col.header}}
                                    <p-sortIcon *ngIf="col.colStyle" [field]="col.field"></p-sortIcon>
                                </th>
                                <th *ngIf="!segmentConformanceStatements.readOnly" style="width:15em" pReorderableColumn>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                            <tr [pReorderableRow]="index">
                                <td>
                                    <i class="fa fa-bars" pReorderableRowHandle></i>
                                </td>
                                <td *ngFor="let col of columns" class="ui-resizable-column">
                                    <div *ngIf="col.field === 'identifier'">
                                        {{rowData[col.field]}}
                                    </div>
                                    <div *ngIf="col.field === 'description'">
                                        <div *ngIf="rowData['type'] === 'FREE'">
                                            {{rowData['freeText']}}
                                        </div>
                                        <div *ngIf="rowData['type'] === 'ASSERTION'">
                                            {{rowData['assertion'].description}}
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="!segmentConformanceStatements.readOnly">
                                    <button pButton style="float: right" type="button"  class="ui-button-warning" icon="fa fa-times" label="Delete" (click)="deleteCS(rowData['identifier'], false)"></button>
                                    <button pButton style="float: right" type="button"  class="ui-button-info" icon="fa fa-pencil" label="Edit" (click)="selectCS(rowData);"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template *ngIf="!segmentConformanceStatements.readOnly" pTemplate="summary" let-rowData>
                            <div style="text-align:left">
                                <button type="button" pButton icon="fa fa-plus" (click)="addNewCS()" label="Create New Conformance Statement"></button>
                            </div>
                        </ng-template>
                    </p-table>
                </p-accordionTab>

                <p-accordionTab header="Associated Datatype Conformance Statements">
                    <div *ngIf="keys">
                        <div *ngFor="let key of keys">
                            <label>{{key}}</label>
                            <p-table [columns]="cols" [value]="segmentConformanceStatements.associatedConformanceStatementMap[key].conformanceStatements" [reorderableColumns]="true" [resizableColumns]="true">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width:3em"></th>
                                        <th *ngFor="let col of columns" pReorderableColumn [pSortableColumn]="col.sort" [ngStyle]="col.colStyle" pResizableColumn>
                                            {{col.header}}
                                            <p-sortIcon *ngIf="col.colStyle" [field]="col.field"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                                    <tr [pReorderableRow]="index">
                                        <td>
                                            <i class="fa fa-bars" pReorderableRowHandle></i>
                                        </td>
                                        <td *ngFor="let col of columns" class="ui-resizable-column">
                                            <div *ngIf="col.field === 'identifier'">
                                                {{rowData[col.field]}}
                                            </div>
                                            <div *ngIf="col.field === 'description'">
                                                <div *ngIf="rowData['type'] === 'FREE'">
                                                    {{rowData['freeText']}}
                                                </div>
                                                <div *ngIf="rowData['type'] === 'ASSERTION'">
                                                    {{rowData['assertion'].description}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <br/>
                        </div>
                    </div>
                </p-accordionTab>

                <p-accordionTab *ngIf="!segmentConformanceStatements.readOnly" header="Conformance Statement Editor" [(selected)]="editorTab">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-2">
                            <label>Editor Type: </label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <p-selectButton name="type" [options]="constraintTypes" [(ngModel)]="selectedConformanceStatement.displayType" (onChange)="changeType()"></p-selectButton>
                        </div>
                    </div>

                    <div *ngIf="selectedConformanceStatement.displayType">
                        <edit-free-constraint *ngIf="selectedConformanceStatement.displayType === 'free'" [constraint]="selectedConformanceStatement"></edit-free-constraint>
                        <edit-simple-constraint *ngIf="selectedConformanceStatement.displayType === 'simple'" [constraint]="selectedConformanceStatement" [assertion]="selectedConformanceStatement.assertion" [structure]="segmentStructure" [groupName]="'simple'"></edit-simple-constraint>
                        <edit-simple-proposition-constraint *ngIf="selectedConformanceStatement.displayType === 'simple-proposition'" [constraint]="selectedConformanceStatement" [ifAssertion]="selectedConformanceStatement.assertion.ifAssertion"  [thenAssertion]="selectedConformanceStatement.assertion.thenAssertion" [structure]="segmentStructure" [groupName]="'simpleproposition'"></edit-simple-proposition-constraint>
                        <edit-complex-constraint *ngIf="selectedConformanceStatement.displayType === 'complex'" [constraint]="selectedConformanceStatement" [structure]="segmentStructure" [groupName]="'complex'"></edit-complex-constraint>
                    </div>

                    <button pButton style="float: right" type="button"  class="blue-btn" icon="fa fa-plus" label="Submit" (click)="submitCS()" [disabled]="editForm.invalid"></button>
                </p-accordionTab>
            </p-accordion>
        </div>
    </form>

    <app-cs-dialog></app-cs-dialog>
</div>